<div class="wrap" *ngIf="channel$ | async as channel">
  <div class="body">
    <div class="section">
      <h2>概要</h2>
      <p class="description">
        {{ channel.description ? channel.description : '概要文はありません' }}
      </p>
    </div>

    <mat-divider></mat-divider>

    <h2>お問い合わせ</h2>

    <button
      *ngIf="!showMail; else email"
      mat-flat-button
      (click)="showMail = true"
    >
      メールアドレスの表示
    </button>
    <ng-template #email>
      <re-captcha
        *ngIf="!valid"
        (resolved)="resolved($event)"
        [siteKey]="captchaKey"
      ></re-captcha>
      <p *ngIf="valid">
        <a target="_blank" rel="noopener" href="mailto:{{ channel.contact }}">
          {{ channel.contact }}
        </a>
      </p>
    </ng-template>
  </div>

  <div class="adide">
    <h2 class="aside__title">統計情報</h2>
    <p class="aside__item">
      {{ channel.createdAt.toDate() | date: 'yyyy/MM/dd' }} に登録
    </p>
    <p class="aside__item">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdmTwYAHP0BSGKaIyOltfivwC2DNxtDV-XSJsDbRqzwvkuJiA/viewform?usp=pp_url&entry.1217145011={{
          channel.id
        }}"
        target="_blank"
        rel="noopener"
        mat-icon-button
        ><mat-icon class="mat-18">flag</mat-icon></a
      >
    </p>
  </div>
</div>
