<a
  class="lesson"
  *ngIf="lesson"
  [routerLink]="['/lesson']"
  [queryParams]="{
    v: lesson.id,
    cause: causeId
  }"
>
  <figure
    class="lesson__thumbnail"
    [style.background-image]="
      lesson.thumbnailURL ? 'url(' + lesson.thumbnailURL + ')' : null
    "
  >
    <span *ngIf="!lesson.thumbnailURL"
      ><span>{{ lesson.title }}</span></span
    >
  </figure>
  <div class="lesson__meta">
    <div *ngIf="!simple" class="lesson__avatar">
      <img [src]="lesson.author.avatarURL | safe: 'url'" alt="" />
    </div>
    <div class="lesson__body">
      <h3 class="lesson__title" style="-webkit-box-orient: vertical;">
        {{ lesson.title }}
      </h3>
      <p class="lesson__sub" *ngIf="!noDate">
        <span>
          {{ lesson.createdAt | fromNow }}
        </span>
        <span *ngIf="lesson.free" class="lesson__free">無料</span>
      </p>
    </div>
  </div>
</a>
