@import 'mixins';
@import '~@angular/material/theming';

.lesson {
  @include mat-elevation(2);
  border-radius: 4px;
  overflow: hidden;
  display: block;
  cursor: pointer;
  background: #fff;
  transition: 0.3s;
  height: 100%;
  &:hover {
    @include mat-elevation(4);
  }
  @include sp {
    box-shadow: none;
    border-radius: 0;
    background: none;
    &:hover {
      box-shadow: none;
    }
  }
  &__thumbnail {
    display: block;
    padding-bottom: 56%;
    background: #fafafa center/cover;
    position: relative;
    @include sp {
      margin-bottom: 12px;
    }
    > span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 16px 24px;
      background: #fff;
      color: rgba(black, 0.87);
      span {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        letter-spacing: 1px;
      }
    }
  }
  &__title {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 8px;
    font-weight: 500;
    max-height: 32px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__sub {
    font-size: 13px;
    color: rgba(black, 0.6);
    line-height: 1;
    display: flex;
    align-items: center;
  }
  &__meta {
    display: flex;
    align-items: center;
    padding: 16px;
    @include sp {
      padding: 0 16px;
    }
  }
  &__body {
    flex: 1;
  }
  &__avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: block;
    margin-right: 12px;
  }
  &__free {
    font-size: 12px;
    padding: 2px 12px;
    border-radius: 4px;
    border: 1px solid rgba(black, 0.12);
    margin-left: 16px;
  }
}
