@import "mixins";

.lesson {
  * {
    cursor: pointer;
  }
  &__thumbnail {
    display: block;
    padding-bottom: 56%;
    background: #fafafa center/cover;
    margin-bottom: 12px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    @include sp {
      border-radius: 0;
    }
    > span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 16px;
      background: #2a2730;
      color: #ffffff;
      span {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        letter-spacing: 1px;
        opacity: 0.87;
      }
    }
  }
  &__title {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 8px;
    font-weight: 500;
    max-height: 32px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    width: 100%;
  }
  &__sub {
    font-size: 13px;
    color: rgba(black, .6);
    line-height: 1;
  }
  &__meta {
    display: flex;
    align-items: center;
    @include sp {
      padding: 0 16px;
    }
  }
  &__body {
    flex: 1;
  }
  &__avatar {
    display: none;
    @include sp {
      display: block;
    }
  }
  &__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin-right: 16px;
  }
}
