<h1 matDialogTitle>クレジットカードを{{ isEdit ? '変更' : '登録' }}</h1>

<mat-dialog-content>
  <ng-container *ngIf="user$ | async as user">
    <form
      class="form"
      novalidate
      (ngSubmit)="submit()"
      [formGroup]="stripeForm"
      [class.is-loading]="isLoading"
    >
      <div id="card-element" class="field"></div>

      <mat-form-field class="name">
        <mat-label>カードの名義</mat-label>
        <input
          type="text"
          matInput
          autocomplete="off"
          formControlName="name"
          placeholder="TARO YAMADA"
        />
      </mat-form-field>

      <p class="form__notice">
        <a href="https://stripe.com" target="_blank" rel="noopener">
          <img
            src="/assets/images/powered-by-stripe.svg"
            alt="powered by stripe"
          />
        </a>
      </p>

      <ul class="form__note">
        <li>カード情報は世界的に信頼が厚いStripeで厳重に管理されます。</li>
        <li>
          サービスではクレジットカード情報を保持しないので漏洩の心配はありません。
        </li>
      </ul>
    </form>

    <div *ngIf="isLoading">
      <div class="doing">
        <mat-spinner [diameter]="32"></mat-spinner>
        <p>カード登録中です。</p>
      </div>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>キャンセル</button>
  <button
    (click)="submit()"
    mat-raised-button
    color="primary"
    [disabled]="invalid || isLoading"
  >
    {{ customerId ? '更新' : '登録' }}
  </button>
</mat-dialog-actions>
