.doing {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  mat-spinner {
    margin: 0 auto 16px;
  }
  p {
    color: rgba(black, 0.38);
    font-size: 13px;
  }
}

.field {
  margin: 16px 0 32px;
  display: block;
}

.form {
  &__notice {
    margin: 0;
    font-size: 13px;
    text-align: right;
  }
  &__footer {
    text-align: right;
  }
  &__note {
    margin: 16px 0;
    color: rgba(black, 0.38);
    font-size: 13px;
  }
}

.name {
  width: 100%;
}

.is-loading {
  display: none;
}
