@import "mixins";

:host {
  display: block;
  padding: 24px 64px 80px;
  @include sp {
    padding: 0;
  }
}

.list {
  margin-bottom: 40px;
  display: block;
}

.saerch-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 1;
  app-search-kit {
    width: 80%;
    display: block;
  }
}
