<ais-instantsearch [config]="algoliaConfig">
  <ais-configure [searchParameters]="searchParameters"> </ais-configure>
  <div class="saerch-bar mat-elevation-z2">
    <app-search-kit></app-search-kit>
  </div>
</ais-instantsearch>

<ais-instantsearch [config]="algoliaConfig" class="list">
  <ais-configure [searchParameters]="searchParameters"> </ais-configure>

  <ais-hits>
    <ng-template let-hits="hits" let-results="results">
      <ng-container *ngIf="hits && hits.length">
        <div class="lesson-grid">
          <app-grid-lesson-item
            *ngFor="let hit of hits | attachmentUser | async"
            [lesson]="hit"
          ></app-grid-lesson-item>
        </div>

      </ng-container>
    </ng-template>
  </ais-hits>
</ais-instantsearch>
