<h1>本人確認</h1>

<p class="info">
  プランを開始するには本人確認と売上入金用の口座登録が必要です。
</p>

<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!loading">
  <mat-card>
    <h2>事業者の種類</h2>
    <mat-radio-group formControlName="business_type">
      <mat-radio-button value="individual">個人</mat-radio-button>
      <mat-radio-button value="company">法人</mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <mat-card>
    <h2>銀行口座</h2>
    <app-external-account-form [data]="defaultData?.external_account" [type]="accountType"></app-external-account-form>
  </mat-card>

  <mat-card *ngIf="accountType === 'company'">
    <h2>会社情報</h2>
    <app-company-form [data]="defaultData?.company"></app-company-form>
  </mat-card>

  <mat-card>
    <h2>{{accountType === 'individual' ? '個人情報' : '担当者情報'}}</h2>
    <app-person-form [data]="defaultData" [type]="accountType"></app-person-form>
  </mat-card>

  <button
    [disabled]="form.invalid || form.pristine"
    mat-raised-button
    color="primary"
  >
    アカウントを登録する
  </button>

  <p class="notice">
    アカウントを登録すると、<a href="/intl/terms" target="_blank">利用規約</a
    >と<a href="https://stripe.com/jp/connect-account/legal" target="_blank"
      >Stripe Connectedアカウント契約
      <mat-icon class="mat-18" inline>open_in_new</mat-icon></a
    >に同意したことになります。
  </p>
</form>
