<div class="nobank">
  <h1>本人確認</h1>

  <p class="info">
    プランを開始するには本人確認と売上入金用の口座登録が必要です。
  </p>

  <form [formGroup]="accountForm">
    <mat-card>
      <h2>事業者の種類</h2>
      <mat-radio-group formControlName="business_type">
        <mat-radio-button value="individual">個人</mat-radio-button>
        <mat-radio-button value="company">法人</mat-radio-button>
      </mat-radio-group>
    </mat-card>

    <mat-card>
      <h2>銀行口座</h2>

      <div formGroupName="external_account">
        <input type="hidden" formControlName="object" required />
        <input type="hidden" formControlName="country" required />
        <input type="hidden" formControlName="currency" required />
        <mat-form-field>
          <mat-label>口座名義</mat-label>
          <input
            type="text"
            placeholder="{{
              accountType === 'individual' ? 'サンプル太郎' : '株式会社サンプル'
            }}"
            formControlName="account_holder_name"
            matInput
            required
            autocomplete="off"
          />
          <mat-hint>正確に入力してください</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>金融機関</mat-label>
          <input
            type="text"
            placeholder="銀行名を入力してください"
            matInput
            [formControl]="bankNameControl"
            [matAutocomplete]="bankName"
            required
          />
          <mat-autocomplete
            #bankName="matAutocomplete"
            [displayWith]="bankValueMapper"
            (optionSelected)="selectedBank($event)"
          >
            <mat-option
              *ngFor="let option of filteredBankOptions$ | async"
              [value]="option.code"
            >
              {{ option.name }}銀行
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>支店番号</mat-label>
          <input
            type="text"
            placeholder="XX支店"
            matInput
            [formControl]="branchNameControl"
            [matAutocomplete]="branchName"
            required
          />
          <mat-autocomplete
            #branchName="matAutocomplete"
            [displayWith]="branchValueMapper()"
            (optionSelected)="selectedBranch($event)"
          >
            <mat-option
              *ngFor="let option of filteredBranchOptions$ | async"
              [value]="option.code"
            >
              {{ option.name }}支店
            </mat-option>
          </mat-autocomplete>
          <mat-hint>支店名で検索できます</mat-hint>
        </mat-form-field>

        <input type="hidden" formControlName="routing_number" required />

        <mat-form-field>
          <mat-label>口座番号</mat-label>
          <input
            type="text"
            placeholder="1234567"
            formControlName="account_number"
            matInput
            required
            autocomplete="off"
          />
        </mat-form-field>
      </div>
    </mat-card>
  </form>

  <form *ngIf="accountDetailForm" [formGroup]="accountDetailForm">
    <mat-card>
      <h2>事業者情報</h2>

      <div [formGroupName]="type">
        <div formGroupName="address_kanji">
          <mat-form-field>
            <span matPrefix>〒&nbsp;</span>
            <mat-label>郵便番号 (会社住所)</mat-label>
            <input
              type="text"
              matInput
              formControlName="postal_code"
              placeholder="0000000"
              autocomplete="postal-code"
              required
            />
            <mat-hint>ハイフン不要</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>都道府県 (漢字)</mat-label>
            <mat-select placeholder="" formControlName="state"
            autocomplete="address-level1"
            required>
              <mat-option *ngFor="let state of stateOptions" [value]="state">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>市区郡 (漢字)</mat-label>
            <input
              type="text"
              matInput
              formControlName="city"
              autocomplete="address-level2"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>町村名、丁目を含む (漢字)</mat-label>
            <input
              type="text"
              matInput
              formControlName="town"
              autocomplete="off"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>番地 (漢字)</mat-label>
            <input
              type="text"
              matInput
              formControlName="line1"
              autocomplete="off"
              required
            />
          </mat-form-field>
        </div>

        <div formGroupName="address_kana">
          <mat-form-field>
            <span matPrefix>〒&nbsp;</span>
            <mat-label>郵便番号 (会社住所)</mat-label>
            <input
              type="text"
              matInput
              formControlName="postal_code"
              placeholder="0000000"
              autocomplete="postal-code"
              required
            />
            <mat-hint>ハイフン不要</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>都道府県 (カナ)</mat-label>
            <input
              type="text"
              matInput
              inputmode="kana"
              formControlName="state"
              required
              autocomplete="off"
              readonly
            />
            <mat-hint>自動入力されます</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <mat-label>市区郡 (カナ)</mat-label>
            <input
              type="text"
              matInput
              inputmode="kana"
              formControlName="city"
              autocomplete="off"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>町村名、丁目を含む (カナ)</mat-label>
            <input
              type="text"
              matInput
              inputmode="kana"
              formControlName="town"
              autocomplete="off"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>番地 (カナ)</mat-label>
            <input
              type="text"
              matInput
              inputmode="kana"
              formControlName="line1"
              autocomplete="off"
              required
            />
          </mat-form-field>
        </div>

        <ng-container *ngIf="type === 'company'">
          <mat-divider></mat-divider>
          <mat-form-field>
            <mat-label>会社名 (ローマ字または英語表記)</mat-label>
            <input
              type="text"
              matInput
              formControlName="name"
              autocomplete="off"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>会社名 (カナ)</mat-label>
            <input
              type="text"
              matInput
              formControlName="name_kana"
              autocomplete="off"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>会社名 (漢字)</mat-label>
            <input
              type="text"
              matInput
              formControlName="name_kanji"
              autocomplete="organization"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>登記番号 (会社法人等番号)</mat-label>
            <input
              type="text"
              matInput
              formControlName="tax_id"
              autocomplete="off"
              required
            />
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="type === 'individual'">
          <mat-divider></mat-divider>
          <h3>名前</h3>
          <mat-form-field>
            <mat-label>姓 (漢字)</mat-label>
            <input
              type="text"
              matInput
              formControlName="last_name_kanji"
              autocomplete="family-name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>名 (漢字)</mat-label>
            <input
              type="text"
              matInput
              formControlName="first_name_kanji"
              autocomplete="given-name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>姓 (カナ)</mat-label>
            <input
              type="text"
              matInput
              formControlName="last_name_kana"
              autocomplete="family-name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>名 (カナ)</mat-label>
            <input
              type="text"
              matInput
              formControlName="first_name_kana"
              autocomplete="given-name"
              required
            />
          </mat-form-field>
          <h4>性別</h4>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">男性</mat-radio-button>
            <mat-radio-button value="female">女性</mat-radio-button>
          </mat-radio-group>

          <mat-divider></mat-divider>
          <h3>誕生日</h3>
          <div formGroupName="dob">
            <mat-form-field>
              <mat-label>年</mat-label>
              <input
                type="text"
                matInput
                formControlName="year"
                autocomplete="bday-year"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>月</mat-label>
              <input
                type="text"
                matInput
                formControlName="month"
                autocomplete="bday-month"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>日</mat-label>
              <input
                type="text"
                matInput
                formControlName="day"
                autocomplete="bday-day"
                required
              />
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>電話番号</mat-label>
            <input
              type="tel"
              matInput
              formControlName="phone"
              autocomplete="tel"
              required
            />
          </mat-form-field>
        </ng-container>
      </div>
    </mat-card>

    <mat-card *ngIf="type === 'company'">
      <h2>担当者</h2>
      <div formGroupName="relationship">
        <div formGroupName="representative">
          <h3>名前</h3>
          <mat-form-field>
            <mat-label>担当者氏名 (名・漢字)</mat-label>
            <input
              type="text"
              matInput
              formControlName="first_name_kanji"
              autocomplete="given-name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>担当者氏名 (名・カナ)</mat-label>
            <input
              type="text"
              matInput
              formControlName="first_name_kana"
              autocomplete="given-name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>担当者氏名 (姓・漢字)</mat-label>
            <input
              type="text"
              matInput
              formControlName="last_name_kanji"
              autocomplete="family-name"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>担当者氏名 (姓・カナ)</mat-label>
            <input
              type="text"
              matInput
              formControlName="last_name_kana"
              autocomplete="family-name"
              required
            />
          </mat-form-field>
          <h4>性別</h4>
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="male">男性</mat-radio-button>
            <mat-radio-button value="female">女性</mat-radio-button>
          </mat-radio-group>

          <mat-divider></mat-divider>
          <h3>誕生日</h3>
          <div formGroupName="dob">
            <mat-form-field>
              <mat-label>年</mat-label>
              <input
                type="text"
                matInput
                formControlName="year"
                autocomplete="bday-year"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>月</mat-label>
              <input
                type="text"
                matInput
                formControlName="month"
                autocomplete="bday-month"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>日</mat-label>
              <input
                type="text"
                matInput
                formControlName="day"
                autocomplete="bday-day"
                required
              />
            </mat-form-field>
          </div>
          <div formGroupName="address_kanji">
            <mat-form-field>
              <span matPrefix>〒&nbsp;</span>
              <mat-label>郵便番号 (会社住所)</mat-label>
              <input
                type="text"
                matInput
                formControlName="postal_code"
                placeholder="0000000"
                autocomplete="postal-code"
                required
              />
              <mat-hint>ハイフン不要</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>都道府県 (漢字)</mat-label>
              <input
                type="text"
                matInput
                formControlName="state"
                autocomplete="address-level1"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>市区郡 (漢字)</mat-label>
              <input
                type="text"
                matInput
                formControlName="city"
                autocomplete="address-level2"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>町村名、丁目を含む (漢字)</mat-label>
              <input
                type="text"
                matInput
                formControlName="town"
                autocomplete="off"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>番地 (漢字)</mat-label>
              <input
                type="text"
                matInput
                formControlName="line1"
                autocomplete="off"
                required
              />
            </mat-form-field>
          </div>
          <div formGroupName="address_kana">
            <mat-form-field>
              <span matPrefix>〒&nbsp;</span>
              <mat-label>郵便番号 (会社住所)</mat-label>
              <input
                type="text"
                matInput
                formControlName="postal_code"
                placeholder="0000000"
                autocomplete="postal-code"
                required
              />
              <mat-hint>ハイフン不要</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>都道府県 (カナ)</mat-label>
              <input
                type="text"
                matInput
                inputmode="kana"
                formControlName="state"
                required
                readonly
              />
              <mat-hint>自動入力されます</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>市区郡 (カナ)</mat-label>
              <input
                type="text"
                matInput
                inputmode="kana"
                formControlName="city"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>町村名、丁目を含む (カナ)</mat-label>
              <input
                type="text"
                matInput
                inputmode="kana"
                formControlName="town"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <mat-label>番地 (カナ)</mat-label>
              <input
                type="text"
                matInput
                inputmode="kana"
                formControlName="line1"
                required
              />
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>電話番号</mat-label>
            <input
              type="tel"
              matInput
              formControlName="phone"
              autocomplete="tel"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </form>

  <button
    [disabled]="
      accountForm.invalid ||
      accountForm.pristine ||
      accountDetailForm.invalid ||
      accountDetailForm.pristine
    "
    (click)="submit()"
    mat-raised-button
    color="primary"
  >
    アカウントを登録する
  </button>

  <p class="notice">
    アカウントを登録すると、<a href="/intl/terms" target="_blank">利用規約</a
    >と<a href="https://stripe.com/jp/connect-account/legal" target="_blank"
      >Stripe Connectedアカウント契約
      <mat-icon class="mat-18" inline>open_in_new</mat-icon></a
    >に同意したことになります。
  </p>
</div>
