:host {
  display: block;
  margin-bottom: 40px;
}

h1 {
  font-weight: normal;
  margin: 40px 0;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 40px 0 16px;
}

p {
  margin-bottom: 16px;
}

dl {
  dt {
    margin-top: 1em;
    color: rgba(black, .6);
    font-size: 13px;
  }
  dd {
    margin: 0;
  }
}

.actions {
  i {
    margin-right: 8px;
  }
  a {
    margin-right: 16px;
  }
}
