<div class="container">
  <h1>お問い合わせ</h1>

  <h2>連絡先</h2>

  <p>TwitterでDMください。</p>

  <div class="actions">
  <a
    href="https://twitter.com/d151005"
    target="_blank"
    mat-flat-button
    color="primary"
  >
    <i class="fab fa-twitter"></i>
    Twitter
  </a>
  </div>

  <h2>会社概要</h2>

  <p>{{title}}は株式会社Deer（東京、新宿）が運営しています。</p>

  <dl>
    <dt>住所</dt>
    <dd>
      <span>〒160-0022</span>
      <span>東京都新宿区新宿1-36-2 9F</span>
    </dd>
    <dt>代表取締役</dt>
    <dd>二宮 大地</dd>
    <dt>連絡先</dt>
    <dd>info@deer.co.jp</dd>
    <dt>取引先金融機関</dt>
    <dd>みずほ銀行</dd>
  </dl>
</div>
