<div class="notification" *ngIf="notifications$ | async as notification">
  <div *ngIf="notifications?.length; else blankNotification">
    <mat-list dense>
      <mat-list-item *ngFor="let item of notifications" class="alert">
        <h4 mat-line class="alert__title">
          {{ item.title }}<i *ngIf="!item.isRead" class="alert__new"></i>
        </h4>
        <p mat-line class="alert__date">
          {{ item.createdAt | fromNow }}
        </p>
        <button mat-icon-button *ngIf="item.link">
          <mat-icon class="mat-18" [routerLink]="item.link">link</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<ng-template #blankNotification>
  <p class="blank">通知はありません</p>
</ng-template>
