h1 {
  font-size: 14px;
  font-weight: normal;
}

h2 {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 14px;
}

p {
  color: rgba(black, 0.6);
  font-size: 12px;
}

a {
  text-decoration: underline;
}

mat-card {
  margin-bottom: 8px;
}

.code {
  margin: 16px 0;
  background: #fafafa;
  position: relative;
  padding: 40px 16px 16px;
  white-space: pre-wrap;
  &:before {
    content: 'マークダウン';
    padding: 4px;
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    font-size: 10px;
  }
}
