<h1 matDialogTitle>ポイントについて</h1>

<mat-dialog-content>
  <p>
    他の人を教えたりナレッジを投稿するとボーナスポイントがもらえることがあります。ポイントは将来的に割引クーポンやマンツーレッスンチケットと交換できます。
  </p>

  <div class="actions">
    <mat-list dense>
      <h3 matSubheader>ボーナス</h3>
      <mat-list-item>
        <span matLine>他の人を教える</span>
        <span>10P</span>
      </mat-list-item>
      <mat-list-item>
        <span matLine>ナレッジの投稿</span>
        <span>10P</span>
      </mat-list-item>
      <mat-list-item>
        <span matLine>教材ミスの指摘、改善提案</span>
        <span>5P</span>
      </mat-list-item>
    </mat-list>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>閉じる</button>
</mat-dialog-actions>
