rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignIn() {
      return request.auth.uid != null;
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true
    }

    function isOwner(id) {
      return request.auth.uid == id;
    }

    function safeKey(key) {
      return request.resource.data[key] == resource.data[key];
    }

    function safeId() {
      return request.resource.data.id == resource.data.id;
    }

    function isUndefined(data, field) {
      return !data.keys().hasAll([field]);
    }

    match /users/{uid} {
      allow read: if request.auth.uid != null;
      allow write: if safeId();
      match /{document=**} {
        allow read, write: if isOwner(uid) || isAdmin();
      }
    }

    match /sections/{uid} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /core/section {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /threads/{threadId} {
      allow create: if request.auth.uid != null;
      allow update: if (request.auth.uid == resource.data.authorId || request.auth.uid == resource.data.targetId) && safeKey('id') && safeKey('targetId') && safeKey('authorId');
      allow read: if request.auth.uid == resource.data.authorId || request.auth.uid == resource.data.targetId;
      match /replies/{replieId} {
        allow read, write: if true;
      }
    }

    match /csrf/{doc} {
      allow create: if request.auth.uid == request.resource.data.uid;
      allow read, delete: if request.auth.uid == resource.data.uid;
    }

    match /products/{doc} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == doc;
    }

    match /channels/{channelId} {
      allow read: if true;
      allow update: if safeKey('id') && isOwner(channelId) && isOwner(resource.data.authorId);
      match /likes/{lessonId} {
        allow read, write: if isOwner(channelId)
      }
      match /followers/{uid} {
        allow read: if true
        allow write: if isOwner(uid);
      }
      match /follows/{uid} {
        allow read: if true
      }
      match /plans/{planId} {
        allow read: if true;
        allow write: if isOwner(channelId);
      }
      match /jobs/data {
        allow read: if true;
        allow write: if isOwner(channelId);
      }
      match /reviews/{reviewId} {
        allow read: if true;
        allow write: if isSignIn();
      }
    }
    match /lessons/{lessonId} {
      allow read: if resource.data.public == true || isOwner(resource.data.authorId);
      allow create: if isSignIn();
      allow update: if isOwner(resource.data.authorId) && safeId() && safeKey('authorId');
      match /body/content {
        allow read: if get(/databases/$(database)/documents/lessons/$(lessonId)).data.free == true || (request.auth != null && !(isUndefined(get(/databases/$(database)/documents/users/$(request.auth.uid)).data, 'plan')) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.plan != 'free');
        allow create: if isSignIn();
        allow update: if get(/databases/$(database)/documents/lessons/$(lessonId)).data.authorId == request.auth.uid;
      }
      match /revisions/{revisionId} {
        allow read: if isSignIn()
        allow create: if isSignIn();
        allow update: if get(/databases/$(database)/documents/lessons/$(lessonId)).data.authorId == request.auth.uid;
      }
    }
    match /lists/{listId} {
      allow read: if true;
      allow create: if isSignIn();
      allow update: if isOwner(resource.data.authorId) && safeId() && safeKey('authorId');
      allow delete: if isOwner(resource.data.authorId);
    }
  }
}
