@import "mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid rgba(black, .12);
}

.side {
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  &__close {
    margin-bottom: 24px;
    padding: 16px;
    @include sp {
      margin-bottom: 0;
    }
  }
}

.main {
  position: relative;
}

.menu {
  margin-right: 16px;
}

.logo {
  display: block;
  img {
    display: block;
    height: 26px;
    @include sp {
      height: 24px;
    }
  }
}

mat-nav-list {
  padding: 16px 0;
  a {
    font-size: 14px;
  }
}

.in-intl {
  padding-top: 64px;
  @include sp {
    padding-top: 56px;
  }
}

.active {
  background: #ddd;
}

.intl-content {
  margin-bottom: 80px;
}
