@import "mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid rgba(black, .12);
}

.side {
  width: 320px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  &__close {
    margin-bottom: 24px;
    padding: 16px;
    @include sp {
      margin-bottom: 0;
    }
  }
}

.main {
  position: relative;
}

.menu {
  margin-right: 16px;
}

.logo {
  height: 56px;
  font-weight: bold;
  &__text {
    color: #333;
    display: inline-block;
    vertical-align: -18px;
  }
  .big {
    color: #25A5DE;
    font-size: 40px;
  }
  .small {
    font-size: 24px;
  }
  img {
    height: 48px;
    vertical-align: -13px;
  }
  sup {
    vertical-align: 5px;
    font-size: 12px;
    color: rgba(black, .6);
    font-weight: normal;
    margin-left: 0;
    line-height: 1;
  }
}

mat-nav-list {
  padding: 16px 0;
  a {
    font-size: 14px;
  }
}

.in-intl {
  padding-top: 64px;
  @include sp {
    padding-top: 56px;
  }
}

.active {
  background: #ddd;
}
