@import "mixins";

:host {
  padding-bottom: 90px;
  display: block;
  @include sp {
    margin: -16px;
    display: block;
    padding-bottom: 24px;
  }
}

.blank {
  text-align: center;
  color: rgba(black, .38);
}
