<h1 matDialogTitle>動画アップロード</h1>

<mat-dialog-content *ngIf="uploadQuota">
  <div class="status">
    <mat-progress-bar
      [value]="(uploadQuota.used / uploadQuota.max) * 100"
      color="primary"
    ></mat-progress-bar>
    <p class="status__size">
      <span
        >{{ uploadQuota.used | filesize }} /
        {{ uploadQuota.max | filesize }}</span
      >
      <span>{{ uploadQuota.reset_date | date: 'M月d日' }}にリセット</span>
    </p>
  </div>
  <label
    *ngIf="!createWaiting"
    class="placeholder"
    [class.over]="isOver"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <p *ngIf="file" class="placeholder__ready">
      <span>アップロード準備が整いました</span>
      <span>ファイルサイズ: {{ size | filesize }}</span>
    </p>
    <div class="placeholder__icon" *ngIf="!file">
      <i class="fab fa-vimeo-v"></i>
      <span>クリックか動画をドロップ</span>
    </div>
    <input
      type="file"
      (change)="handleFileSelected($event)"
      #input
      accept="video/*"
      style="display: none"
    />
  </label>
  <div class="dialog-loading" *ngIf="loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="createWaiting" matDialogClose>
    キャンセル
  </button>
  <button
    [disabled]="!size || createWaiting"
    color="primary"
    (click)="createVideo()"
    mat-raised-button
  >
    アップロード{{ createWaiting && '中' }}
  </button>
</mat-dialog-actions>
