<ng-container>
  <div class="wrap">
    <div class="wrap__lesson">
      <router-outlet></router-outlet>
    </div>

    <div class="side show" *ngIf="channel$ | async as channel">
      <app-cause-widget
        *ngIf="cause$ | async"
        [channel]="channel"
        [cause$]="cause$"
      ></app-cause-widget>
      <app-user-card
        (loaded)="loading = false"
        [isOwner]="isOwner$ | async"
        [channel]="channel"
      ></app-user-card>
      <!-- <div *ngIf="channel.ads && channel.ads.public">
        <mat-card class="ads">
          <a [href]="channel.ads.url" target="_blank" matCardImage>
            <img [src]="channel.ads.imageURL | safe: 'url'" alt="" />
          </a>
        </mat-card>
      </div> -->
    </div>
  </div>
</ng-container>
