:host {
  display: block;
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  background: #fff;
}

.form-header {
  display: grid;
  grid-template-columns: 120px 1fr auto auto auto;
  gap: 0 16px;
  padding: 8px 24px 8px 0;
  position: relative;
  border-bottom: 1px solid rgba(black, .12);
  z-index: 10;
  mat-form-field {
    display: block;
    a {
      text-decoration: underline;
    }
    mat-icon {
      cursor: pointer;
    }
  }
}

.thumbnail {
  position: relative;
  margin: -8px 0;
  border-right: 1px solid rgba(black, .12);
}

.wrap {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.preview {
  position: relative;
  border-left: 1px solid #ddd;
  background: #fafafa;
  .article {
    padding: 24px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.body {
  display: block;
  position: relative;
}

.body ::ng-deep {
  .editor-toolbar {
    border-radius: 0;
    border: none;
  }
}

.footer {
  padding: 16px 24px;
  position: relative;
  justify-content: space-between;
  z-index: 10;
  border-top: 1px solid rgba(black, .12);
  display: flex;
  align-items: center;
  mat-form-field {
    display: inline-block;
     margin-left: 16px;
  }
  mat-slide-toggle {
    margin-left: 16px;
  }
  button {
    margin-left: 16px;
  }
}

:host ::ng-deep .CodeMirror {
  border-radius: 0;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-top: 1px solid rgba(black, .12);
  .CodeMirror-scroll {
    margin: 0;
    padding: 0;
  }
  * {
    font-size: 1em!important;
    background: none!important;
    line-height: 1.6!important;
    font-weight: normal!important;
  }
  .CodeMirror-selected {
    background: #eee!important;
  }
}

.add-list {
  line-height: 42px;
  padding: 0 24px;
  display: block;
  border-top: 1px solid rgba(black, .12);
  cursor: pointer;
  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }
}

.price {
  width: 160px;
}

.uploader {
  width: 400px;
  &__label {
    color: rgba(black, .6);
    font-size: 13px;
    margin-bottom: 4px;
  }
  &__step {
    text-align: right;
    color: rgba(black, .38);
    font-size: 12px;
  }
}

.actions {
  margin-left: auto;
}

.connect-vimeo {
  align-self: center;
  justify-self: center;
}

.cause-section {
  align-self: center;
  justify-self: center;
}
