<div class="hero">
  <div class="container">
    <div class="hero__wrap">
      <div class="hero__body">
        <p class="hero__msg">
          <span>Webサービスを作りたい</span>
          <span>すべての方へ</span>
        </p>
        <p class="hero__sub">
          <span
            >現役エンジニアが最新技術を使った圧倒的実務レベルのWebサービス開発を教えます。週末起業したい人や実績が欲しい未経験者が利用しています。</span
          >
        </p>
        <button routerLink="/" mat-raised-button color="primary">
          無料教材を見る
        </button>
      </div>
      <app-mock class="hero__mock"></app-mock>
    </div>
  </div>
</div>
