@import '~@angular/material/theming';
@import 'mixins';

:host {
  display: block;
  width: 50%;
}

.mock-frame {
  perspective: 1500px;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateZ(14px);
    box-shadow: 10px 30px 20px -10px rgba(0, 0, 0, 0.4);
  }
  100% {
    opacity: 1;
    @include mat-elevation(2);
    transform: translateZ(0.1px);
  }
}

@mixin initElement($delay) {
  @include mat-elevation(2);
  transform: translateZ(0.1px);
  &.init {
    animation: fadeIn 1s $delay both;
  }
}

.mock {
  padding: 16px;
  border-style: 4px;
  border-radius: 3px;
  height: 600px;
  background: #fff;
  display: grid;
  margin: 0 auto;
  width: 420px;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
  transform-style: preserve-3d;
  grid-template-rows: 40px 1fr 40px;
  gap: 16px;
  box-shadow: 27.1px 62.5px 125px -25px rgba(black, 0.5),
    16.2px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
  &__bg {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.3s 0.5s;
    border-radius: 3px;
    background: #000;
    opacity: 0;
    transform: translateZ(2px);
    &.active {
      opacity: 0.6;
    }
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__login {
    margin-left: 16px;
    transition: 1s ease-in-out;
    @include initElement(0.3s);
    &.active {
      transform: translate3d(0, 0, 24px);
      box-shadow: 10px 30px 20px -10px rgba(0, 0, 0, 0.4);
      &.float {
        transform: translate3d(0, 0px, 30px);
      }
    }
  }
  &__search {
    flex: 1;
    border-radius: 3px;
    background: #fafafa;
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;
    padding-left: 16px;
    justify-content: space-between;
    cursor: pointer;
    @include initElement(0.6s);
    &.active {
      transform: translate3d(0, 0, 24px);
      box-shadow: 10px 30px 20px -10px rgba(0, 0, 0, 0.4);
      &.float {
        transform: translate3d(0, 0px, 30px);
      }
    }
    p {
      color: rgba(black, 0.38);
    }
  }
  &__body {
    border-radius: 3px;
    background: #fafafa;
    padding: 16px;
    @include mat-elevation(2);
  }
  &__footer {
    border-radius: 3px;
    background: #fafafa;
    @include mat-elevation(2);
  }
}

.tool {
  transition: transform 1s, z-index 1s 2s;
  position: absolute;
  z-index: 1;
  &.active {
    transition: transform 1s, z-index 1s;
    z-index: 10;
  }
  &.active img {
    filter: none;
    transition: 0.5s ease;
  }
  &--firebase {
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(10deg) translateX(24px)
      translateY(270px);
    height: 100px;
    top: 0;
    left: 0;
    &.active {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        translate(100px, 160px);
    }
  }
  &--angular {
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(10deg)
      translate(20px, 430px);
    width: 80px;
    top: 0;
    left: 0;
    &.active {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(320px);
    }
  }
  &--algolia {
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(10deg)
      translate(40px, 30px);
    width: 70px;
    top: 0;
    left: 0;
    &.active {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(160px)
        translateX(30px);
    }
    img {
      width: 100px;
    }
  }
  &--stripe {
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(10deg)
      translate(-10px, 170px);
    width: 120px;
    top: 0;
    left: 0;
    &.active {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(440px);
      width: 100px;
    }
  }
  &__logo {
    filter: drop-shadow(6.4px 6.2px 4px rgba(0, 0, 0, 0.3));
    position: relative;
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      filter: drop-shadow(6.4px 6.2px 4px rgba(0, 0, 0, 0.3));
      .active & {
        cursor: default;
        transform: scale(1);
      }
    }
  }
}

.note {
  border-radius: 3px;
  @include mat-elevation(4);
  background: #fff;
  position: absolute;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.3s;
  transform-origin: left;
  &--angular {
    top: -50px;
    left: -50px;
    width: 320px;
    padding: 40px 40px 40px 180px;
  }
  &--firebase {
    top: -40px;
    left: -48px;
    width: 300px;
    padding: 40px 40px 40px 160px;
  }
  &--algolia {
    top: -50px;
    left: -40px;
    width: 300px;
    padding: 40px 40px 40px 140px;
  }
  &--stripe {
    top: -70px;
    left: -45px;
    width: 320px;
    padding: 40px 40px 40px 180px;
  }
  > * {
    opacity: 0;
  }
  .active & {
    transition: 0.8s 0.5s;
    opacity: 1;
    transform: scaleX(1);
    > * {
      transition: 0.3s 1s;
      opacity: 1;
    }
  }
  &__title {
    font-size: 16px;
    margin: 0 0 16px;
  }
  &__description {
    color: rgba(0, 0, 0, 0.6);
  }
  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

.stripe {
  transition: 1s ease-in-out;
  padding: 24px;
  @include initElement(0.9s);
  display: flex;
  align-items: center;
  &.active {
    transform: translate3d(0, 0, 24px);
    &.float {
      transform: translate3d(0, 0px, 30px);
    }
    box-shadow: 16px 30px 20px -10px rgba(0, 0, 0, 0.4);
  }
  figure {
    width: 120px;
    margin-right: 24px;
  }
  &__title {
    font-weight: 500;
    margin: 0 0 4px;
  }
  &__description {
    color: rgba(black, 0.6);
    margin-bottom: 16px;
  }
  &__body {
    flex: 1;
  }
  mat-icon {
    margin-left: 8px;
  }
}

.youtube {
  width: 100%;
  height: 240px;
  margin-top: 16px;
  @include initElement(1.2s);
}
