.info {
  margin-bottom: 16px;
}

.card {
  &__number {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    i {
      margin-right: 16px;
    }
  }
  &__button {
    color: rgba(black, .6);
  }
}


.create-card {
  margin: 24px 0;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 40px;
}
