<div class="container">
  <h1>ガイドライン</h1>

  <p>
    健全なコミュニティ運営のために、以下のガイドラインにしたがってください。
  </p>

  <h2>推奨されるレッスン内容</h2>

  <p>
    長すぎる動画は管理が大変な上に、閲覧者にとっても負担となります。テーマを分解して3分程度のレッスンをシリーズ化することを検討してみてください。
  </p>

  <ul>
    <li>動画の長さが3分程度であること</li>
    <li>タイトルが具体的であること</li>
    <li>サムネイルが内容に関係していること</li>
    <li>ハキハキ喋っていること</li>
    <li>音割れしていないこと</li>
    <li>顔を写す場合、十分な光量を確保する</li>
    <li>
      エディターを写す場合、スマートフォンで見ても潰れない程度の文字サイズに拡大する
    </li>
    <li>キーボードの音が入らないよう、単一指向マイクかヘッドセットを使う</li>
    <li>
      iMacなどの大型モニタで画面キャプチャーを行う場合、解像度を横1200px程度に下げる（スマートフォンで文字を見やすくするため）
    </li>
  </ul>

  <div class="items">
    <mat-card>
      <h3>ヘッドセット</h3>
      <p>手頃な価格で録音をはじめることができます。</p>
      <a
        href="https://www.amazon.co.jp/Logicool-ロジクール-スマホ対応H111r-ステレオヘッドセット-3-5mmオーディオジャック/dp/B079QB3DS5/ref=lp_2152016051_1_10?s=computers&ie=UTF8&qid=1570324527&sr=1-10"
        target="_blank"
        mat-button
        >
        <span>購入</span>
        <mat-icon class="mat-18" inline>open_in_new</mat-icon>
        </a
      >
    </mat-card>

    <mat-card>
      <h3>Display Menu</h3>
      <p>
        ワンクリックで解像度を切り替えることができます。iMacで全画面キャプチャを撮る際には必須です。
      </p>
      <a
        href="https://apps.apple.com/jp/app/display-menu/id549083868?mt=12"
        target="_blank"
        mat-button
        >ダウンロード</a
      >
    </mat-card>

    <mat-card>
      <h3>動画圧縮Automation by 3ML</h3>
      <p>
        右クリックから動画を低容量に圧縮することができます。事前に<a href="https://fukatsu.tech/install-ffmpeg" target="_blank">FFmpeg<mat-icon class="mat-18" inline>open_in_new</mat-icon></a>のインストールが必要です。
      </p>
      <a href="/assets/mov-minify.zip" target="_blank" mat-button
        >ダウンロード</a
      >
    </mat-card>
  </div>

  <h2>禁止されているレッスン</h2>

  <p>以下のレッスンはアップしないでください。</p>

  <ul>
    <li>他人のコンテンツを許可なくトレースした内容</li>
    <li>第三者にとって一切の学びがない内容</li>
    <li>特定の個人、団体を誹謗中傷する内容</li>
    <li>著作権侵害に当たるコンテンツ</li>
    <li>特定の個人、団体のプライバシーを侵害する内容</li>
    <li>スパム</li>
    <li>なりすまし</li>
    <li>
      娯楽を目的とした性的、暴力的なコンテンツ（護身術やマタニティ関連など学びに紐づく内容は許容されます）
    </li>
  </ul>

  <h2>動画</h2>

  <ul>
    <li>実際の内容</li>
    <li>第三者にとって一切の学びがない内容</li>
    <li>娯楽を目的とした性的、暴力的なコンテンツ</li>
  </ul>
</div>
