<mat-progress-bar
  *ngIf="loading"
  color="primary"
  class="page-loader"
  mode="indeterminate"
></mat-progress-bar>

<ng-container *ngIf="!loading">
  <mat-card>
    <div class="manage" *ngIf="dashboardURL">
      <figure class="manage__logo">
        <img src="/assets/images/stripe-logo.svg" alt="">
      </figure>
      <p class="manage__description">Stripeのダッシュボードで売上を確認しましょう。</p>
      <a
        target="_blank"
        [href]="dashboardURL | safe: 'url'"
        mat-flat-button
        color="primary"
        class="manage__button"
      >
        <span>ダッシュボードを開く</span>
        <mat-icon class="mat-18" inline>open_in_new</mat-icon>
      </a>
    </div>

    <ng-container *ngIf="!accountId">
      <mat-divider></mat-divider>
      <div class="connect">
        <div class="connect__description">Stripeと接続して売上を受け取りましょう</div>
        <app-stripe-connect-button></app-stripe-connect-button>
      </div>
    </ng-container>
  </mat-card>

  <p *ngIf="accountId" class="disconnect">
    <a (click)="rejectStripe()"><span>Stripeとの連携を解除</span></a>
    <span><mat-icon class="mat-18" inline>block</mat-icon></span>
  </p>
</ng-container>
