<h2 mat-dialog-title>コースを{{ list ? '編集' : '作成' }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>リスト名</mat-label>
      <input
        type="text"
        autocomplete="off"
        matInput
        formControlName="title"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>概要</mat-label>
      <textarea
        matInput
        formControlName="description"
        matTextareaAutosize
        required
      ></textarea>
    </mat-form-field>

    <h3>カバー</h3>
    <div class="cover">
      <app-input-image
        [oldSrc]="list?.coverURL"
        (file)="getFile($event)"
        [options]="imageOpts"
      ></app-input-image>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">キャンセル</button>
  <button
    mat-raised-button
    color="primary"
    mat-dialog-close
    [disabled]="form.invalid || form.pristine"
    (click)="update()"
  >
    {{ list ? '編集' : '作成' }}
  </button>
</mat-dialog-actions>
