@import 'mixins';

mat-toolbar {
  button + button {
    margin-left: 16px;
  }
}

mat-card {
  margin: 24px;
  padding: 40px;
  &:last-child {
    margin-bottom: 160px;
  }
}

.spacer {
  flex: 1;
}

.section-title {
  font-size: 16px;
  margin-bottom: 32px;
  line-height: 1;
}

.logo {
  height: 24px;
  &__small {
    vertical-align: 4px;
    margin-left: 8px;
    line-height: 1;
    margin-left: 4px;
    font-size: 14px;
    font-weight: normal;
  }
}

.group-title {
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px dashed rgba(black, 0.12);
  margin: 40px 0 16px;
}

.item {
  text-align: center;
  transition: 0.3s;
  position: relative;
  &.active &__icon {
    filter: grayscale(0);
    opacity: 1;
  }
  &:hover {
    z-index: 10;
  }
  &:hover &__body {
    display: block;
  }
  &__body-title {
    font-weight: 500;
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 1;
  }
  &__body {
    display: none;
    position: absolute;
    z-index: 10;
    background: #fff;
    top: 80%;
    left: 0;
    width: 320px;
    text-align: left;
  }
  &__icon {
    width: 64px;
    height: 64px;
    max-height: none;
    margin-bottom: 12px;
    filter: grayscale(100%);
    border: 2px solid rgba(black, 0.6);
    display: block;
    box-sizing: border-box;
    border-radius: 16px;
    opacity: 0.38;
  }
  &__title {
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }
}

.items {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, 64px);
}

.wrap {
  position: relative;
}

.doc {
  width: 640px;
  max-width: 100%;
  box-sizing: border-box;
  &__close {
    display: none;
    @include sp {
      display: block;
      position: fixed;
      bottom: 16px;
      left: 16px;
    }
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  background: #eeedf3;
  width: 100%;
  @include sp {
    border-radius: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.article {
  padding: 24px;
}

.done {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 20;
  &--yet {
    filter: grayscale(100%);
    opacity: 0.38;
  }
}

.edit {
  position: fixed;
  bottom: 88px;
  right: 16px;
  z-index: 20;
  background: #666;
}

.avatar {
  background: center/cover;
}

@mixin icon($domain, $name: $domain) {
  &[href^="https://#{$domain}"] &__title:before
  {
    background-image: url(/assets/images/tree/#{$name}.png);
  }
}

.doc-title {
  font-weight: bold;
  font-size: 14px;
  margin: 24px 24px 0;
}

.permission {
  text-align: center;
  margin-bottom: 40px;
  &__cover {
    background: #a8c42d center bottom/200px
      url('/assets/images/tree/premium.png') no-repeat;
    margin-bottom: 24px;
    height: 200px;
  }
  &__title {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    margin-bottom: 16px;
  }
  &__description {
    margin-bottom: 40px;
  }
}

.plan {
  padding: 0 40px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  @include sp {
    display: block;
  }
  &__image {
    width: 160px;
    text-align: center;
    margin-right: 40px;
    &--alone img {
      height: 160px;
    }
    @include sp {
      margin: 0 auto 16px;
    }
  }
  &__title {
    margin: 0 0 16px;
    font-weight: 500;
  }
  &__description {
    margin-bottom: 24px;
  }
  &__body {
    text-align: left;
    flex: 1;
  }
  &__price {
    margin-left: 16px;
    color: rgba(black, 0.6);
  }
}

mat-sidenav-container {
  min-height: 100%;
}
