<mat-sidenav-container>
  <mat-sidenav
    class="doc"
    #docDrawer
    position="end"
    fixedInViewport
    [autoFocus]="false"
    (closed)="onCloseDoc()"
  >
    <div class="doc__body">
      <button class="doc__close" mat-fab (click)="docDrawer.close()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div *ngIf="doc$ | async as doc; else loading">
        <ng-container *ngIf="doc.lesson; else blankLesson">
          <div class="video" *ngIf="doc.lesson.videoId">
            <iframe
              [src]="
                'https://player.vimeo.com/video/' +
                  doc.lesson.videoId +
                  '?autoplay=1' | safe: 'resourceUrl'
              "
              width="640"
              height="360"
              frameborder="0"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe>
          </div>

          <h1 class="doc-title">{{ doc.title }}</h1>

          <article class="article">
            <markdown [data]="doc.lesson?.body"></markdown>
          </article>
        </ng-container>
        <ng-template #blankLesson>
          <div class="permission" *ngIf="activeLessonId">
            <figure class="permission__cover"></figure>
            <h2 class="permission__title">MEMBER ONLY</h2>
            <p class="permission__description">
              CAMPに参加してコンテンツを解放しましょう
            </p>

            <div class="plans">
              <div class="plan">
                <figure class="plan__image">
                  <img src="assets/images/welcome/team.svg" alt="" />
                </figure>
                <div class="plan__body">
                  <h3 class="plan__title">メンタープラン</h3>
                  <p class="plan__description">
                    メンターが徹底サポート。ソースレビューや毎日の進捗ミーティングなど、完全に実務として進めます。
                  </p>
                  <button
                    mat-raised-button
                    color="primary"
                    routerLink="/intl/signup"
                    [queryParams]="{ planId: 'mentor' }"
                    fragment="plan"
                  >
                    プランを見る
                  </button>
                  <span class="plan__price"
                    >{{ plan.mentor.amount | number }}円/月</span
                  >
                </div>
              </div>
              <div class="plan">
                <figure class="plan__image plan__image--alone">
                  <img src="assets/images/welcome/alone.svg" alt="" />
                </figure>
                <div class="plan__body">
                  <h3 class="plan__title">ソロ/ライトプラン</h3>
                  <p class="plan__description">
                    教材見放題。なんでも質問し放題のソロプランと教材サポートありのライトプランがあります。
                  </p>
                  <button
                    mat-stroked-button
                    color="primary"
                    routerLink="/intl/signup"
                    [queryParams]="{ planId: 'solo' }"
                    fragment="plan"
                  >
                    プランを見る
                  </button>
                  <span class="plan__price"
                    >{{ plan.solo.amount | number }}円/月</span
                  >
                </div>
              </div>
            </div>
          </div>
        </ng-template>

        <ng-container *ngIf="doc.resources?.length">
          <mat-divider></mat-divider>
          <mat-nav-list dense class="doc__resources">
            <h3 matSubheader>リソース</h3>
            <a
              mat-list-item
              [href]="resource.url"
              target="_blank"
              *ngFor="let resource of doc.resources"
            >
              <mat-icon mat-list-icon svgIcon="github"></mat-icon>
              <span matLine class="resource__title">{{ resource.title }}</span>
              <span>
                <mat-icon inline>
                  open_in_new
                </mat-icon>
              </span>
            </a>
          </mat-nav-list>
        </ng-container>

        <button
          mat-fab
          class="edit"
          [routerLink]="['/tree-edit']"
          [queryParams]="active"
          *ngIf="(user$ | async)?.admin"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-fab
          class="done"
          (click)="toggleStatus(doc.id)"
          [class.done--yet]="!completeMap[doc.id]"
        >
          <mat-icon>done</mat-icon>
        </button>
      </div>
      <ng-template #loading>
        <div class="loading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </ng-template>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <a class="logo" routerLink="/">
        <img src="/assets/images/logo.png" alt="CAMP" />
        <span class="logo__small">ATOMIC</span>
      </a>
      <span class="spacer"></span>
      <button
        *ngIf="(user$ | async)?.admin"
        mat-icon-button
        routerLink="/tree-edit"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        *ngIf="!(user$ | async) && !isLoading"
        mat-raised-button
        color="primary"
        (click)="login()"
      >
        ログイン/登録
      </button>
      <button
        class="avatar"
        *ngIf="user$ | async as user"
        [style.background-image]="'url(' + user.avatarURL + ')'"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      ></button>
      <mat-menu #menu>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>ログアウト</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="wrap">
      <div>
        <mat-card *ngFor="let section of sections$ | async">
          <h2 class="section-title">{{ section.title }}</h2>
          <div class="group">
            <div *ngFor="let groupId of section.groupIds">
              <ng-container *ngIf="section.group[groupId] as group">
                <h3 class="group-title" *ngIf="section.groupIds.length !== 1">
                  {{ group.title }}
                </h3>
                <div class="items">
                  <ng-container *ngFor="let itemId of group.itemIds">
                    <div
                      *ngIf="group.item[itemId] as item"
                      class="item"
                      [class.active]="completeMap[item.id]"
                    >
                      <a
                        class="item__icon"
                        [class.mat-elevation-z2]="!completeMap[item.id]"
                        (click)="
                          openDoc(item);
                          setActiveIds(section.id, groupId, itemId)
                        "
                      >
                        <img [src]="item.iconURL" alt="" />
                      </a>
                      <h4 class="item__title">{{ item.title }}</h4>
                      <div
                        class="item__body mat-elevation-z2"
                        *ngIf="!uiService.isMobile"
                      >
                        <mat-nav-list *ngIf="item.resources?.length" dense>
                          <h3 matSubheader>リソース</h3>
                          <a
                            mat-list-item
                            [href]="resource.url"
                            target="_blank"
                            *ngFor="let resource of item.resources"
                          >
                            <mat-icon
                              mat-list-icon
                              [svgIcon]="resource.url | resourceIcon: 'svg'"
                              >{{
                                resource.url | resourceIcon: 'material'
                              }}</mat-icon
                            >
                            <span matLine class="resource__title">{{
                              resource.title
                            }}</span>
                            <span>
                              <mat-icon inline>
                                open_in_new
                              </mat-icon>
                            </span>
                          </a>
                        </mat-nav-list>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
