.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin: 24px 0 80px;
}

img {
  max-width: none;
  max-height: none;
}

.avatar {
  background: center/cover;
}

.product {
  display: flex;
  flex-flow: column;
  &__header {
    overflow: hidden;
  }
  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
  }
  &__author {
    font-size: 12px;
  }
  &__description {
    flex: 1;
    margin-bottom: 16px;
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
  &__days {
    font-size: 12px;
    color: rgba(black, 0.6);
    margin-bottom: 8px;
    line-height: 1;
  }
}

.twitter {
  margin-left: 8px;
  color: #1da1f2;
}

.loading {
  margin: 24px auto;
}

.blank {
  text-align: center;
  margin: 24px 0;
}

.gant {
  padding: 40px 0;
  &__table {
    width: 100%;
  }
}

.new-window {
  margin-left: 4px;
}

.warning {
  background: #fff9c4;
}

.denger {
  background: #ffcdd2;
}

.user {
  display: flex;
  align-items: center;
  &__avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    display: block;
  }
}
