<div class="container">
  <section class="gant">
    <h2>ステータス</h2>

    <mat-form-field>
      <mat-label>絞り込み</mat-label>
      <mat-select matInput [formControl]="filter">
        <mat-option value="all">すべて</mat-option>
        <mat-option value="denger">進捗停滞</mat-option>
        <mat-option value="week">週末</mat-option>
        <mat-option value="day">平日</mat-option>
      </mat-select>
    </mat-form-field>

    <table
      mat-table
      [dataSource]="repos$ | async"
      class="mat-elevation-z8 gant__table"
    >
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero
        exercitationem voluptatem officia cumque perspiciatis provident debitis
        recusandae dignissimos placeat id atque eligendi modi rerum, quo animi
        rem expedita esse magnam.
      </p>
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef>プロジェクト</th>
        <td mat-cell *matCellDef="let element">
          <a
            href="https://github.com/camp-team/{{ element.name }}"
            target="_blank"
          >
            <span>{{ element.name }}</span>
            <mat-icon class="new-window" inline>open_in_new</mat-icon></a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="assign">
        <th mat-header-cell *matHeaderCellDef>担当</th>
        <td mat-cell *matCellDef="let element">
          <span class="user" *ngIf="element.user; else noUser">
            <img [src]="element.user?.avatarURL" class="user__avatar" alt="" />
            <span>{{ element.user?.name }}</span>
          </span>
          <ng-template #noUser>-</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastPullRequestDate">
        <th mat-header-cell *matHeaderCellDef>最終PR</th>
        <td mat-cell *matCellDef="let element">
          {{ (element.user?.lastPullRequestDate | fromNow) || '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pullRequest">
        <th mat-header-cell *matHeaderCellDef>PR</th>
        <td mat-cell *matCellDef="let element">
          {{ element.pullRequests.totalCount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>工数</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount }}H ({{ element.amount / 8 | number: '1.0-0' }}人日)
        </td>
      </ng-container>

      <ng-container matColumnDef="goal">
        <th mat-header-cell *matHeaderCellDef>リリース目標</th>
        <td mat-cell *matCellDef="let element">
          {{ element.goal ? (element.goal | date: 'yyyy年MM月dd日') : '-' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef>ポイント</th>
        <td mat-cell *matCellDef="let element">
          {{ element.user?.point || 0 | number }}P
        </td>
      </ng-container>

      <ng-container matColumnDef="mtg">
        <th mat-header-cell *matHeaderCellDef>
          MTG頻度
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.user?.plan | mtgType }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        [class.warning]="row.sleepTime > 2 && row.sleepTime <= 4"
        [class.denger]="row.sleepTime > 5"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="tableLoading"
    ></mat-progress-bar>
  </section>

  <h2>リスト</h2>

  <div class="grid" *ngIf="products$ | async as products; else blank">
    <mat-card *ngFor="let product of products" class="product">
      <mat-card-header class="product__header">
        <div
          mat-card-avatar
          class="avatar"
          [style.background-image]="'url(' + product.author?.avatarURL + ')'"
        ></div>
        <mat-card-title class="product__title">{{
          product.title
        }}</mat-card-title>
        <mat-card-subtitle class="product__author">
          <span>{{ product.author?.name }}</span>
          <a
            class="twitter"
            [href]="product.twitter"
            *ngIf="product.twitter"
            target="_blank"
            ><i class="fab fa-twitter"></i></a
        ></mat-card-subtitle>
      </mat-card-header>
      <img
        [src]="
          product.thumbnailURL || 'https://placehold.it/800x400?text=No%20Image'
        "
        alt=""
        mat-card-image
      />
      <div class="product__description">
        <p>{{ product.description }}</p>
      </div>
      <ul *ngIf="product.links?.length">
        <li *ngFor="let link of product.links">
          <a [href]="link.url" target="_blank">{{ link.title }}</a>
        </li>
      </ul>
      <p class="product__days">
        <span *ngIf="product.start">
          {{ product.start.toDate() | date: 'yyyy年MM月dd日' }} 〜
        </span>
        <span *ngIf="product.end">
          {{ product.end.toDate() | date: 'yyyy年MM月dd日' }}
        </span>
        <span *ngIf="product.status === 'progress'">開発中</span>
      </p>
      <mat-card-actions>
        <a
          [href]="product.url"
          target="_blank"
          mat-raised-button
          color="primary"
          >サイトを見る</a
        >
        <a
          *ngIf="product.github"
          mat-button
          [href]="product.github"
          target="_blank"
          >GitHub</a
        >
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #blank>
    <p class="blank" *ngIf="!loading">プロダクトはありません</p>
    <mat-spinner class="loading" [diameter]="40" *ngIf="loading"></mat-spinner>
  </ng-template>
</div>
