<div class="plans">
  <mat-nav-list dense [disableRipple]="isOwner">
    <h3 mat-subheader>サポート</h3>
    <mat-list-item *ngFor="let plan of plans" (click)="openPlanDialog(plan)" matTooltip="あなたがオーナーです" [matTooltipDisabled]="!isOwner" [class.disabled]="isOwner">
      <span matLine>{{ plan.type | planTitleLabel }}</span>
      <span matLine class="cost"
        >{{ plan.amount | number }}円/{{ plan.per | planPerLabel }}</span
      >
      <button
        mat-icon-button
        (click)="openPlanHelpDialog(plan, $event)"
        (mousedown)="$event.stopPropagation()"
        (touchdown)="$event.stopPropagation()"
      >
        <mat-icon class="icon">info</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
