<section class="contact">
  <div class="container">
    <h2>お問い合わせ</h2>
    <p class="lead">お気軽にお問い合わせください。メンターが直接回答します。</p>
    <div class="contact-wrap">
      <div class="contact__profile">
        <div>
          <img
            src="assets/images/welcome/mentor-icon.jpeg"
            alt=""
            class="contact__avatar"
          />
        </div>
        <div class="contact__profile-body">
          <p class="contact__name">Daichi Ninomiya</p>
          <p class="contact__sub-title">Flockメンター</p>
        </div>
      </div>
      <div class="contact__icons">
        <div class="contact__buttons">
          <a
            href="https://twitter.com/messages/compose?recipient_id=632665203&ref_src=twsrc%5Etfw"
            mat-stroked-button
            target="_blank"
          >
            <i class="fab fa-twitter"></i>
            <span>Twitter</span>
          </a>
          <a
            href="https://forms.gle/Q2EKoPgYXygyMGNJ9"
            mat-stroked-button
            target="_blank"
          >
            <i class="fa fa-envelope"></i>
            <span>フォーム</span>
          </a>
          <a
            href="https://calendly.com/daichi-ninomiya/camp"
            mat-stroked-button
            target="_blank"
          >
            <i class="far fa-calendar"></i>
            <span>事前面談予約</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
