<mat-card class="cause" *ngIf="cause$ | async as cause">
  <div
    matCardImage
    class="cause__cover"
    [style.background-image]="'url(' + cause.coverURL + ')' | safe: 'style'"
  ></div>
  <div class="cause__header">
    <div class="cause__header-body">
      <h1 class="cause__title">{{ cause.title }}</h1>
    </div>
  </div>

  <div class="list">
    <mat-nav-list dense>
      <mat-list-item
        *ngFor="let lesson of lessons$ | async; let i = index"
        [routerLink]="['./']"
        [queryParams]="{ v: lesson.id }"
        queryParamsHandling="merge"
        routerLinkActive="active"
      >
        <h2 class="item__title" matLine>{{ i + 1 }}. {{ lesson.title }}</h2>
        <mat-icon class="mat-18" *ngIf="lesson.free">money_off</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </div>
</mat-card>
