@import 'mixins';

.article,
.editor-preview {
  line-height: 1.8;
  letter-spacing: 0.2px;
  & &__body {
    padding: 40px;
  }
  a {
    color: $brand-primary;
  }
  .info {
    margin: 2em 0;
    padding: 16px;
    border-left: 4px solid $brand-primary;
    position: relative;
    &--note {
      border-color: $brand-primary;
      background: rgba($brand-primary, 0.12);
    }
    &--denger {
      border-color: #d32f2f;
      background: rgba(#d32f2f, 0.12);
    }
    &--notice {
      border-color: #e0c62e;
      background: rgba(#e0c62e, 0.12);
    }
    p {
      font-size: 14px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1 {
    font-size: 32px;
    margin: 16px 0 24px;
    @include sp {
      font-size: 24px;
      margin: 8px 0 16px;
    }
  }
  h2 {
    margin: 56px 0 24px;
    font-size: 25.6px;
    font-weight: 500;
    border-bottom: 1px solid rgba(black, 0.12);
    &:first-child {
      margin-top: 0;
    }
    @include sp {
      font-size: 24px;
      margin: 52px 0 24px;
      line-height: 1.6;
      padding-bottom: 4px;
    }
  }
  h3 {
    margin: 50px 0 24px;
    font-size: 22.4px;
    font-weight: 500;
    &:first-child {
      margin-top: 0;
    }
    @include sp {
      font-size: 20px;
      line-height: 1.6;
      margin: 44px 0 24px;
    }
  }
  h3,
  li,
  p {
    code {
      font-size: 14px;
      background: #f1f3f4;
      padding: 1px 4px;
      color: #37474f;
      display: inline;
      word-break: break-all;
    }
  }
  ol {
    list-style-type: decimal;
    padding-left: 2em;
  }
  blockquote {
    border-left: 4px solid rgba(black, 0.12);
    margin: 16px 0;
    padding: 8px 0 8px 16px;
    color: rgba(black, 0.6);
  }
  li ul {
    margin: 8px 0;
  }
  pre {
    margin: 2em 0;
    padding: 0;
    border: 1px solid rgba(black, 0.12);
    &.no-lang {
      padding-top: 0;
    }
  }
  code {
    font-size: 12px;
    display: block;
    padding: 16px;
    text-shadow: none;
    overflow: auto;
    .token.operator {
      background: none;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 16px 0;
    font-size: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    th,
    td {
      border: 1px solid rgba(black, 0.12);
      padding: 8px;
    }
    th {
      font-weight: normal;
    }
    .material-icons {
      font-size: inherit;
      margin-left: 4px;
    }
  }
  p,
  ul,
  ol {
    margin: 24px 0;
    font-size: 16px;
    line-height: 1.9;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    @include sp {
      margin: 24px 0;
      font-size: 16px;
      line-height: 1.9;
    }
    .material-icons {
      margin-right: 4px;
      margin-left: 2px;
      font-size: 16px;
      vertical-align: -2px;
    }
  }

  ul {
    list-style: disc;
    padding-left: 1.5em;
  }

  ol {
    list-style: decimal;
    padding-left: 1.5em;
  }

  & &__date {
    font-size: 12px;
    color: rgba(black, 0.37);
    text-align: right;
    margin-bottom: 0;
  }
  pre {
    position: relative;
    border-radius: 3px;
    &.do {
      border-color: #4caf50;
      .lang {
        background: #4caf50;
        color: white;
      }
    }
    &.dont {
      border-color: #d32f2f;
      .lang {
        background: #d32f2f;
        color: #fff;
      }
    }
    .lang {
      text-shadow: none;
      font-family: 'roboto';
      font-size: 13px;
      color: rgba(black, 0.6);
      box-sizing: border-box;
      display: block;
      padding: 8px 16px;
      background: #eee;
      border-bottom: 1px solid rgba(black, 0.12);
    }
  }
  figure {
    margin: 24px auto;
    img {
      display: block;
      border-radius: 4px;
      box-shadow: 0 2px 16px rgba(black, 0.3);
      overflow: hidden;
      max-width: 100%;
      margin: 0 auto;
    }
    figcaption {
      font-size: 12px;
      margin-top: 8px;
      color: rgba(black, 0.6);
      text-align: center;
    }
  }
  .ogp {
    margin: 16px 0;
    background: #fff;
    display: flex;
    overflow: hidden;
    border: 1px solid rgba(black, 0.12);
    border-radius: 2px;
    @include sp {
      display: block;
    }
    &__thumbnail {
      width: 184px;
      background: center/cover;
      margin: 0;
      @include sp {
        height: 120px;
        width: 100%;
      }
    }
    &__title {
      font-size: 14px;
      margin: 0 0 8px;
      color: rgba(black, 0.87);
    }
    &__body {
      flex: 1;
      padding: 16px;
    }
    &__description {
      margin: 0 0 8px;
      font-size: 13px;
      color: rgba(black, 0.6);
      overflow: hidden;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
    &__url {
      font-size: 12px;
      color: rgba(black, 0.38);
      margin: 0;
      @include sp {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  iframe:not(.embedly-card) {
    display: block;
    width: 100%;
    margin: 24px 0;
    border: none;
    height: 400px;
    @include sp {
      height: 200px;
    }
  }

  twitter-widget {
    margin: 24px auto;
  }

  h2,
  h3,
  h4,
  h5 {
    .material-icons {
      margin-left: 8px;
      vertical-align: middle;
      display: none;
      color: inherit;
    }
    &:hover .material-icons {
      display: inline-block;
    }
  }
}

.doc .article {
  * {
    font-size: 13px;
  }
  h2,
  h3,
  h4,
  h5 {
    a {
      display: none !important;
    }
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    margin-top: 32px;
  }
  code {
    font-size: 12px;
    * {
      font-size: 12px;
    }
  }
  .info * {
    font-size: 12px;
  }
}

.embedly-card {
  border: 1px solid rgba(black, 0.12);
  margin: 16px 0;
  padding: 16px;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
