html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: #F9F9F9;
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  color: rgba(black, .87);
}

html, body {
  @include sp {
    height: auto;
  }
}

p {
  margin: 0;
}

p, ol, ul {
  line-height: 1.8;
  letter-spacing: 0.2px;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

figure {
  margin: 0;
}

h1, h2 {
  margin-top: 0;
}

h4 {
  font-size: 1.1em;
}

* {
  outline: none;
}

ol {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
