:host {
  display: block;
  padding: 24px;
}

.wrap {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  > div + div {
    border-left: 1px solid rgba(black, 0.12);
  }
}

.active {
  background: #f6f6f6;
}

.list-heading {
  justify-content: space-between;
}
