<mat-card *ngIf="sections" class="wrap">
  <div>
    <mat-nav-list cdkDropList (cdkDropListDropped)="sortSection($event)">
      <h2 matSubheader class="list-heading">
        <span>セクション</span>
        <button mat-icon-button (click)="openTitleDialog('section')">
          <mat-icon>add</mat-icon>
        </button>
      </h2>
      <ng-container *ngFor="let section of sections">
        <mat-divider inset></mat-divider>
        <mat-list-item
          [class.active]="activeSection?.id === section?.id"
          (click)="activeSection = section"
          cdkDrag
          *ngIf="section"
        >
          <mat-icon matListIcon cdkDragHandle>drag_handle</mat-icon>
          <span matLine>{{ section?.title }}</span>
          <button mat-icon-button [matMenuTriggerFor]="sectionMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #sectionMenu>
            <button
              mat-menu-item
              (click)="openTitleDialog('section', section.title)"
            >
              <mat-icon>edit</mat-icon>
              <span>編集</span>
            </button>
            <button mat-menu-item (click)="deleteSection()">
              <mat-icon>delete</mat-icon>
              <span>削除</span>
            </button>
          </mat-menu>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </div>
  <div>
    <mat-nav-list cdkDropList>
      <h2 matSubheader class="list-heading">
        <span>グループ</span>
        <button
          [disabled]="!activeSection"
          mat-icon-button
          (click)="openTitleDialog('section')"
        >
          <mat-icon>add</mat-icon>
        </button>
      </h2>
      <mat-divider inset *ngIf="!activeSection?.groupIds"></mat-divider>
      <ng-container *ngFor="let groupId of activeSection?.groupIds">
        <mat-divider inset></mat-divider>
        <mat-list-item
          cdkDrag
          *ngIf="activeSection.group[groupId] as group"
          (click)="activeGroup = group"
          [class.active]="activeGroup?.id === group.id"
        >
          <mat-icon matListIcon cdkDrag>drag_handle</mat-icon>
          <span matLine>{{ group.title }}</span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu>
            <button
              mat-menu-item
              (click)="openTitleDialog('group', group.title)"
            >
              <mat-icon>edit</mat-icon>
              <span>編集</span>
            </button>
            <button mat-menu-item (click)="deleteGroup()">
              <mat-icon>delete</mat-icon>
              <span>削除</span>
            </button>
          </mat-menu>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </div>
  <div>
    <mat-nav-list cdkDropList>
      <h2 matSubheader class="list-heading">
        <span>アイテム</span>
        <button
          [disabled]="!activeGroup"
          mat-icon-button
          (click)="openItemDialog()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </h2>
      <mat-divider inset *ngIf="!activeGroup?.itemIds"></mat-divider>
      <ng-container *ngFor="let itemId of activeGroup?.itemIds">
        <mat-divider inset></mat-divider>
        <mat-list-item cdkDrag *ngIf="activeGroup.item[itemId] as item">
          <mat-icon matListIcon cdkDrag>drag_handle</mat-icon>
          <span matLine>{{ item.title }}</span>
          <button mat-icon-button [matMenuTriggerFor]="itemMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #itemMenu>
            <button mat-menu-item (click)="openItemDialog(item)">
              <mat-icon>edit</mat-icon>
              <span>編集</span>
            </button>
            <button mat-menu-item (click)="deleteItem(itemId)">
              <mat-icon>delete</mat-icon>
              <span>削除</span>
            </button>
          </mat-menu>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>
  </div>
</mat-card>
