<mat-card *ngIf="tree" class="wrap">
  <div>
    <mat-nav-list dense cdkDropList (cdkDropListDropped)="sortSection($event)">
      <h2 matSubheader class="list-heading">
        <span>セクション</span>
        <button mat-icon-button (click)="openTitleDialog('section')">
          <mat-icon>add</mat-icon>
        </button>
      </h2>
      <mat-divider inset></mat-divider>
      <ng-container *ngFor="let section of tree.sections; last as last">
        <mat-list-item
          dense
          [class.active]="activeSection?.title === section?.title"
          (click)="activeSection = section"
          cdkDrag
          *ngIf="section"
        >
          <mat-icon matListIcon cdkDragHandle>drag_handle</mat-icon>
          <span matLine>{{ section?.title }}</span>
          <button mat-icon-button [matMenuTriggerFor]="sectionMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #sectionMenu>
            <button
              mat-menu-item
              (click)="openTitleDialog('section', section.title)"
            >
              <mat-icon>edit</mat-icon>
              <span>編集</span>
            </button>
            <button mat-menu-item (click)="deleteSection()">
              <mat-icon>delete</mat-icon>
              <span>削除</span>
            </button>
          </mat-menu>
        </mat-list-item>
        <mat-divider inset *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-nav-list>
  </div>
  <div>
    <mat-nav-list
      dense
      cdkDropList
      (cdkDropListDropped)="sortGroup($event, activeSection?.groups)"
    >
      <h2 matSubheader class="list-heading">
        <span>グループ</span>
        <button
          [disabled]="!activeSection"
          mat-icon-button
          (click)="openTitleDialog('group')"
        >
          <mat-icon>add</mat-icon>
        </button>
      </h2>
      <mat-divider inset></mat-divider>
      <ng-container
        *ngFor="let group of activeSection?.groups; index as i; last as last"
      >
        <mat-list-item
          dense
          cdkDrag
          [class.active]="group.title === activeGroup?.title"
          (click)="selectGroup(group)"
        >
          <mat-icon matListIcon cdkDragHandle>drag_handle</mat-icon>
          <span matLine>{{ group.title }}</span>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu>
            <button
              mat-menu-item
              (click)="openTitleDialog('group', group.title)"
            >
              <mat-icon>edit</mat-icon>
              <span>編集</span>
            </button>
            <button mat-menu-item (click)="deleteGroup(i)">
              <mat-icon>delete</mat-icon>
              <span>削除</span>
            </button>
          </mat-menu>
        </mat-list-item>
        <mat-divider inset *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-nav-list>
  </div>
  <div>
    <mat-nav-list
      dense
      cdkDropList
      (cdkDropListDropped)="sortItem($event, activeGroup?.atomicIds)"
    >
      <h2 matSubheader class="list-heading">
        <span>アイテム</span>
        <button [disabled]="!activeGroup" mat-icon-button routerLink="/new">
          <mat-icon>add</mat-icon>
        </button>
      </h2>
      <mat-divider inset></mat-divider>
      <ng-container
        *ngFor="let id of activeGroup?.atomicIds; last as last; index as i"
      >
        <mat-list-item dense cdkDrag *ngIf="atomic && atomic[id] as atomic">
          <mat-icon matListIcon cdkDragHandle>drag_handle</mat-icon>
          <span matLine>{{ atomic.title }}</span>
          <button
            mat-icon-button
            (click)="$event.stopPropagation()"
            [matMenuTriggerFor]="itemMenu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #itemMenu>
            <button routerLink="/edit" [queryParams]="{ v: id }" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>編集</span>
            </button>
            <button mat-menu-item (click)="deleteItem(i)">
              <mat-icon>delete</mat-icon>
              <span>削除</span>
            </button>
          </mat-menu>
        </mat-list-item>
        <mat-divider inset *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-nav-list>
  </div>
</mat-card>
