<div class="container" *ngIf="channel$ | async as channel">
  <mat-card class="header">
    <figure>
      <span class="header__cover"></span>
    </figure>
    <div class="header__body">
      <h1 class="header__title">{{ channel.title }}</h1>
      <div class="header__bar">
        <p class="header__owner">{{channel.title}}</p>
        <!-- <div class="rate" (click)="openReviewDialog(channel)">
          <span class="rate__star">
            <app-mat-star-rating
              [readonly]="true"
              [rating]="channel | rate"
            ></app-mat-star-rating>
          </span>
          <span class="rate__review-count"
            >{{
              (channel.statistics.reviewCount | number) || 0
            }}件のレビュー</span
          >
        </div> -->
      </div>
      <p class="header__description">
        {{channel.description}}
      </p>
      <div class="header__footer">
        <a mat-raised-button color="primary" href="https://forms.gle/FLN1cjYr2vPZgqpa9" target="_blank">面談を予約する</a>
        <span class="limit">残り{{channel.maxUser - channel.activeUser}}枠（定員{{channel.maxUser}}名）</span>
      </div>
    </div>
  </mat-card>

  <nav mat-tab-nav-bar>
    <a
      *ngFor="let tab of tabs"
      mat-tab-link
      [routerLink]="tab.path"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ tab.label }}
    </a>
  </nav>

  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
