@import "mixins";

:host {
  display: block;
  padding-top: 24px;
  @include sp {
    padding-top: 0;
  }
}

.header {
  display: flex;
  padding: 0;
  overflow: hidden;
  margin-bottom: 24px;
  @include sp {
    margin: 0 -16px 24px;
    border-radius: 0;
    box-shadow: 0;
    display: block;
  }
  &__cover {
    display: block;
    width: 480px;
    height: 100%;
    background: #000 url(/assets/images/nino-camp.png) center/contain no-repeat;
    @include sp {
      width: auto;
      padding-bottom: 52.5%;
    }
  }
  &__body {
    flex: 1;
    padding: 40px;
    @include sp {
      padding: 16px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    @include sp {
      font-size: 16px;
    }
  }
  &__owner {
    font-size: 13px;
    color: rgba(black, .6);
    margin-right: 16px;
  }
  &__bar {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
  }
  &__description {
    margin-bottom: 24px;
    color: rgba(black, .6);
  }
  &__footer {
    display: flex;
    align-items: center;
    span {
      margin-left: 16px;
      font-size: 13px;
      color: rgba(black, .38);
    }
  }
}

.description {
  margin-bottom: 24px;
  @include sp {
    margin-bottom: 0;
  }
}

.profile {
  display: flex;
  align-items: center;
  &__avatar {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 24px;
    @include sp {
      margin-right: 16px;
      width: 40px;
      height: 40px;
    }
    img {
      display: block;
      max-width: 100%
    }
  }
  &__body {
    flex: 1;
  }
  &__name {
    font-size: 24px;
    line-height: 30px;
    @include sp {
      font-size: 14px;
      line-height: 1.6;
    }
  }
  &__info {
    font-size: 14px;
    line-height: 21px;
    color: rgba(black, .6);
    @include sp {
      font-size: 12px;
      line-height: 1.6;
    }
  }
}

.tab-content {
  padding: 24px 0;
  @include sp {
    padding-top: 16px;
  }
}

.rate {
  padding: 8px 0;
  cursor: pointer;
  &__star {
    font-size: 16px;
    display: inline-block;
    line-height: 1;
  }
  &__review-count {
    font-size: 12px;
    color: rgba(black, .38);
    margin-left: 8px;
    display: inline-block;
  }
}
