<form [formGroup]="form">
  <div class="group" formGroupName="address_kanji">
    <mat-form-field>
      <span matPrefix>〒&nbsp;</span>
      <mat-label>郵便番号 (住所)</mat-label>
      <input
        type="text"
        matInput
        formControlName="postal_code"
        placeholder="0000000"
        autocomplete="postal-code"
        required
      />
      <mat-hint>ハイフン不要</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>都道府県 (漢字)</mat-label>
      <select
        matNativeControl
        placeholder=""
        formControlName="state"
        autocomplete="address-level1"
        required
      >
        <option *ngFor="let state of stateOptions" [value]="state">{{state}}</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>市区郡 (漢字)</mat-label>
      <input
        type="text"
        matInput
        formControlName="city"
        autocomplete="address-level2"
        required
      />
    </mat-form-field>
    <mat-form-field class="town">
      <mat-label>町村名、丁目を含む (漢字)</mat-label>
      <input
        type="text"
        matInput
        formControlName="town"
        autocomplete="address-line1"
        required
      />
    </mat-form-field>
    <mat-form-field class="line">
      <mat-label>番地 (漢字)</mat-label>
      <input
        type="text"
        matInput
        formControlName="line1"
        autocomplete="off"
        required
      />
    </mat-form-field>
  </div>

  <div formGroupName="address_kana" class="group">
    <mat-form-field>
      <span matPrefix>〒&nbsp;</span>
      <mat-label>郵便番号 (住所)</mat-label>
      <input
        type="text"
        matInput
        formControlName="postal_code"
        placeholder="0000000"
        required
        readonly
      />
      <mat-hint>自動入力されます</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>都道府県 (カナ)</mat-label>
      <input
        type="text"
        matInput
        inputmode="kana"
        formControlName="state"
        required
        autocomplete="off"
        readonly
      />
      <mat-hint>自動入力されます</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>市区郡 (カナ)</mat-label>
      <input
        type="text"
        matInput
        inputmode="kana"
        formControlName="city"
        autocomplete="off"
        required
      />
    </mat-form-field>
    <mat-form-field class="town">
      <mat-label>町村名、丁目を含む (カナ)</mat-label>
      <input
        type="text"
        matInput
        inputmode="kana"
        formControlName="town"
        autocomplete="off"
        required
      />
    </mat-form-field>
    <mat-form-field class="line">
      <mat-label>番地 (カナ)</mat-label>
      <input
        type="text"
        matInput
        inputmode="kana"
        formControlName="line1"
        autocomplete="off"
        required
      />
    </mat-form-field>
  </div>
</form>
