<div class="container">
  <mat-card *ngIf="user$ | async as user">
    <div class="user">
      <img class="user__avatar" [src]="user.avatarURL" alt="" />
      <div class="user__body">
        <h1 class="user__name">{{ user.name }}</h1>
        <p class="user__plan">
          <span>{{ user.plan | plan }}プラン</span>
        </p>
      </div>
    </div>

    <div class="actions">
      <button routerLink="/edit-product" mat-stroked-button>
        プロダクト管理
      </button>
    </div>

    <mat-divider inset></mat-divider>

    <mat-nav-list>
      <mat-list-item
        (click)="openTaskDialog(task)"
        *ngFor="let task of tasks; index as i"
      >
        <span matLine> {{ i + 1 }}. {{ task.label }} </span>
        <mat-icon *ngIf="isDone(user.tasks, task.id)" color="primary"
          >done</mat-icon
        >
      </mat-list-item>
    </mat-nav-list>

    <section *ngIf="user.plan === 'isa'">
      <h2>ISA</h2>
      <dl>
        <dt>開始日</dt>
        <dd>{{ user.isa?.start?.toDate() | date: 'yyyy年MM月dd日' }}</dd>
        <dt>終了日</dt>
        <dd>
          {{
            user.isa?.end
              ? (user.isa?.end?.toDate() | date: 'yyyy年MM月dd日')
              : '-'
          }}
        </dd>
        <dt>在籍日数</dt>
        <dd>{{ getDays(user.isa?.start, user.isa?.end) | number }}日</dd>
        <dt>分配金額: ({{ dayCost | number }}円/日)</dt>
        <dd>
          {{ getTotalPay(user.isa?.start, user.isa?.end) | number }}円 /
          {{ maxCost | number }}円
        </dd>
        <dt>分配期限</dt>
        <dd>
          {{
            user.isa?.end
              ? (getPayLimit(user.isa?.end) | date: 'yyyy年MM月dd日')
              : '-'
          }}
        </dd>
      </dl>
    </section>
  </mat-card>
</div>
