:host {
  display: block;
  padding: 24px 0;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  &__avatar {
    margin-right: 16px;
  }
  &__body {
    flex: 1;
  }
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
  }
  &__plan {
    color: rgba(black, 0.6);
    small {
      margin-left: 8px;
    }
  }
}

.join-standard {
  margin: 40px 0;
  &__cost {
    margin-left: 16px;
    color: rgba(black, 0.6);
    font-size: 13px;
  }
}

dl {
  dt {
    font-weight: bold;
    margin: 1.5em 0 8px;
  }
  dd {
    margin-left: 0;
  }
}

.note {
  margin-bottom: 16px;
}

section {
  padding: 24px 0;
}

.actions {
  margin-bottom: 24px;
  button + button {
    margin-left: 16px;
  }
}

.github {
  background: #333;
  color: white;
  margin-left: 16px;
  mat-icon {
    margin-right: 8px;
  }
}
