<div class="container">
  <mat-card *ngIf="user$ | async as user">
    <h1>{{ user.name }}</h1>

    <ng-container *ngIf="user.plan !== 'isa'">
      <section>
        <h2>プラン</h2>
        <p>{{ user.plan | plan }}プラン</p>
      </section>

      <section>
        <ng-container *ngIf="user.plan !== 'free'">
          <h2>プラン更新停止</h2>
          <p class="note">
            更新停止すると{{
              user.currentPeriodEnd * 1000 | date: 'yyyy年MM月dd日'
            }}にフリープランになります
          </p>
          <button
            (click)="openUnsubscribeDialog(user)"
            mat-stroked-button
            [disabled]="loading"
          >
            更新停止
          </button>
        </ng-container>
      </section>
    </ng-container>

    <section *ngIf="user.plan === 'isa'">
      <h2>ISA</h2>
      <dl>
        <dt>開始日</dt>
        <dd>{{ user.isa?.start | date: 'yyyy年MM月dd日' }}</dd>
        <dt>終了日</dt>
        <dd>
          {{ user.isa?.end ? (user.isa?.end | date: 'yyyy年MM月dd日') : '-' }}
        </dd>
        <dt>在籍日数</dt>
        <dd>{{ getDays(user.isa?.start, user.isa?.end) | number }}日</dd>
        <dt>分配金額: ({{ dayCost | number }}円/日)</dt>
        <dd>
          {{ getTotalPay(user.isa?.start, user.isa?.end) | number }}円 /
          {{ maxCost | number }}円
        </dd>
        <dt>分配期限</dt>
        <dd>
          {{
            user.isa?.end
              ? (getPayLimit(user.isa?.end) | date: 'yyyy年MM月dd日')
              : '-'
          }}
        </dd>
      </dl>
    </section>
  </mat-card>
</div>
