<div class="container">
  <mat-card *ngIf="user$ | async as user">
    <div class="user">
      <img class="user__avatar" [src]="user.avatarURL" alt="" />
      <div class="user__body">
        <h1 class="user__name">{{ user.name }}</h1>
        <p class="user__plan">
          <span>{{ user.plan | plan }}プラン</span>
        </p>
      </div>
    </div>

    <div class="actions">
      <button
        routerLink="/edit-product"
        mat-stroked-button
        *ngIf="user | customer"
      >
        プロダクト管理
      </button>
      <ng-container
        *ngIf="(apolloService.isReady$ | async) && (user | customer)"
      >
        <button
          mat-raised-button
          color="primary"
          (click)="connectRepo()"
          *ngIf="
            (githubData$ | async)?.githubUniqueId && !user.repoId;
            else connect
          "
        >
          リポジトリ登録
        </button>
      </ng-container>
      <ng-template #connect>
        <button
          (click)="importLabels(user.repoId)"
          mat-button
          *ngIf="user.repoId && !apolloService.authInvalid"
        >
          ラベルインポート
        </button>
        <button
          *ngIf="!user.repoId || apolloService.authInvalid"
          class="github"
          mat-button
          (click)="connectGitHub()"
        >
          <mat-icon svgIcon="github"></mat-icon>
          <span>連携</span>
        </button>
      </ng-template>
    </div>

    <mat-divider inset></mat-divider>

    <mat-nav-list
      *ngIf="
        user.plan === 'admin' || user.plan === 'mentor' || user.plan === 'isa';
        else notMentor
      "
    >
      <h3 matSubheader>フロー</h3>
      <mat-list-item
        (click)="openTaskDialog(task)"
        *ngFor="let task of tasks; index as i"
      >
        <span matLine> {{ i + 1 }}. {{ task.label }} </span>
        <mat-icon *ngIf="isDone(user.tasks, task.id)" color="primary"
          >done</mat-icon
        >
      </mat-list-item>
    </mat-nav-list>

    <ng-template #notMentor>
      <mat-list>
        <h3 matSubheader>フロー</h3>
        <mat-list-item>1. Slackに登録</mat-list-item>
        <mat-list-item>2. チュートリアルを進める</mat-list-item>
        <mat-list-item>3. プロダクト開発を進める</mat-list-item>
      </mat-list>
    </ng-template>

    <section *ngIf="user.plan === 'isa'">
      <h2>ISA</h2>
      <dl>
        <dt>開始日</dt>
        <dd>{{ user.isa?.start?.toDate() | date: 'yyyy年MM月dd日' }}</dd>
        <dt>終了日</dt>
        <dd>
          {{
            user.isa?.end
              ? (user.isa?.end?.toDate() | date: 'yyyy年MM月dd日')
              : '-'
          }}
        </dd>
        <dt>在籍日数</dt>
        <dd>{{ getDays(user.isa?.start, user.isa?.end) | number }}日</dd>
        <dt>分配上限金額:</dt>
        <dd>
          {{
            isaService.getShareLimit(getDays(user.isa?.start, user.isa?.end))
              | number: '1.0-1'
          }}万円（最大{{ isaService.maxCost / 10000 | number }}万円）
        </dd>
        <dt>分配期限</dt>
        <dd>
          {{
            user.isa?.end
              ? (getPayLimit(user.isa?.end) | date: 'yyyy年MM月dd日')
              : 'CAMP終了から' + isaService.limitYearCount + '年間'
          }}
        </dd>
      </dl>
      <button
        mat-raised-button
        color="primary"
        (click)="openIsaCalc(getDays(user.isa?.start, user.isa?.end))"
      >
        シミュレーション
      </button>
    </section>
  </mat-card>
</div>
