<mat-dialog-content>
  <div class="header">
    <img src="/assets/images/job-card-header.png" alt="">
  </div>

  <div *ngIf="data.job" class="wrap">
    <h1>{{ data.job.title }}</h1>
    <div class="amount">
      <p *ngIf="data.job.amount">{{ data.job.amount | number }}円/日</p>
      <p *ngIf="!data.job.amount">費用は応相談</p>
    </div>
    <p class="description">{{ data.job.description }} / 希望ワークスタイル: {{ data.job.style }}</p>

    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>名前</mat-label>
        <input type="text" autocomplete="name" formControlName="name" matInput placeholder="山田太郎">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>予算</mat-label>
        <input type="text" autocomplete="off" formControlName="budget" matInput placeholder="800,000円/月">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>概要</mat-label>
        <textarea matInput formControlName="description" required placeholder="初回連絡である程度判断できるよう、可能な限り詳しく記載してください。「まずはお会いして話しましょう」は避けましょう。"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>納期</mat-label>
        <input type="text" autocomplete="off" formControlName="dueDate" matInput required placeholder="納期や契約期間の目安">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>契約形態</mat-label>
        <mat-select formControlName="type" multiple>
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ワークスタイル</mat-label>
        <mat-select formControlName="style" multiple>
          <mat-option *ngFor="let style of styles" [value]="style">{{style}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <a [disabled]="form.invalid" href="mailto:{{data.channel.email}}?subject={{data.job.title}}に関する案件相談（from 3ML）&body={{body}}" target="_blank" mat-raised-button color="primary">メールで相談</a>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>閉じる</button>
</mat-dialog-actions>
