<div class="page-header">
  <div class="container">
    <h1 class="page-header__body">特定商取引法に関する表示</h1>
  </div>
</div>

<div class="container">
  <mat-card class="content">
    <table>
      <colgroup>
        <col style="width: 240px">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th>会社名</th>
          <td>株式会社Deer</td>
        </tr>
        <tr>
          <th>代表者</th>
          <td>代表取締役社長 二宮 大地</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>〒160-0022 東京都新宿区新宿1-36-2 3F</td>
        </tr>
        <tr>
          <th>問い合わせ先</th>
          <td>update@deer.co.jp</td>
        </tr>
        <tr>
          <th>お支払い方法</th>
          <td>指定口座への銀行振込、クレジットカード決済</td>
        </tr>
        <tr>
          <th>販売価格</th>
          <td>各コース詳細ページに表示された価格に基づきます。</td>
        </tr>
        <tr>
          <th>コース代金以外の料金</th>
          <td>
            コース代金以外に料金がかかる場合は、コース詳細ページに別途記載いたします。なおサービスの提供を受けるために必要な、コンピューター、スマートフォン、マイクやウェブカメラ、通信回線その他の通信環境等は、お客様の費用と責任において準備し維持するものとします。
          </td>
        </tr>
        <tr>
          <th>キャンセル等その他の事項</th>
          <td>
            <h3>＜クーリング・オフについて＞</h3>
            <p>本サービスはクーリング・オフ適用対象外です。</p>

            <h3>＜サービス提供開始前のキャンセルについて＞</h3>
            <p>
              キャンセル可能です。受講開始にかかわらず、学習システム（カリキュラム）にログインされた後のご返金はいたしかねますのでご了承下さい。
            </p>
            <p>
              なおログイン実施前かつ、受講開始日の1営業日前までであれば、振込手数料を引いて全額返金いたします。（受付：平日10時〜19時）
            </p>

            <h3>＜サービス提供開始後のキャンセルについて＞</h3>
            <p>
              サービスの性質上、サービス提供開始後のお客様都合によるキャンセルはお受けしておりません。
            </p>

            <h3>＜サービス提供時期について＞</h3>
            <p>
              コース開始の初日。
            </p>
          </td>
        </tr>
        <tr>
          <th>個人情報のお取り扱い</th>
          <td>
            取り扱いの詳細については、<a routerLink="/privacypolicy">プライバシーポリシー</a>をご参照下さい。
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>
