<app-header [sideNav]="sideNav" *ngIf="!isMobile || !noHeader"></app-header>
<mat-progress-bar
  *ngIf="isLoading$ | async"
  color="accent"
  class="root-loading"
  mode="indeterminate"
></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav
    [opened]="!isMobile && !hideNav"
    [mode]="isMobile ? 'over' : 'side'"
    class="side"
    #sideNav
    [autoFocus]="false"
    [fixedInViewport]="true"
    [fixedTopGap]="isMobile ? 48 : 56"
  >
    <app-drawer [isLoading$]="causeLoading$">
      <app-cause-list (complete)="completeCauseList()"></app-cause-list>
      <mat-divider></mat-divider>
      <mat-nav-list dense>
        <a mat-list-item routerLink="/atomic">
          <mat-icon mat-list-icon>how_to_reg</mat-icon>
          <span mat-line>スキル</span>
        </a>
        <a mat-list-item routerLink="/favorites">
          <mat-icon mat-list-icon>playlist_play</mat-icon>
          <span mat-line>マイリスト</span>
        </a>
      </mat-nav-list>
    </app-drawer>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main" [class.full]="isMobile && noHeader">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="isMobile && !noBottomNav" class="bottom-nav">
  <a class="bottom-nav-item" routerLink="/">
    <mat-icon class="bottom-nav-item__icon">home</mat-icon>
    <span class="bottom-nav-item__label">ホーム</span>
  </a>
  <a class="bottom-nav-item" routerLink="/search">
    <mat-icon class="bottom-nav-item__icon">search</mat-icon>
    <span class="bottom-nav-item__label">検索</span>
  </a>
  <a class="bottom-nav-item" routerLink="/atomic">
    <mat-icon class="bottom-nav-item__icon">how_to_reg</mat-icon>
    <span class="bottom-nav-item__label">スキル</span>
  </a>
  <ng-container *ngIf="user$ | async as user">
    <a class="bottom-nav-item" [routerLink]="['/mypage']">
      <mat-icon class="bottom-nav-item__icon">account_circle</mat-icon>
      <span class="bottom-nav-item__label">マイページ</span>
    </a>
  </ng-container>
</div>
