@import "mixins";

.side {
  width: 240px;
}

.main {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  @media print {
    top: 0;
  }
  @include sp {
    position: static;
    margin-top: 48px;
    &.full {
      margin-top: 0;
    }
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #212121;
  display: grid;
  z-index: 1000;
  grid-template-columns: repeat(4, 1fr);
  color: #ffffff;
  padding: 8px 0 16px;
}

.bottom-nav-item {
  text-align: center;
  opacity: 0.38;
  &.active {
    opacity: 1;
  }
  &__icon {
    vertical-align: bottom;
  }
  &__label {
    font-size: 9px;
    margin-top: 8px;
    display: block;
    line-height: 1;
  }
}
