@import 'mixins';

.side {
  width: 240px;
}

.main {
  padding-top: 56px;
  min-height: 100vh;
  box-sizing: border-box;
  @include sp {
    padding-top: 48px;
    margin-bottom: 58px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #212121;
  display: grid;
  z-index: 1000;
  display: flex;
  color: #ffffff;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  > * {
    flex: 1;
    padding: 8px 0;
  }
}

.bottom-nav-item {
  text-align: center;
  opacity: 0.38;
  outline: none;
  &.active {
    opacity: 1;
  }
  &__icon {
    vertical-align: bottom;
  }
  &__label {
    font-size: 9px;
    margin-top: 8px;
    display: block;
    line-height: 1;
  }
}
