<ng-container *ngIf="permission$ | async else rule">
  <div class="wrap">
    <div class="plans" [class.is-loading]="isLoading">
      <mat-nav-list dense>
        <h3 matSubheader>プラン</h3>
        <ng-container *ngIf="stripeAccount$ | async">
          <mat-list-item *ngFor="let plan of plans$ | async" routerLinkActive="active" [routerLink]="[plan.type]">
            <span matLine>{{ plan.type | planTitleLabel }}</span>
            <span matLine class="subline">{{ plan.amount | number }}円/{{plan.per | planPerLabel}}</span>
            <mat-slide-toggle [checked]="plan.active" (mousedown)="$event.stopPropagation()" (change)="changeStatus(plan, $event)">公開</mat-slide-toggle>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
        <h3 matSubheader>設定&ヘルプ</h3>
        <mat-list-item target="_blank" routerLinkActive="active" routerLink="guide">
          <span matLine>プランについて</span>
        </mat-list-item>
        <mat-list-item target="_blank" routerLinkActive="active" routerLink="settings">
          <span matLine>設定</span>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #rule>
  <div class="permission" *ngIf="!isLoading">
    <h1>プランを作る権限がありません。</h1>

    <p>プランを作るためには以下の条件をクリアする必要があります。</p>

    <ul>
      <li>いいねした回数: {{limit.totalLikeCount}}以上（現: {{nowStatus?.totalLikeCount}}）</li>
      <li>いいねされた回数: {{limit.totalLikedCount}}以上（現: {{nowStatus?.totalLikedCount}}）</li>
      <li>公開したレッスン: {{limit.publicLessonCount}}以上（現: {{nowStatus?.publicLessonCount}}）</li>
      <li>登録者数: {{limit.followerCount}}以上（現: {{nowStatus?.followerCount}}）</li>
    </ul>
  </div>
</ng-template>
