<div class="wrap">
  <div class="plans" [class.is-loading]="isLoading">
    <mat-nav-list dense>
      <ng-container *ngIf="stripeAccount$ | async">
        <h3 matSubheader>有料サポート</h3>
        <mat-list-item *ngFor="let plan of plans$ | async" routerLinkActive="active" [routerLink]="[plan.type]">
          <span matLine>{{ plan.type | planTitleLabel }}</span>
          <span matLine class="subline">{{ plan.amount | number }}円/{{plan.per | planPerLabel}}</span>
          <mat-slide-toggle [checked]="plan.active" (mousedown)="$event.stopPropagation()" (change)="changeStatus(plan, $event)">公開</mat-slide-toggle>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
      <h3 matSubheader>設定&ヘルプ</h3>
      <mat-list-item target="_blank" routerLinkActive="active" routerLink="guide">
        <span matLine>サポートについて</span>
      </mat-list-item>
      <mat-list-item target="_blank" routerLinkActive="active" routerLink="settings">
        <span matLine>設定</span>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
