.wrap {
  display: grid;
  grid-template-columns: 320px 1fr;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
}

.plans {
  border-right: 1px solid rgba(black, 0.12);
}

.subline {
  color: rgba(black, 0.38);
}

.active {
  background: rgba(0, 0, 0, 0.04);
}

.disabled {
  pointer-events: none;
  opacity: 0.38;
}

mat-form-field {
  width: 100%;
}

.body {
  height: 100%;
  overflow: auto;
}

.is-loading {
  opacity: 0;
}

mat-list-item mat-icon {
  color: rgba(black, 0.6);
}

.permission {
  padding: 24px;
  h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 24px;
  }
}
