:host {
  display: block;
  padding: 24px;
  background: #fafafa;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

mat-card {
  padding: 40px;
}

h1, h2 {
  font-size: 16px;
  font-weight: normal;
}

mat-form-field {
  display: block;
  margin-bottom: 24px;
  &.inline {
    display: inline-block;
  }
}

.meta {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}

mat-divider {
  margin: 24px 0;
}

textarea {
  height: 240px;
  line-height: 1.6;
}

.group {
  h2 {
    font-size: 16px;
    font-weight: normal;
  }
  mat-slide-toggle {
    margin-right: 24px;
  }
}

.notice {
  font-size: 13px;
  color: rgba(black, .6);
  margin-bottom: 16px;
}
