<h1 matDialogTitle>レビューしてクローズ</h1>

<mat-dialog-content>
  <app-mat-star-rating (ratingUpdated)="rate = $event"></app-mat-star-rating>
  <mat-form-field>
    <mat-label>コメント</mat-label>
    <textarea cdkFocusInitial [formControl]="comment" matInput required></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button matDialogClose>キャンセル</button>
    <button mat-flat-button color="primary" [disabled]="comment.invalid || !rate" (click)="submit()">レビュー</button>
</mat-dialog-actions>
