<h1 matDialogTitle>リポジトリを選択</h1>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>リポジトリ</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>-</mat-option>
      <mat-option *ngFor="let repo of repos$ | async" [value]="repo.id">
        {{ repo.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>キャンセル</button>
  <button
    mat-raised-button
    color="primary"
    [matDialogClose]="selected"
    [disabled]="!selected"
  >
    選択
  </button>
</mat-dialog-actions>
