:host {
  display: block;
  margin-bottom: 40px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 24px 0;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 40px 0 16px;
  &:first-child {
    margin-top: 0;
  }
}

.contact {
  display: flex;
  h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 16px;
  }
  &__avatar {
    border-radius: 50%;
    margin-right: 16px;
    text-align: center;
    img {
      width: 56px;
    }
  }
  &__body {
    flex: 1;
    p {
      margin-bottom: 16px;
      font-size: 13px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 24px;
}


.answer {
  color: rgba(black, .6);
}

ul {
  list-style: disc;
  padding-left: 2em;
}

h3 {
  font-size: 14px;
  font-weight: normal;
}
