@import "mixins";

:host {
  display: block;
}

.video {
  position: relative;
  padding-bottom: 62.5%;
  overflow: hidden;
  border-radius: 4px;
  background: #000;
  @include sp {
    border-radius: 0;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}
