:host {
  display: block;
}

.video {
  position: relative;
  padding-bottom: 62.5%;
  background: #000;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}
