<section>
  <h2>ゴール</h2>
  <p>Webフロントエンドエンジニアとして就職する</p>

  <h3>達成条件</h3>
  <ul>
    <li>サービス開発実績を1つ作って公開する</li>
    <li>サービスに対する機能追加の課題を、期間内に正しく解決することができる</li>
  </ul>
</section>

<section>
  <h2>訓練期間</h2>
  <p>６ヶ月（最短３ヶ月）</p>
</section>

<section>
  <h2>対象</h2>
  <ul>
    <li>Web業界に就職するという明確な意思のある方</li>
  </ul>
</section>

<section>
  <h2>参加条件</h2>
  <ul>
    <li>個人のPCを持っていること（ネットカフェや他人との共有PCは不可）</li>
    <li>基本的なPC操作ができること</li>
    <li>平日10:00〜19:00（休憩1時間）訓練に取り組めること</li>
    <li>毎日参加すること（病欠や冠婚葬祭は事前連絡の上欠席可能）</li>
  </ul>
  <h3>強制退会の条件</h3>
  <ul>
    <li>病欠や冠婚葬祭以外の理由で月の稼働率が90％を下回った場合</li>
    <li>公序良俗に反する言動が繰り返された場合</li>
  </ul>
</section>

<section>
  <h2>サポート</h2>
  <ul>
    <li>サービス設計支援</li>
    <li>無制限のコードレビュー</li>
    <li>無制限の質問への回答</li>
    <li>平日17:00〜18:00のビデオ通話</li>
    <li>教材提供</li>
    <li>レジュメ添削</li>
  </ul>
  <h3>使用ツール</h3>
  <ul>
    <li>Slack - チャット</li>
    <li>Google Hangout - ビデオ通話</li>
  </ul>
</section>

<section>
  <h2>ロードマップ</h2>
  <ol class="roadmap">
    <li>
      <div class="roadmap__item">
        <h3>サービス設計とスケジューリング</h3>
        <p>自分の実績となるサービスの企画を私と一緒に行います。課金、検索、ログイン、投稿の機能を含める事が条件となります。企画が終わったら実際のプロジェクト同様に、画面単位や機能単位でリリースまでのスケジュールを設定します。</p>
      </div>
    </li>
    <li>
      <div class="roadmap__item">
      <h3>開発</h3>
      <p>レッスンをみながらサービス開発を進めます。毎日17:00〜18:00に進捗確認をその日詰まった点のトラブルシューティングを行います。また、途中で機能追加（修正）のタスクを飛ばし、柔軟な対応力やメンテナブルな開発力を磨いてもらいます。</p>
      </div>
    </li>
    <li>
      <div class="roadmap__item">
      <h3>リリース</h3>
      <p>完成したサービスはテストアップをして動作チェックや各種検品を行います。JSテストも合わせて行います。すべて終わったらサービスをリリースします。</p>
      </div>
    </li>
    <li>
      <div class="roadmap__item">
      <h3>就職</h3>
      <p>レジュメ添削と面接対策を行った上で就職活動を行います。メンターから特定の企業に誘導することはしませんが、検討中の企業について客観的なアドバイスは行っています。</p>
      </div>
    </li>
  </ol>
</section>

<section>
  <h2>身に付くスキル</h2>
  <ul>
    <li>テキストエディターの操作</li>
    <li>GitとGitHubとSlackを用いた実務形式の開発</li>
    <li>CIによるテスト自動化</li>
    <li>HTML/CSS(SCSS)による高品質なマークアップ</li>
    <li>レスポンシブウェブデザインとアクテシビリティ</li>
    <li>TypeScript</li>
    <li>AngularによるWebフロント開発</li>
    <li>Angular Materialを用いたUI実装</li>
    <li>Firebaseによるバックエンド設計</li>
    <li>プッシュ通知の実装</li>
    <li>Sendgridを用いたメール配信</li>
    <li>Algoliaを用いた検索機能の実装</li>
    <li>Stripeを用いた課金機能の実装</li>
    <li>PWAによるパフォーマンス最適化</li>
    <li>ユニットテストと検品による品質保証</li>
    <li>SEO対策（検索エンジン対策）</li>
    <li>Adobe XDを用いた画面設計</li>
    <li>サービス企画、設計</li>
    <li>Rendertronによるダイナミックレンダリング</li>
    <li>Google Cloud Platformの知識、運用</li>
    <li>実務に必要な専門用語の理解</li>
    <li>タスクベースのスケジュール管理</li>
    <li>その他サービスで必要となる機能の実装方法</li>
  </ul>
  <h3>身に付かないスキル</h3>
  <ul>
    <li>RubyやPHPなどのサーバーサイド言語</li>
    <li>MySQL等のデータベース設計</li>
    <li>AI、機械学習、データサイエンス</li>
    <li>ネイティブアプリ開発（iOS、Android、デスクトップ）</li>
    <li>高度な3D開発</li>
  </ul>
</section>

<!-- <section>
  <h2>実績</h2>
  <p>あれば表示される</p>
</section> -->

<section>
  <h2>メンタープロフィール</h2>
  <p>大手Web制作会社でのリード開発、大手人材会社でのテクニカルディレクターを経て独立。無業者を対象にフルリモートでプログラミング教育を行っていた経験を持つ。Webフロント全般とFirebaseに明るく、モダンな技術セットでWebサービスを高速開発することを得意とする。</p>
  <h3>メンターの実績</h3>
  <ul>
    <li><a target="_blank" href="https://to.camp">CAMP</a> - CtoCブートキャンプ</li>
    <li><a target="_blank" href="https://free.update.jp">Update</a> - NPO向け人材開発事業</li>
    <li><a target="_blank" href="https://update.jp">Update</a> - 法人向け人材育成事業</li>
  </ul>
</section>

<section>
  <h2>メッセージ</h2>
  <p>よく「プログラミングは簡単に覚えられる。簡単に稼げる。」という声を耳にしますが、僕はそうは思いません。実戦で通用するスキルを身に付けるのは大変です。だからこそ希少価値が上がり、高単価やリモートの求人が出されるわけです。</p>
  <br>
  <p>だから、生半可な気持ちでなんとなくプログラミングを覚えよう、ではなく、「Webサービスの開発実績を作って来年までに希望の条件で転職する！」という強い覚悟を持って来てください。</p>
  <br>
  <p>僕が企業で採用をしてきた経験から、「この人となら一緒に働きたい」と思えるレベルまで責任を持って育てます。そのために難問に立ち向かっていく強い覚悟のある方をお待ちしています！</p>
</section>

<section>
  <mat-card class="contact">
    <figure>
      <img src="/assets/images/isa.png" alt="">
    </figure>
    <div class="contact__body">
      <h2>CAMPはISAを採用しています</h2>
      <p>ISAは<strong>年収320万円以上</strong>で就業した後に、毎月の給与から<strong>一律15%</strong>を学費としてお支払いいただくモデルです。年収320万円以上で就業できなかった場合、学費は<strong>一切いただきません。</strong>途中で退会（強制退会）した場合にかかる解約金などもありません。ノーリスクで訓練することができます。お支払い金額の上限は<strong>学習期間に応じて150万〜300万円</strong>となります。それ以上いただくことはありません。</p>
      <a mat-raised-button color="primary" href="mailto:daichi.ninomiya@deer.co.jp?subject=CAMP:面談の予約&body=面談希望日を入力してください" target="_blank">面談を予約する</a>
    </div>
  </mat-card>
</section>

<section>
  <h2>Q&A</h2>
  <dl>
    <dt>実際の案件を開発することはありますか？</dt>
    <dd>ありません。あなたとメンターで新しいサービスを企画して、自分で開発します。</dd>
    <dt>途中退会によるペナルティはありますか？</dt>
    <dd>3ヶ月未満であれば一切ありません。3ヶ月以上在籍した場合、ISAが適用されます。</dd>
  </dl>
</section>
