@import 'mixins';
@import '~@angular/material/theming';

.video {
  margin-bottom: 20px;
  @media print {
    display: none;
  }
  @include sp {
    margin: -16px -16px 16px;
  }
}

.video-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  @media print {
    display: none;
  }
  @include sp {
    display: block;
  }
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  @include sp {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.channel-actions {
  @media print {
    display: none;
  }
}

.actions {
  display: flex;
  &__item {
    color: #909090;
    &--active {
      color: #3f51b5;
    }
  }
  mat-icon {
    margin-right: 8px;
  }
}

.count {
  font-size: 16px;
  color: rgba(black, 0.6);
  @include sp {
    font-size: 12px;
  }
}

.channel-box {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  @include sp {
    margin-bottom: 24px;
  }
}

.channel {
  display: flex;
  align-items: center;
  &__avatar {
    display: block;
    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 16px;
    }
  }
  &__title {
    display: block;
    font-size: 14px;
    font-weight: 500;
  }
  &__date {
    font-size: 13px;
    color: rgba(black, 0.38);
  }
}

.video-description {
  margin-left: 56px;
  font-size: 14px;
  line-height: 21px;
}

.weak {
  color: #606060;
  background: #0000001a;
}

.permission {
  &__title {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 24px;
  }
}

.lesson {
  margin-bottom: 80px;
  &__cover {
    padding-bottom: 52.5%;
    display: block;
    background: center/cover;
    margin-bottom: 24px;
  }
  @include sp {
    margin-bottom: 24px;
  }
}

.loading-lesson {
  opacity: 0;
}

.delete {
  text-align: center;
  color: rgba(black, 0.38);
  margin: 24px 0;
}

.review {
  margin-top: 40px;
  mat-icon {
    margin-right: 8px;
  }
}
