<ng-container
  *ngIf="lesson$ | async as lesson"
  [class.loading-lesson]="loading$ | async"
>
  <div class="lesson" *ngIf="!lesson.deleted; else delete">
    <ng-container *ngIf="permission$ | async as permission">
      <app-vimeo
        *ngIf="lesson.videoId && permission"
        class="video"
        [id]="lesson.videoId"
      ></app-vimeo>
    </ng-container>
    <figure
      class="lesson__cover"
      *ngIf="!lesson.videoId && lesson.thumbnailURL"
      [style.background-image]="
        'url(' + lesson.thumbnailURL + ')' | safe: 'style'
      "
    ></figure>
    <h1 class="title">{{ lesson.title }}</h1>
    <div class="video-footer">
      <div class="actions">
        <a
          href="https://to-camp.slack.com/archives/C0116JHDY2H"
          target="_blank"
          class="actions__item"
          mat-button
          [matTooltip]="
            (permission$ | async) ? null : '有料プランへの加入が必要です'
          "
          [disabled]="!(permission$ | async)"
        >
          <mat-icon class="mat-18">question_answer</mat-icon>
          <span>質問</span>
        </a>
        <a
          href="https://to-camp.slack.com/archives/C0116JHDY2H"
          target="_blank"
          class="actions__item"
          mat-button
        >
          <mat-icon class="mat-18">flag</mat-icon>
          <span>報告</span>
        </a>
        <a
          class="actions__item"
          *ngIf="!isMobile && (isOwner$ | async)"
          mat-button
          [routerLink]="['/edit']"
          [queryParams]="{ v: lesson.id }"
        >
          <mat-icon class="mat-18">edit</mat-icon>
          <span>編集</span>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="channel-box" *ngIf="channel$ | async as channel">
      <div class="channel">
        <a class="channel__avatar">
          <img [src]="channel.avatarURL" alt="" />
        </a>
        <div class="channel__body">
          <a class="channel__title">{{ channel.ownerName || channel.title }}</a>
          <p class="channel__date">
            {{ lesson.updatedAt?.toDate() | date: 'yyyy/MM/dd' }} に更新
          </p>
        </div>
      </div>
    </div>

    <ng-container *ngIf="permission$ | async as permission; else noPermission">
      <article class="article" *ngIf="permission$ | async">
        <markdown [data]="lesson.body"></markdown>
      </article>
    </ng-container>

    <ng-template #noPermission>
      <div class="permission">
        <h1 class="permission__title">
          「{{ lesson.title }}」を閲覧するには有料プランへの登録が必要です。
        </h1>

        <a mat-flat-button color="primary" routerLink="/about" fragment="plan">
          プランを見る
        </a>
      </div>
    </ng-template>
  </div>

  <ng-template #delete>
    <div class="lesson">
      <p class="delete">このポストは削除されました</p>
    </div>
  </ng-template>
</ng-container>
