<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
  <h1 matDialogTitle>アトミック情報</h1>

  <mat-dialog-content>
    <div class="head">
      <div class="icon">
        <app-input-image
          (file)="image = $event; form.markAsDirty()"
          [options]="options"
          [oldSrc]="meta?.iconURL"
        ></app-input-image>
      </div>
      <div class="head__body">
        <mat-form-field *ngIf="tree">
          <mat-label>グループ</mat-label>
          <mat-select
            (selectionChange)="setGroupData($event.value)"
            [formControl]="atomicGroupControl"
          >
            <mat-option>-- なし --</mat-option>
            <mat-optgroup
              *ngFor="let section of tree.sections; index as sectionIndex"
              [label]="section.title"
            >
              <mat-option
                *ngFor="let group of section.groups; index as groupIndex"
                [value]="{ sectionIndex: sectionIndex, groupIndex: groupIndex }"
              >
                {{ group.title }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <h3>リソース</h3>
    <div
      formArrayName="resources"
      cdkDropList
      (cdkDropListDropped)="sortResources($event)"
      class="resources"
      *ngIf="resourceControls.controls.length"
    >
      <ng-container *ngFor="let ctrl of resourceControls.controls; index as i">
        <div [formGroupName]="i" cdkDrag class="resource">
          <button mat-icon-button type="button" cdkDragHandle>
            <mat-icon>drag_handle</mat-icon>
          </button>
          <mat-form-field>
            <mat-label>タイトル</mat-label>
            <input
              autocomplete="off"
              formControlName="title"
              type="text"
              matInput
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>URL</mat-label>
            <input
              autocomplete="off"
              formControlName="url"
              type="text"
              matInput
              required
            />
          </mat-form-field>
          <button mat-icon-button (click)="removeResource(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
    <button mat-icon-button type="button" (click)="addResource()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="button" matDialogClose>キャンセル</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="
        resourceControls.invalid ||
        resourceControls.pristine ||
        (!meta && !image)
      "
    >
      保存
    </button>
  </mat-dialog-actions>
</form>
