<section class="special">
  <div class="special__body">
    <h2 class="special__hdg">
      <span>100本以上の動画教材が</span>
      <span>すべて見放題</span>
    </h2>
    <p class="special__description">
      専門用語が並ぶ小難しい技術書を読み込む必要はありません。Flockの動画教材を使えば直感的に素早く学習することができます。丁寧に解説しながら実際に実装していくのでプロの実装をダイレクトに学習することができます。教材は日々アップデートし、増え続けています。
    </p>
    <ul class="special-plans">
      <li class="special-plans__plan">全プラン</li>
    </ul>
    <div class="special__action">
      <a
        target="_blank"
        href="https://www.youtube.com/channel/UCUPq5dKFGnOziaqYI-ejYcg?view_as=subscriber"
        mat-button
        color="primary"
      >
        <span>無料動画を見る</span>
        <mat-icon inline>open_in_new</mat-icon>
      </a>
    </div>
  </div>
</section>

<section class="special special--center special--chat">
  <figure class="special__image special__image--right">
    <div class="asks" data-aos data-aos-once="true"></div>
  </figure>
  <div class="special__body">
    <h2 class="special__hdg">
      <span>現役エンジニアに</span>
      <span>いつでも聞き放題</span>
    </h2>
    <p class="special__description">
      Flockは完全オンラインなので時間を選ばずいつでも、何度でも質問することができます。現役エンジニアのメンターが速やかに回答します。他の人の質問を見ることもできます。教材に関する質問はもちろん、キャリア相談や自分のサービスにまつわる質問も可能です。
    </p>
    <ul class="special-plans">
      <li class="special-plans__plan">ソロプラン</li>
      <li class="special-plans__plan">メンタープラン</li>
    </ul>
  </div>
</section>

<section class="special special--center">
  <figure class="special__image">
    <div class="idea" data-aos="">
      <img src="assets/images/welcome/idea.svg" alt="" />
    </div>
  </figure>
  <div class="special__body">
    <h2 class="special__hdg">
      <span>オリジナルサービスを</span>
      <span>リリースまで作り切る</span>
    </h2>
    <p class="special__description">
      スクールが用意するお題を言われるがままに組んでもスキルは身につきません。Flockではまずメンターと一緒にあなたのオリジナルサービスを企画します。その後、メンターのレビューやアドバイスを受けながらリリースを目指して開発を進めます。毎日進捗管理を行うので三日坊主になりがちな人もリリースまで確実にやり切ることができます。
    </p>
    <ul class="special-plans">
      <li class="special-plans__plan">メンタープラン</li>
    </ul>
    <div class="special__action"></div>
  </div>
</section>
