:host {
  display: block;
}

.doing {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  mat-spinner {
    margin: 0 auto 16px;
  }
  p {
    color: rgba(black, .38);
    font-size: 13px;
  }
}

.field {
  margin-bottom: 16px;
}

.form {
  &__notice {
    margin: 8px 0 16px;
    font-size: 13px;
    text-align: right;
  }
  &__footer {
    text-align: right;
  }
}

.name {
  width: 100%;
}

.is-loading {
  display: none;
}
