<ng-container *ngIf="user$ | async as user">
  <h1>アカウント</h1>

  <section class="profile-form">
    <h2>プロフィール</h2>

    <div class="avatar">
      <app-input-image
        (uploaded)="updateAvatar($event)"
        [options]="avatarOptions"
        [oldSrc]="user.avatarURL"
      ></app-input-image>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <mat-form-field>
        <mat-label>ユーザー名</mat-label>
        <input
          type="text"
          formControlName="name"
          matInput
          required
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>プロフィール</mat-label>
        <textarea
          formControlName="profile"
          matInput
          required
          matTextareaAutosize
        ></textarea>
        <mat-hint
          >{{ profileForm.value.profile?.length || 0 }} / 400文字</mat-hint
        >
      </mat-form-field>
      <button
        mat-button
        *ngIf="!linkControls.controls?.length"
        (click)="addLink()"
      >
        <mat-icon>add</mat-icon>
        <span>リンクを追加</span>
      </button>
      <div formArrayName="links">
        <div
          class="link"
          *ngFor="let link of linkControls.controls; index as i"
        >
          <mat-form-field>
            <mat-label>リンク</mat-label>
            <input
              [formControlName]="i"
              matInput
              required
              placeholder="https://"
              autocomplete="off"
            />
            <mat-hint>TwitterやGitHubなど</mat-hint>
          </mat-form-field>
          <button mat-icon-button type="button" (click)="removeLink(i)">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="addLink()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <button
        class="profile-submit"
        mat-raised-button
        color="primary"
        [disabled]="profileForm.pristine || profileForm.invalid"
      >
        更新
      </button>
    </form>
  </section>

  <ng-container *ngIf="user.plan !== 'isa'">
    <section>
      <h2>プラン</h2>
      <p class="plan">
        {{ user.plan | plan }}プラン
        <a routerLink="/about" fragment="plan">
          プラン変更
        </a>
      </p>

      <p class="period">
        <small *ngIf="user.plan && user.plan !== 'free'">
          <ng-container
            *ngIf="
              user.plan !== 'isa' &&
              user.currentPeriodStart &&
              user.currentPeriodEnd
            "
          >
            {{ user.currentPeriodStart?.toDate() | date: 'yyyy年MM月dd' }} -
            {{ user.currentPeriodEnd?.toDate() | date: 'yyyy年MM月dd' }}
          </ng-container>
          <ng-container *ngIf="user.plan === 'isa' && user.isa">
            {{ user.isa?.start?.toDate() | date: 'yyyy年MM月dd' }} -
            {{ user.isa?.end?.toDate() | date: 'yyyy年MM月dd' }}
          </ng-container>
        </small>
      </p>

      <ul *ngIf="plan; else free">
        <li *ngFor="let point of plan.features">
          {{ point }}
        </li>
      </ul>
      <ng-template #free>
        <p>無料ドキュメントの閲覧</p>
      </ng-template>

      <ng-container *ngIf="user.plan && user.plan !== 'free'">
        <h2>プラン自動更新停止</h2>
        <ul *ngIf="!user.isCaneclSubscription">
          <li>
            更新停止すると{{
              user.currentPeriodEnd?.toDate() | date: 'yyyy年MM月dd日'
            }}にフリープランになります。
          </li>
          <li>
            自動更新停止手続きが成功すると完了メールが届きます。届かない場合<a
              href="mailto:daichi.ninomiya@deer.co.jp"
              target="_blank"
              >お問い合わせ</a
            >ください。
          </li>
        </ul>
        <ng-container *ngIf="!user.isCaneclSubscription; else canceledArea">
          <button
            (click)="openUnsubscribeDialog(user)"
            mat-stroked-button
            [disabled]="cancellationInProgress"
          >
            更新停止
          </button>
        </ng-container>

        <ng-template #canceledArea>
          <p>
            {{
              user.currentPeriodEnd.toDate() | date: 'yyyy年MM月dd'
            }}に課金停止（フリープランに変更）予定
          </p>
          <button
            mat-raised-button
            color="primary"
            color="primary"
            (click)="restart(user)"
            [disabled]="restartProcessing"
          >
            自動更新を再開{{ restartProcessing && 'しています...' }}
          </button>
        </ng-template>
      </ng-container>
    </section>
  </ng-container>

  <div class="section">
    <h2>退会</h2>

    <ul>
      <li>退会すると利用データが完全に削除され、復元できません。</li>
      <li>退会するとすべての定期購入が停止します。</li>
    </ul>

    <mat-form-field class="input">
      <mat-label>ユーザー名を入力</mat-label>
      <input
        type="text"
        matInput
        [formControl]="uidInput"
        required
        autocomplete="off"
      />
      <mat-hint>{{ user.name }}</mat-hint>
    </mat-form-field>
    <button mat-button [disabled]="uidInput.invalid" (click)="deleteAccount()">
      退会
    </button>
  </div>
</ng-container>
