p {
  margin-bottom: 16px;
}

a {
  color: #1976d2;
}

.plan {
  a {
    margin-left: 16px;
    font-size: 12px;
  }
}

.period {
  color: rgba(black, 0.6);
}

h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 48px 0 24px;
}

.avatar {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}
