h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 24px 0;
}

.premium {
  color: rgba(black, .38);
}

.items {
  display: grid;
  gap: 16px;
}

.item {
  display: flex;
  &__thumbnail {
    background: #000 center/cover;
    width: 240px;
    padding-bottom: 56%;
    margin-right: 16px;
    cursor: pointer;
  }
  &__body {
    flex: 1;
  }
  &__title {
    font-weight: normal;
    margin: 0 0 8px;
    font-size: 18px;
    mat-icon {
      margin-left: 8px;
      vertical-align: -2px;
    }
  }
  &__description {
    font-size: 14px;
    color: rgba(black, .6);
    margin-bottom: 16px;
  }
  &__link {
    font-size: 13px;
    color: rgba(black, .6);
    line-height: 1;
    margin-bottom: 16px;
  }
}

.blank {
  text-align: center;
  font-size: 14px;
  color: rgba(black, .38);
}
