<div class="header"></div>
<div class="body">
  <h1 MatDialogTitle>知識の収益化</h1>

  <p>積み重ねたきた知識や経験をマネタイズしましょう。プランの金額は自由に設定できます。現在以下のプランが公開可能です。</p>

  <ul>
    <li>質問への回答</li>
    <li>バグフィックスによるトラブルシューティング</li>
    <li>ソースレビュー</li>
    <li>ライブコーチング</li>
  </ul>

  <h2>利用フロー</h2>

  <ol>
    <li>ユーザーがリクエストを出します（たとえば質問リクエストなど）</li>
    <li>リクエストの内容を見て対応できそうだと判断したらリクエストを承認してください</li>
    <li>承認した時点で決済が行われ、スレッドが立ち上がります</li>
    <li>対応が終わったらスレッドをクローズし、相互レビューを行ってください</li>
  </ol>

  <h2>手数料</h2>

  <p>売り上げの15%がUpdateの手数料となります。</p>

  <ng-container *ngIf="!(isConnected$ | async) as isConnected">
    <ng-container *ngIf="!isLoading">
    <h2>プランをはじめる</h2>
    <p>
      プランをはじめるにはStripeと連携する必要があります。Stripeは世界的に有名な決済サービスです。連携することで売上の受け取りや管理を行うことができます。アカウントがない場合は作成（無料）してください。
    </p>
    <div class="stripe">
      <app-stripe-connect-button></app-stripe-connect-button>
    </div>
    </ng-container>
  </ng-container>
</div>
