.header {
  padding-bottom: 24%;
  background: #fafafa url(/assets/images/plan-header.svg) center/contain no-repeat;
}
.body {
  padding: 24px;
}

h1, h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 24px 0;
}

.stripe {
  margin: 24px 0;
}

.create-plan {
  margin: 24px 0;
}
