<mat-card class="section section--fill">
  <div class="mentor">
    <figure class="mentor__photo">
      <div class="mentor__image">
        <img src="assets/images/logo-icon-white.png" alt="Flock" />
      </div>
      <p class="mentor__name">Daich</p>
    </figure>
    <div class="mentor__body">
      <h2>Flockのミッション</h2>
      <p>
        Flockのミッションは本格的なWebアプリ（サービス）の開発をサポートすることです。
      </p>
      <p>
        多くのプログラミングスクールは実質的に就職予備校となっており、就活基準で設計されています。しかし実際のサービス開発ではスクールで扱われるより遥かに多くのことを知り、実践できる必要があります。そして、現在本番のサービス開発を想定した開発コーチングサービスはほとんどありません。
      </p>
      <p>
        その課題を解決すべく、Flockでは本格的かつ超実務的なサービス開発をレクチャーしています。目的は就職ではなく本格的なオリジナルサービスをリリースすることですが、同時にそれは就活ツールとしても非常に強力に機能します。どんな些細なネタでも良いので、自分で作りたいサービスがある方のご参加をお待ちしています。
      </p>
    </div>
  </div>
</mat-card>
