<h1>リクエストとは</h1>

<p>メンターに質問やコードレビューのリクエストが出せます（有料）。サブスクリプション（定額課金）は必要ありません。メンターは3MLでレッスンを投稿している人の中から自由に選べます。自分がリクエストを受け付けることもできます。</p>

<mat-card class="flow">
  <figure class="flow__cover">
    <img src="/assets/images/forum-guide/flow-1.svg" alt="">
  </figure>
  <div class="flow__body">
    <h2 class="flow__title">1. リクエストする</h2>
    <p class="flow__description">メンターに質問やソースレビューをリクエストしましょう。この時点ではまだお金はかかりません。</p>
  </div>
</mat-card>

<mat-card class="flow">
  <figure class="flow__cover">
    <img src="/assets/images/forum-guide/flow-2.svg" alt="">
  </figure>
  <div class="flow__body">
    <h2 class="flow__title">2. リクエストが承認される</h2>
    <p class="flow__description">メンターが対応できそうだと判断したらリクエストが承認されます。承認された時点で決済が行われます。</p>
  </div>
</mat-card>

<mat-card class="flow">
  <figure class="flow__cover">
    <img src="/assets/images/forum-guide/flow-3.svg" alt="">
  </figure>
  <div class="flow__body">
    <h2 class="flow__title">3. 対応してもらう</h2>
    <p class="flow__description">回答やソースレビューなどリクエストに応じた対応が行われます。</p>
  </div>
</mat-card>

<mat-card class="flow">
  <figure class="flow__cover">
    <img src="/assets/images/forum-guide/flow-4.svg" alt="">
  </figure>
  <div class="flow__body">
    <h2 class="flow__title">4. レビューして終了！</h2>
    <p class="flow__description">対応が終わったら相互レビューしてスレッドをクローズします。お疲れ様でした！</p>
  </div>
</mat-card>
