<h1>リクエストとは</h1>

<p>イケてそうな人に有料で質問やレビューなどサポートを頼むことができます。</p>

<mat-card class="flow">
  <div class="flow__body">
    <h2 class="flow__title">1. リクエストする</h2>
    <p class="flow__description">イケてそうな人に質問やソースレビューをリクエストしましょう。この時点ではまだお金はかかりません。</p>
  </div>
</mat-card>

<mat-card class="flow">
  <div class="flow__body">
    <h2 class="flow__title">2. リクエストが承認される</h2>
    <p class="flow__description">イケてそうな人が対応できそうだと判断したらリクエストが承認されます。承認された時点で決済が行われます。</p>
  </div>
</mat-card>

<mat-card class="flow">
  <div class="flow__body">
    <h2 class="flow__title">3. 対応してもらう</h2>
    <p class="flow__description">回答やソースレビューなどリクエストに応じた対応が行われます。</p>
  </div>
</mat-card>

<mat-card class="flow">
  <div class="flow__body">
    <h2 class="flow__title">4. レビューして終了！</h2>
    <p class="flow__description">対応が終わったら相互レビューしてスレッドをクローズします。お疲れ様でした！</p>
  </div>
</mat-card>
