h1 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  small {
    font-size: 13px;
    color: rgba(black, .6);
    margin-left: 8px;
  }
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

mat-form-field {
  display: block;
  margin: 16px 0;
}

textarea {
  height: 240px;
}

.day-time-field {
  display: flex;
  margin-bottom: 24px;
}

.date-form {
  display: flex;
  align-items: center;
  margin-right: 16px;
  mat-form-field {
    margin: 0;
    max-width: 120px;
  }
}

.time-form {
  display: flex;
  align-items: center;
  mat-form-field {
    margin: 0;
    max-width: 240px;
    margin-right: 16px;
  }
}
