<h1 matDialogTitle>コーチング<small>{{plan.amount | number}}円 / 30分</small></h1>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>タイトル</mat-label>
      <input type="text" placeholder="キャリア相談をさせてください" matInput formControlName="title" autocomplete="off">
      <mat-hint>具体的なタイトルにする</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>コーチング内容</mat-label>
      <textarea matInput placeholder="コーチングしてほしい内容を具体的に記入してください" formControlName="body" required></textarea>
    </mat-form-field>
    <h2>コーチング希望日（3日）</h2>
    <div formArrayName="days" class="day-form">
      <div *ngFor="let day of days.controls; let i = index" [formGroupName]="i" class="day-time-field">
        <div class="date-form">
          <mat-form-field>
            <mat-label>候補日{{i + 1}}</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" formControlName="date" [matDatepicker]="picker" placeholder="日付を選択" autocomplete="off" readonly required>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
            <mat-error *ngIf="days.controls[i].get('date').hasError('unique')">重複しています</mat-error>
          </mat-form-field>
          <button mat-icon-button (click)="picker.open()">
            <mat-icon class="mat-18">today</mat-icon>
          </button>
        </div>
        <div class="time-form">
          <mat-form-field>
            <mat-label>時間</mat-label>
            <mat-select formControlName="time" multiple [required]="!days.controls[i].get('allDay').value">
              <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle formControlName="allDay">終日</mat-slide-toggle>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>キャンセル</button>
  <button mat-raised-button (click)="submit()" [disabled]="form.invalid" color="primary">リクエスト</button>
</mat-dialog-actions>
