@import '~@angular/material/theming';
@import 'mixins';
@include mat-core();

:host {
  display: block;
  overflow: hidden;
  margin-bottom: -80px;
}

.wrap {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 540px;
    left: 0;
    right: 0;
    height: 30%;
    background: #fff;
    transform: skewY(-12deg);
    z-index: -1;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    height: 30%;
    background: #263238;
    transform: skewY(12deg);
    z-index: -1;
  }
}

.hero {
  position: relative;
  z-index: 2;
  margin: 80px 0 160px;
  @include sp {
    margin: 80px 0;
  }
  span {
    display: block;
  }
  &__wrap {
    display: flex;
    align-items: center;
    @include tablet {
      flex-flow: column;
    }
    @include sp {
      flex-flow: column;
    }
  }
  &__body {
    flex: 1;
    order: 1;
    @include tablet {
      order: 2;
    }
  }
  &__mock {
    order: 2;
    @include tablet {
      order: 1;
      margin-bottom: 140px;
    }
    @include sp {
      transform: scale(0.5) translateX(-70px);
      transform-origin: center center;
      margin: -200px 0 -100px;
    }
  }
  &__msg {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0 0 16px 0;
    line-height: 1.4;
    @include sp {
      font-size: 24px;
    }
  }
  &__sub {
    line-height: 1.8;
    margin-bottom: 40px;
    font-size: 16px;
    width: 400px;
    color: rgba(black, 0.6);
    @include sp {
      width: auto;
    }
  }
  &__img {
    flex: 1;
  }
}

.section {
  padding: 80px 80px 120px;
  margin: 48px 0;
  overflow: hidden;
  display: block;
  @include tablet {
    padding-right: 40px;
    padding-left: 40px;
  }
  &--fill {
    padding: 0;
  }
  @include sp {
    padding: 16px;
    margin: 24px 0;
  }
}

h2 {
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 80px;
  font-weight: 500;
  &.left {
    text-align: left;
  }
  @include sp {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 24px;
}

.feature {
  text-align: center;
  &__title {
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1;
  }
  &__icon {
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    img {
      max-width: 240px;
    }
  }
  &__description {
    color: rgba(black, 0.6);
  }
}

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  @include sp {
    grid-template-columns: 1fr;
  }
}

.plan {
  text-align: center;
  padding: 40px 24px;
  border: 1px solid rgba(black, 0.12);
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  &__title {
    font-size: 24px;
    line-height: 1;
    margin: 0 0 16px;
  }
  &__sub-title {
    color: rgba(black, 0.6);
  }
  &__price-label {
    margin: 40px 0 16px;
    font-weight: 500;
    @include sp {
      margin-top: 24px;
    }
  }
  &__points {
    margin: 24px 0 32px;
    color: rgba(black, 0.6);
    flex: 1;
  }
  &__campaign {
    margin-top: 24px;
    color: #3f51b5;
  }
  &__price {
    font-size: 40px;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    @include tablet {
      font-size: 24px;
    }
    small {
      font-size: 24px;
      margin: 0 8px;
      @include tablet {
        font-size: 14px;
      }
      &:first-child {
        margin-left: 0;
        font-size: 32px;
        font-weight: normal;
        @include tablet {
          font-size: 24px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .isa {
      font-size: 32px;
    }
  }
  &__fact-price {
    margin-top: 16px;
    font-size: 13px;
    text-decoration: line-through;
    color: rgba(black, 0.38);
  }
  &__action {
    @include sp {
      margin-top: 0;
    }
  }
  &__trial {
    font-size: 13px;
    margin-top: 8px;
    color: rgba(black, 0.6);
    @include tablet {
      font-size: 11px;
    }
  }
  &__isa-label {
    font-size: 32px;
  }
}

.examples {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.example {
  text-align: center;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  &__title {
    font-weight: 500;
  }
  &__description {
    color: rgba(black, 0.6);
  }
}

.lead {
  text-align: center;
  margin: -40px 0 80px;
  opacity: 0.6;
  font-size: 16px;
  &.left {
    text-align: left;
  }
  @include sp {
    margin: -16px 0 40px;
    font-size: 14px;
  }
}

.concept {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  @include sp {
    display: block;
  }
  &__image {
    width: 160px;
    margin-right: 80px;
    @include sp {
      text-align: center;
      margin-right: 0;
      margin-bottom: 16px;
      width: 100%;
    }
    img {
      max-width: 100%;
      @include sp {
        width: 80px;
      }
    }
  }
  &__body {
    flex: 1;
    font-size: 16px;
    @include sp {
      font-size: 14px;
    }
    p + p {
      margin-top: 1em;
    }
  }
}

.voices {
  column-count: 3;
  column-gap: 16px;
  @include sp {
    column-count: 1;
  }
  > * {
    width: 100%;
    break-inside: avoid-column;
    > * {
      margin: 0 0 16px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  &--sm {
    gap: 40px 80px;
  }
  @include sp {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.feature {
  &__description {
    color: rgba(black, 0.6);
  }
}

.skills {
  margin: 160px 0;
}

.skill {
  &__icon {
    height: 40px;
    &--lg {
      height: 80px;
    }
    img {
      max-height: 100%;
      height: 100%;
    }
  }
  &__title {
    line-height: 1;
    margin: 16px 0 12px;
    font-weight: 500;
  }
  &__description {
    color: rgba(black, 0.6);
  }
}

.youtube {
  margin: 32px 0 0;
}

.qa-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  @include sp {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.qa {
  &__question {
    font-weight: 500;
    margin-top: 0;
  }
  &__answer {
    color: rgba(black, 0.6);
    ::ng-deep a {
      color: #0288d1;
      margin: 0 8px;
      &:after {
        font-family: 'Material Icons';
        content: 'open_in_new';
      }
    }
  }
}

.target {
  &__wrap {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
  padding: 40px;
  border-radius: 3px;
  border: 1px solid rgba(black, 0.12);
  &__hdg {
    font-weight: 500;
  }
}

.notice {
  margin: 24px 0 40px;
  li {
    &:before {
      content: '※';
      margin-right: 8px;
    }
    color: rgba(black, 0.38);
  }
}

@keyframes light {
  0% {
    filter: drop-shadow(0 0 8px rgba(black, 0.2));
  }
  100% {
    filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.8));
  }
}

.mentor {
  overflow: hidden;
  display: flex;
  @include sp {
    flex-flow: column;
    margin: -16px !important;
  }
  &__photo {
    flex: 1;
    order: 2;
    position: relative;
    @include sp {
      flex: 160px;
      order: 1;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    left: -100px;
    bottom: 0;
    background: linear-gradient(to top right, #808e95, #b0bec5);
    transition: 1s 2s filter;
    @include sp {
      left: 0;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 160px;
      transform: translate(-13%, -50%);
      animation: light 5s infinite alternate ease-in-out;
      @include sp {
        width: 90px;
        transform: translate(-50%, -50%);
      }
    }
  }
  h2 {
    margin-bottom: 40px;
  }
  p {
    color: rgba(black, 0.6);
  }
  &__body {
    flex: 1;
    padding: 80px;
    position: relative;
    font-size: 16px;
    z-index: 1;
    @include tablet {
      padding: 40px;
    }
    @include sp {
      padding: 16px;
      order: 2;
    }
    p + p {
      margin-top: 24px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: skewX(10deg);
      background: #fff;
    }
  }
}

.special {
  padding: 120px 0;
  display: flex;
  position: relative;
  perspective: 1500px;
  @include sp {
    padding: 0 0 40px;
    flex-flow: column;
  }
  &--chat {
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 520px;
      height: 520px;
      transform: translateY(-50%) skew(10deg, 10deg);
      border-radius: 50%;
      display: block;
      background: #fafafa;
    }
  }
  &--center {
    align-items: center;
  }
  &__image {
    position: relative;
    width: 60%;
    padding-right: 80px;
    box-sizing: border-box;
    @include tablet {
      width: 50%;
      padding-right: 40px;
    }
    @include sp {
      width: 100%;
      padding-right: 0;
    }
    &--videos {
      @include sp {
        height: 400px;
      }
    }
    &--right {
      padding-left: 80px;
      padding-right: 0;
      order: 2;
      @include tablet {
        padding-left: 40px;
      }
      @include sp {
        padding-left: 0;
        order: 1;
      }
    }
  }
  &__body {
    flex: 1;
    position: relative;
    @include sp {
      order: 2;
    }
  }
  &__hdg {
    text-align: left;
    margin-bottom: 40px;
    span {
      display: block;
    }
  }
  &__description {
    opacity: 0.6;
    font-size: 16px;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

button mat-icon {
  margin-left: 8px;
}

.videos {
  $width: 960px;
  position: absolute;
  top: 0;
  width: $width;
  left: calc(50% - #{$width} / 2);
  transform: rotateX(20deg) rotateY(30deg) rotateZ(-20deg);
  transform-style: preserve-3d;
  @include sp {
    transform: rotateX(20deg) rotateY(20deg) rotateZ(-20deg) scale(0.7);
  }
}

.asks {
  padding-left: 80px;
  @include tablet {
    padding-left: 0;
  }
  @include sp {
    margin: -100px 0 -30px;
    padding-left: 0;
    transform: scale(0.7) rotateY(-30deg) rotateX(30deg);
  }
}

@keyframes askIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes answerIn {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes checkIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ask {
  display: flex;
  padding: 24px;
  background: #fff;
  position: relative;
  opacity: 0;
  &:nth-child(even) {
    margin-left: 80px;
    @include sp {
      margin-left: 0;
    }
  }
  &:nth-child(odd) {
    margin-right: 80px;
    @include sp {
      margin-right: 0;
    }
  }
  .aos-animate & {
    &:nth-child(1) {
      animation: askIn 1s both;
    }
    &:nth-child(2) {
      animation: answerIn 1s 0.8s both;
    }
    &:nth-child(3) {
      animation: askIn 1s 1.6s both;
    }
  }
  & + & {
    margin-top: 16px;
  }
  &__icon {
    margin-right: 16px;
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: block;
    }
  }
  &__title {
    font-weight: 500;
  }
  &__date {
    color: rgba(black, 0.6);
    font-size: 13px;
  }
  &__body {
    flex: 1;
  }
  &__check {
    position: absolute;
    top: calc(50% - 16px);
    right: -64px;
    font-size: 32px !important;
    color: #00c853;
    .aos-animate & {
      animation: checkIn 0.3s 2.6s both;
    }
  }
}

.idea {
  vertical-align: bottom;
  text-align: center;
  @include sp {
    margin-bottom: 40px;
    height: 240px;
  }
  img {
    width: 400px;
    @include sp {
      width: 100%;
    }
  }
}

.causes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  @include sp {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.cause {
  &__image {
    height: 240px;
    @include sp {
      height: 160px;
    }
  }
  &__title {
    font-weight: 500;
  }
  &__description {
    margin-bottom: 40px;
    @include sp {
      margin-bottom: 24px;
    }
  }
}

.price-up {
  background: #fafafa;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 400px 1fr;
  padding: 40px;
  gap: 80px;
  align-items: center;
  margin-bottom: 80px;
  @include tablet {
    grid-template-columns: 200px 1fr;
    grid-area: 40px;
  }
  @include sp {
    padding: 16px;
    display: block;
  }
  &__hdg {
    font-weight: 500;
  }
  &__detail {
    color: rgba(black, 0.6);
  }
  figure {
    text-align: center;
    height: 240px;
    @include sp {
      height: auto;
      margin-bottom: 16px;
    }
  }
}

.plan-features {
  margin-bottom: 80px;
  &__hdg {
    margin-bottom: 40px;
  }
}

.contact {
  padding: 80px 0;
  color: white;
  background: center/cover url(/assets/images/welcome/contact-bg.png);
  text-align: center;
  &__profile {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    text-align: left;
  }
  &__profile-body {
    flex: 1;
    padding-left: 16px;
  }
  &__name {
    font-size: 20px;
    font-weight: 500;
  }
  &__sub-title {
    color: rgba(white, 0.6);
  }
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
  }
  &__buttons {
    text-align: center;
    a + a {
      margin-left: 16px;
    }
    i {
      margin-right: 8px;
    }
    @include sp {
      a {
        margin-bottom: 16px;
      }
    }
  }
}

.contact-wrap {
  display: inline-block;
}

.special-plans {
  margin-bottom: 40px;
  &__plan {
    display: inline-block;
    font-size: 12px;
    margin-right: 16px;
    padding: 0 8px;
    border-radius: 12px;
    line-height: 24px;
    border: 1px solid rgba(black, 0.12);
    color: rgba(black, 0.38);
  }
}

.isa {
  border: 4px solid #455a64;
  padding: 40px;
  border-radius: 4px;
  @include sp {
    padding: 16px;
    border-width: 2px;
  }
  &__wrap {
    display: flex;
    align-items: center;
    @include sp {
      display: block;
    }
  }
  &__image {
    width: 240px;
    @include sp {
      width: 100%;
      text-align: center;
      margin-bottom: 16px;
      img {
        width: 70%;
      }
    }
  }

  &__body {
    padding-left: 24px;
    @include sp {
      padding-left: 0;
    }
    flex: 1;
  }
  &__title {
    margin: 0 0 16px;
    @include sp {
      text-align: center;
    }
  }
  &__description {
    color: rgba(black, 0.6);
    margin-bottom: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #fff;
  align-items: center;
  @include sp {
    display: block;
  }
  &__logo {
    margin: 0;
    @include sp {
      margin-bottom: 16px;
    }
    a {
      padding: 8px 16px;
      display: block;
      height: 100%;
    }
    img {
      display: block;
      height: 24px;
    }
  }
}
