<header class="header">
  <h1 class="header__logo">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="" />
    </a>
  </h1>
  <nav class="nav">
    <!-- <a mat-button (click)="scrollToElement(plan)">特徴</a>
    <a mat-button (click)="scrollToElement(skillSection)">スキル</a>
    <a mat-button (click)="scrollToElement(mission)">ミッション</a>
    <a mat-button (click)="scrollToElement(voiceArea)">ボイス</a>
    <a mat-button (click)="scrollToElement(plan)">プラン</a>
    <a mat-button (click)="scrollToElement(faq)">Q&A</a>
    <a mat-button (click)="scrollToElement(contact)">お問い合わせ</a> -->
  </nav>
</header>

<app-features></app-features>
<app-services></app-services>
<app-buddy></app-buddy>
<app-plan-list [isEmbed]="true"></app-plan-list>
<app-flow></app-flow>
<app-voices></app-voices>
<app-works></app-works>
<app-message-section></app-message-section>
<app-faq-section></app-faq-section>
<app-contact></app-contact>

<app-footer></app-footer>
