<div class="wrap">
  <div class="hero">
    <div class="container">
      <div class="hero__wrap">
        <div class="hero__body">
          <p class="hero__msg">
            <span>Webサービス開発の</span>
            <span>エキスパートを育てる</span>
          </p>
          <p class="hero__sub">
            <span
              >CAMPは現役エンジニアから最新の正しいWebサービス開発を学べるエキスパート養成キャンプです。即戦力のエンジニアや週末起業家に必要なスキルを身に付けることができます。</span
            >
          </p>
          <button
            (click)="scrollToElement(target)"
            fragment="plans"
            mat-raised-button
            color="primary"
          >
            無料ではじめる
          </button>
        </div>
        <app-mock></app-mock>
      </div>
    </div>
  </div>

  <div class="container">
    <section class="special">
      <figure class="special__image">
        <div
          class="videos"
          (mouseenter)="usefulSwiper.swiper.autoplay.stop()"
          (mouseleave)="usefulSwiper.swiper.autoplay.start()"
        >
          <swiper [config]="config" [initialize]="isActive" #usefulSwiper>
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of pages">
                <youtube-player
                  width="100%"
                  height="200"
                  [videoId]="id"
                  [playerVars]="playerVars"
                  (ready)="savePlayer($event)"
                  (change)="onStateChange($event)"
                ></youtube-player>
              </div>
            </div>
          </swiper>
        </div>
      </figure>
      <div class="special__body">
        <h2 class="special__hdg">
          <span>100本以上の動画教材が</span>
          <span>永久に見放題</span>
        </h2>
        <p class="special__description">
          専門用語が並ぶ小難しい技術書を読み込む必要はありません。CAMPの動画教材を使えば直感的に素早く学習することができます。丁寧に解説しながら実際に実装していくのでプロの実装をダイレクトに学習することができます。一度入会すれば退会後も永続的に教材を閲覧することができます。教材は日々アップデートし、増え続けています。
        </p>
        <div class="special__action">
          <button routerLink="/" mat-button color="primary">
            <span>すべての無料動画を見る</span>
            <mat-icon inline>open_in_new</mat-icon>
          </button>
        </div>
      </div>
    </section>

    <section class="special special--center">
      <figure class="special__image special__image--right">
        <div class="asks" data-aos data-aos-once="true">
          <mat-card
            class="ask"
            *ngFor="let ask of asks; index as i; odd as odd; last as last"
          >
            <figure class="ask__icon">
              <img
                [src]="
                  'assets/images/welcome/' +
                  (odd ? 'mentor-icon.jpeg' : 'user.svg')
                "
                alt=""
              />
            </figure>
            <div class="ask__body">
              <p class="ask__title">{{ ask.title }}</p>
              <p class="ask__date">
                {{ odd ? 'メンター' : 'ゲスト' }} -
                {{ ask.date | date: 'yyyy年MM月dd日 14:' + (12 + i * 2) }}
              </p>
            </div>
            <mat-icon *ngIf="last" class="ask__check" inline>
              check_circle_outline
            </mat-icon>
          </mat-card>
        </div>
      </figure>
      <div class="special__body">
        <h2 class="special__hdg">
          <span>現役エンジニアに</span>
          <span>いつでも聞き放題</span>
        </h2>
        <p class="special__description">
          CAMPは完全オンラインなので時間を選ばずいつでも、何度でも質問することができます。現役エンジニアのメンターが速やかに回答します。他の人の質問を見ることもできます。教材に関する質問はもちろん、キャリア相談や自分のサービスにまつわる質問も可能です。
        </p>
        <div class="special__action">
          <a mat-button color="primary">学習の進めかた</a>
        </div>
      </div>
    </section>

    <section class="special special--center">
      <figure class="special__image">
        <div class="idea" data-aos="">
          <img src="assets/images/welcome/idea.svg" alt="" />
        </div>
      </figure>
      <div class="special__body">
        <h2 class="special__hdg">
          <span>オリジナルサービスを</span>
          <span>リリースまで作り切る</span>
        </h2>
        <p class="special__description">
          CAMPではまずメンターと一緒にあなたのオリジナルサービスを企画します。その後、メンターのレビューやアドバイスを受けながらリリースを目指して開発を進めます。スタンダードプランの場合頻繁に進捗管理を行うので、三日坊主になりがちな人もリリースまで確実にやり切ることができます。
        </p>
        <div class="special__action">
          <button
            mat-button
            color="primary"
            (click)="scrollToElement(target)"
            fragment="plans"
          >
            学習の進めかた
          </button>
        </div>
      </div>
    </section>

    <mat-card class="section">
      <h2>2つの学習スタイルから選べます</h2>
      <p class="lead">
        ひとりで進めるか、メンターと進めるか
      </p>
      <div class="causes">
        <div class="cause">
          <figure class="cause__image">
            <img src="assets/images/welcome/alone.svg" alt="" />
          </figure>
          <h3 class="cause__title">ひとりで進める</h3>
          <p class="cause__description">
            動画教材をみながら自分のペースで学習を進め、詰まったら質問するスタイルです。メンターがあなたの開発や進捗に干渉することはないので、気軽に学習を進めることができます。
          </p>
          <div class="cause__button">
            <button color="primary" mat-button>ソロプラン</button>
          </div>
        </div>
        <div class="cause">
          <figure class="cause__image">
            <img src="assets/images/welcome/team.svg" alt="" />
          </figure>
          <h3 class="cause__title">メンターと進める</h3>
          <p class="cause__description">
            メンターが一緒にサービス企画を行い、毎日進捗管理やソースレビューをしながらしっかりと開発をサポートします。確実にサービスを作り切りたい人にオススメです。
          </p>
          <div class="cause__button">
            <button color="primary" mat-button>メンタープラン</button>
          </div>
        </div>
      </div>
    </mat-card>

    <section class="skills">
      <h2 class="left">身に付くスキル</h2>
      <p class="lead left">
        Angular x Firebaseを軸とした最先端のサービス開発スキルが身につきます。
      </p>
      <div class="grid">
        <div class="skill" *ngFor="let skill of skills">
          <figure class="skill__icon" *ngIf="skill.image">
            <img src="assets/images/welcome/{{ skill.image }}.svg" alt="" />
          </figure>
          <h3 class="skill__title">{{ skill.title }}</h3>
          <p class="skill__description">
            {{ skill.description }}
          </p>
        </div>
      </div>
    </section>

    <mat-card class="section section--fill">
      <div class="mentor">
        <figure class="mentor__photo">
          <div class="mentor__image"></div>
          <p class="mentor__name">Daich</p>
        </figure>
        <div class="mentor__body">
          <h2>CAMPのミッション</h2>
          <p>
            CAMPのミッションは最先端の技術を使ってしっかりとしたWEBサービスを作れる人材を増やすことです。
          </p>
          <p>
            多くのスクールがPHPやRubyを軸としたMPA開発を教えていますが、TwitterやYouTubeをはじめ、海外ではSPAの採用事例が増えています。しかし現在国内でSPA開発ができる人材が少なく、SPAサービスを作りたくても作れない現状があります。
          </p>
          <p>
            その課題を解決すべく、CAMPではSPAに特化したサービス開発を教えています。開発の進め方は完全に実務を再現しているので、CAMPでプロジェクトをリリースすることができれば多くの現場で即戦力として活躍できるでしょう。
          </p>
          <p>CAMP Mentor - Daichi Ninomiya</p>
        </div>
      </div>
    </mat-card>

    <mat-card class="section">
      <h2>Q&A</h2>
      <p class="lead">
        ご不明な点はお気軽にお問い合わせください。
      </p>
      <div class="qa-grid">
        <div class="qa" *ngFor="let qa of qas">
          <h3 class="qa__question">{{ qa.q }}</h3>
          <p class="qa__answer" [innerHTML]="qa.a"></p>
        </div>
      </div>
    </mat-card>

    <mat-card class="section">
      <h2>ユーザーボイス</h2>
      <p class="lead">
        様々な声をいただいています。
      </p>
      <div class="voices">
        <div>
          <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">
              【MIRU開発の進捗】<br />いいね機能が完成しました！😎<br />Firestoreのトリガーはまだβ版で、関数がたまに複数回走る不具合があります。<br /><br />そのため公式ドキュメントの指示通り、べき等処理を追加して対策しています。<br />ぶっちゃけ、いいねはかなり苦戦しました🤦<a
                href="https://t.co/q1mdUNw2Ua"
                >https://t.co/q1mdUNw2Ua</a
              ><a
                href="https://twitter.com/hashtag/to_camp?src=hash&amp;ref_src=twsrc%5Etfw"
                >#to_camp</a
              >
              43日目
              <a href="https://t.co/I6FVgph2AQ">pic.twitter.com/I6FVgph2AQ</a>
            </p>
            &mdash; お茶マル🍵SPA開発中 (@uotya)
            <a
              href="https://twitter.com/uotya/status/1218988366370242560?ref_src=twsrc%5Etfw"
              >January 19, 2020</a
            >
          </blockquote>
        </div>

        <div>
          <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">
              1週間学習してみて思ったことは、すごくいい環境で勉強させて頂けると実感をして、時間をかけてでもいいものを作りたいという意識がより強くなった。<br />わからないこともあれば気軽に質問ができるのが魅力的。自分にもできるんだというのを学習を通してサービスを作って証明したい。<a
                href="https://twitter.com/hashtag/to_camp?src=hash&amp;ref_src=twsrc%5Etfw"
                >#to_camp</a
              >
            </p>
            &mdash; Robinson (@Robinson_R0)
            <a
              href="https://twitter.com/Robinson_R0/status/1221011683369336833?ref_src=twsrc%5Etfw"
              >January 25, 2020</a
            >
          </blockquote>
        </div>
        <div>
          <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">
              CAMPに入って1ヶ月経ちました〜<br />単語帳webサービスを作ってますが、ようやく単語帳を登録したらFirebaseからデータを取ってきて組み合わせて条件つけて表示させることができました！<br />1人だと心折れるけど、Ninoさんや、他の受講生の方に助けられて、なんとかやれてます😂
              <a href="https://t.co/ZdtlxLneS1">pic.twitter.com/ZdtlxLneS1</a>
            </p>
            &mdash; はるか (@OZNBniiEG2AKjTL)
            <a
              href="https://twitter.com/OZNBniiEG2AKjTL/status/1228278014108024835?ref_src=twsrc%5Etfw"
              >February 14, 2020</a
            >
          </blockquote>
        </div>
        <div>
          <blockquote class="twitter-tweet">
            <p lang="ja" dir="ltr">
              サクッとTodo管理作ったら意外といい感じになった。<br />Camp最高！！
              <a href="https://t.co/mulNpAavME">pic.twitter.com/mulNpAavME</a>
            </p>
            &mdash; masaaki (@masaaki6262)
            <a
              href="https://twitter.com/masaaki6262/status/1219815307188944896?ref_src=twsrc%5Etfw"
              >January 22, 2020</a
            >
          </blockquote>
        </div>
      </div>
    </mat-card>

    <div #target></div>
    <mat-card class="section">
      <h2>プラン</h2>
      <p class="lead">
        一度入会すると退会後も教材を見続けることができます
      </p>
      <div class="plans">
        <div class="plan" *ngFor="let plan of plans">
          <h3 class="plan__title">{{ plan.title }}</h3>
          <p class="plan__sub-title">{{ plan.subTitle }}</p>
          <p class="plan__price-label">月額料金</p>
          <p class="plan__price">
            <small>¥</small><span>{{ plan.price | number }}</span
            ><small>/月</small>
          </p>
          <ul class="plan__points">
            <li *ngFor="let point of plan.points">{{ point }}</li>
          </ul>

          <ng-container *ngIf="user; else loginButton">
            <button
              (click)="register(plan.id)"
              class="plan__action"
              mat-raised-button
              color="primary"
              *ngIf="user.plan !== plan.id"
            >
              {{ plan.price ? '登録' : '詳しく' }}
            </button>
            <button
              (click)="unsubscribe(plan.id)"
              class="plan__action"
              mat-stroked-button
              *ngIf="user.plan === plan.id"
            >
              解約
            </button>
          </ng-container>
          <ng-template #loginButton>
            <button
              (click)="login(plan.id)"
              class="plan__action"
              mat-raised-button
              color="primary"
            >
              無料ではじめる
            </button>
          </ng-template>
          <p class="plan__trial">1週間の無料トライアルあり</p>
        </div>
      </div>

      <ul class="notice">
        <li>価格はすべて税込です。</li>
        <li>入会金、退会金はありません</li>
        <li>PC、ネット代は自己負担です。</li>
        <li>追加教材費等はありません。上記の金額がすべてです。</li>
      </ul>

      <div class="price-up">
        <figure>
          <img src="assets/images/welcome/price-system.png" alt="" />
        </figure>
        <div>
          <h3 class="price-up__hdg">早期入会者特典</h3>
          <p class="price-up__detail">
            CAMPは正しい知識をしっかりと教えるため、アルバイトではなく経験豊富なメンターが限られたリソースで運営しています。ユーザーの増加に伴いより多くの工数が発生するため、人数に比例して<strong>新規入会者に対する</strong>授業料が変動します。すでに入会された方については途中から月額料金が上がることはないのでご安心ください。つまり早期にご参加いただくほどお得なシステムとなっています。
          </p>
        </div>
      </div>

      <div class="plan-features">
        <h3 class="plan-features__hdg">プラン詳細</h3>

        <div class="grid grid--sm">
          <div class="skill" *ngFor="let planFeature of planFeatures">
            <figure
              class="skill__icon skill__icon--lg"
              *ngIf="planFeature.image"
            >
              <img
                src="assets/images/welcome/{{ planFeature.image }}.svg"
                alt=""
              />
            </figure>
            <h3 class="skill__title">{{ planFeature.title }}</h3>
            <p class="skill__description">
              {{ planFeature.description }}
            </p>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
