@import '~@angular/material/theming';
@import 'mixins';
@include mat-core();

:host {
  display: block;
  overflow: hidden;
  margin-bottom: -80px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #fff;
  align-items: center;
  @include sp {
    display: block;
  }
  &__logo {
    margin: 0;
    @include sp {
      margin-bottom: 16px;
    }
    a {
      padding: 8px 16px;
      display: block;
      height: 100%;
    }
    img {
      display: block;
      height: 24px;
    }
  }
}

.html {
  background: #ef2f0d;
  background: #207eec;
  background: #ead217;
  background: #000000;
}
