@import '~@angular/material/theming';
@import 'mixins';

@include mat-core();

.wrap {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 540px;
    left: 0;
    right: 0;
    height: 30%;
    background: #fff;
    transform: skewY(-12deg);
    z-index: -1;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    height: 30%;
    background: #222;
    transform: skewY(12deg);
    z-index: -1;
  }
}

.hero {
  position: relative;
  z-index: 2;
  margin-bottom: 160px;
  span {
    display: block;
  }
  &__wrap {
    display: flex;
    align-items: center;
    @include sp {
      display: block;
    }
  }
  &__body {
    flex: 1;
  }
  &__msg {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0 0 16px 0;
    line-height: 1.4;
    @include sp {
      font-size: 24px;
    }
  }
  &__sub {
    line-height: 1.8;
    margin-bottom: 40px;
    font-size: 16px;
    width: 400px;
    color: rgba(black, 0.6);
  }
  &__img {
    flex: 1;
  }
}

.section {
  padding: 80px 80px 120px;
  margin: 48px 0;
  overflow: hidden;
  &--fill {
    padding: 0;
  }
  @include sp {
    padding: 16px;
    margin: 24px 0;
  }
}

h2 {
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 80px;
  font-weight: 500;
  @include sp {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 24px;
}

.feature {
  text-align: center;
  &__title {
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1;
  }
  &__icon {
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    img {
      max-width: 240px;
    }
  }
  &__description {
    color: rgba(black, 0.6);
  }
}

.plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  @include sp {
    grid-template-columns: 1fr;
  }
}

.plan {
  text-align: center;
  padding: 40px 24px;
  border: 1px solid rgba(black, 0.12);
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  &__title {
    font-size: 24px;
    line-height: 1;
    margin: 0 0 16px;
  }
  &__sub-title {
    color: rgba(black, 0.6);
  }
  &__price-label {
    margin: 40px 0 16px;
    font-weight: 500;
    @include sp {
      margin-top: 24px;
    }
  }
  &__points {
    margin: 24px 0 32px;
    color: rgba(black, 0.6);
    flex: 1;
  }
  &__price {
    font-size: 40px;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    small {
      font-size: 24px;
      margin: 0 8px;
      &:first-child {
        margin-left: 0;
        font-size: 32px;
        font-weight: normal;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .isa {
      font-size: 32px;
    }
  }
  &__action {
    margin-top: 24px;
    @include sp {
      margin-top: 0;
    }
  }
  &__trial {
    font-size: 13px;
    margin-top: 8px;
    color: rgba(black, 0.6);
  }
}

.examples {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.example {
  text-align: center;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  &__title {
    font-weight: 500;
  }
  &__description {
    color: rgba(black, 0.6);
  }
}

.lead {
  text-align: center;
  margin: -40px 0 80px;
  color: rgba(black, 0.6);
  font-size: 16px;
  @include sp {
    margin: -16px 0 40px;
    font-size: 14px;
  }
}

.concept {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  @include sp {
    display: block;
  }
  &__image {
    width: 160px;
    margin-right: 80px;
    @include sp {
      text-align: center;
      margin-right: 0;
      margin-bottom: 16px;
      width: 100%;
    }
    img {
      max-width: 100%;
      @include sp {
        width: 80px;
      }
    }
  }
  &__body {
    flex: 1;
    font-size: 16px;
    @include sp {
      font-size: 14px;
    }
    p + p {
      margin-top: 1em;
    }
  }
}

.voices {
  column-count: 3;
  column-gap: 16px;
  @include sp {
    column-count: 1;
  }
  > * {
    width: 100%;
    break-inside: avoid-column;
    > * {
      margin: 0 0 16px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  @include sp {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.feature {
  &__description {
    color: rgba(black, 0.6);
  }
}

.skills {
  margin: 160px 0;
}

.skill {
  &__icon {
    height: 40px;
    &--lg {
      height: 80px;
    }
    img {
      max-height: 100%;
      height: 100%;
    }
  }
  &__title {
    line-height: 1;
    margin: 16px 0 12px;
    font-weight: 500;
  }
  &__description {
    color: rgba(black, 0.6);
  }
}

.youtube {
  margin: 32px 0 0;
}

.qa-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.qa {
  &__question {
    font-weight: 500;
    margin-top: 0;
  }
  &__answer {
    color: rgba(black, 0.6);
    ::ng-deep a {
      color: skyblue;
      &:after {
        font-family: 'Material Icons';
        content: 'open_in_new';
      }
    }
  }
}

.target {
  &__wrap {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
  padding: 40px;
  border-radius: 3px;
  border: 1px solid rgba(black, 0.12);
  &__hdg {
    font-weight: 500;
  }
}

.notice {
  margin-top: 24px;
  li {
    &:before {
      content: '※';
      margin-right: 8px;
    }
    color: rgba(black, 0.38);
  }
}

.mentor {
  overflow: hidden;
  display: flex;
  &__photo {
    flex: 1;
    order: 2;
    position: relative;
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    left: -100px;
    bottom: 0;
    background: center top/cover url(/assets/images/welcome/mentor.jpeg);
  }
  h2 {
    margin-bottom: 40px;
  }
  p {
    color: rgba(black, 0.6);
  }
  &__body {
    flex: 1;
    padding: 40px;
    position: relative;
    font-size: 16px;
    z-index: 1;
    p + p {
      margin-top: 24px;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: skewX(10deg);
      background: #fff;
    }
  }
}

.special {
  padding: 120px 0;
  display: flex;
  position: relative;
  perspective: 1500px;
  &--center {
    align-items: center;
  }
  &__image {
    position: relative;
    width: 60%;
    padding-right: 80px;
    box-sizing: border-box;
    &--right {
      padding-left: 80px;
      padding-right: 0;
      order: 2;
    }
  }
  &__body {
    flex: 1;
    position: relative;
  }
  &__hdg {
    text-align: left;
    margin-bottom: 40px;
    span {
      display: block;
    }
  }
  &__description {
    opacity: 0.6;
    font-size: 16px;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

button mat-icon {
  margin-left: 8px;
}

.videos {
  $width: 960px;
  position: absolute;
  top: 0;
  width: $width;
  left: calc(50% - #{$width} / 2);
  transform: rotateX(20deg) rotateY(30deg) rotateZ(-20deg);
  transform-style: preserve-3d;
}

.asks {
  padding-left: 80px;
}

@keyframes askIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes answerIn {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes checkIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ask {
  display: flex;
  padding: 24px;
  background: #fff;
  position: relative;
  opacity: 0;
  &:nth-child(even) {
    margin-left: 80px;
  }
  &:nth-child(odd) {
    margin-right: 80px;
  }
  .aos-animate & {
    &:nth-child(1) {
      animation: askIn 1s both;
    }
    &:nth-child(2) {
      animation: answerIn 1s 0.8s both;
    }
    &:nth-child(3) {
      animation: askIn 1s 1.6s both;
    }
  }
  & + & {
    margin-top: 16px;
  }
  &__icon {
    margin-right: 16px;
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: block;
    }
  }
  &__title {
    font-weight: 500;
  }
  &__date {
    color: rgba(black, 0.6);
    font-size: 13px;
  }
  &__body {
    flex: 1;
  }
  &__check {
    position: absolute;
    top: calc(50% - 20px);
    right: -64px;
    font-size: 40px;
    color: #00c853;
    .aos-animate & {
      animation: checkIn 0.3s 2.6s both;
    }
  }
}

.idea {
  vertical-align: bottom;
  text-align: center;
  img {
    width: 400px;
  }
}

.causes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.cause {
  &__image {
    height: 240px;
  }
  &__title {
    font-weight: 500;
  }
  &__description {
    margin-bottom: 40px;
  }
}
