<div class="wrap" *ngIf="product; else loading">
  <div
    class="background"
    [style.background-image]="
      'url(assets/images/plan/plan-bg-' + planId + '.png)'
    "
  ></div>
  <form
    class="main"
    *ngIf="user$ | async as user"
    [formGroup]="form"
    (ngSubmit)="createSubscription()"
  >
    <button class="back" type="button" mat-icon-button routerLink="/about">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{ product.name }}をはじめる</h1>

    <section class="section">
      <mat-list dense>
        <h2 matSubheader>プラン内容</h2>
        <mat-list-item *ngFor="let feature of plan?.features">
          {{ feature }}
        </mat-list-item>
      </mat-list>
    </section>

    <section class="section">
      <app-credit-card></app-credit-card>
    </section>

    <section class="section">
      <mat-selection-list [multiple]="false" dense formControlName="price">
        <h2 matSubheader>プラン選択</h2>
        <mat-list-option
          *ngFor="let price of prices"
          [value]="price"
          [disabled]="!method || activePrice === price.id"
        >
          <span matLine
            >{{ product.name }}（{{ price.recurring.interval_count
            }}{{ price.recurring.interval | interval }}）
            <span class="label" *ngIf="activePrice === price.id">継続中</span
            ><span class="deal" *ngIf="prices | deal: price | number as deal"
              >{{ deal }}円お得</span
            ></span
          >
          <span matLine
            >{{ price.unit_amount | number }}円<span
              *ngIf="!user.trialUsed && price.recurring.trial_period_days"
              >（{{ price.recurring.trial_period_days }}日間のトライアル）</span
            ></span
          >
        </mat-list-option>
      </mat-selection-list>
    </section>

    <section class="section">
      <mat-selection-list [multiple]="false" dense>
        <h2 matSubheader>キャンペーン</h2>
        <mat-list-option *ngIf="!coupon" disabled>なし</mat-list-option>
        <mat-list-option *ngIf="coupon" [value]="coupon.id" selected>
          <span matLine
            >{{ coupon.name
            }}<span *ngIf="coupon.duration"
              >（{{ coupon.duration_in_months }}か月有効）</span
            ></span
          >
          <span matLine>{{ coupon.percent_off }}%OFF</span>
          <span matLine *ngIf="coupon.max_redemptions"
            >残り{{ coupon.max_redemptions | number }}名</span
          >
        </mat-list-option>
      </mat-selection-list>
    </section>

    <mat-divider></mat-divider>

    <mat-list class="total" dense>
      <h2 matSubheader>合計</h2>
      <ng-template #loadingInvoice>
        <mat-spinner [diameter]="40"></mat-spinner>
      </ng-template>
      <ng-container *ngIf="!invoiceLoading; else loadingInvoice">
        <ng-template #needChoice>
          <mat-list-item disabled>プランを選択してください</mat-list-item>
        </ng-template>
        <ng-container *ngIf="invoice; else needChoice">
          <mat-list-item>
            <span matLine>通常価格: {{ invoice.subtotal | number }} 円</span>
          </mat-list-item>
          <mat-list-item *ngIf="coupon">
            <span matLine
              >割引金額: -{{
                invoice.total_discount_amounts[0]?.amount
              }}
              円<span *ngIf="coupon.duration_in_months"
                >（{{ coupon.duration_in_months }}か月有効）</span
              ></span
            >
          </mat-list-item>
          <mat-list-item>
            <span matLine>初回請求: {{ invoice.total | number }}円</span>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>

    <button mat-raised-button color="primary" [disabled]="form.invalid">
      {{ plan?.name }}プランを開始
    </button>

    <ul class="notice">
      <li>入会金、退会金はありません。</li>
      <li>途中退会における返金はありません。</li>
      <li>価格はすべて税込です。</li>
      <li>
        トライアルがある場合、トライアル終了後に課金が開始されます。トライアル中に更新を停止した場合課金は発生しません。
      </li>
      <li>自動更新を停止しない限り契約は自動的に更新されます。</li>
      <li>トライアルがない場合前払いで即座に決済が行われます。</li>
    </ul>
  </form>
</div>

<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
