<ng-container *ngIf="payment$ | async as payment; else new">
  <div class="card" *ngIf="card$ | async as card">
    <p class="card__number">
      <i class="fab fa-cc-{{ card.brand.toLowerCase() }}"></i>**** **** ****
      {{ card.last4 }}
    </p>

    <button
      class="card__button"
      mat-icon-button
      (click)="openCardDialog(payment.customerId)"
    >
      <mat-icon class="mat-18">edit</mat-icon>
    </button>
  </div>
</ng-container>

<ng-template #new>
  <div *ngIf="!loading" class="create-card">
    <button mat-raised-button color="primary" (click)="openCardDialog()">
      新しくカードを作成
    </button>
  </div>
</ng-template>
