<ng-container *ngIf="!(isLoading$ | async)">
  <ng-content></ng-content>

  <mat-divider></mat-divider>

  <mat-nav-list dense>
    <a routerLink="/about" mat-list-item>
      <mat-icon matListIcon>info</mat-icon>
      <span matLine>Flockについて</span>
    </a>
    <a routerLink="/intl/contact" mat-list-item>
      <mat-icon matListIcon>business</mat-icon>
      <span matLine>会社概要</span></a
    >
    <a routerLink="/intl/terms" mat-list-item>
      <mat-icon matListIcon>assignment</mat-icon>
      <span matLine>利用規約</span></a
    >
    <a routerLink="/intl/privacypolicy" mat-list-item>
      <mat-icon matListIcon>policy</mat-icon>
      <span matLine>プライバシー</span></a
    >
  </mat-nav-list>

  <mat-divider></mat-divider>

  <div class="footer">
    <p class="copyright">© {{ date | date: 'yyyy' }} Deer, inc</p>
  </div>
</ng-container>
