:host {
  display: block;
  min-height: 100%;
  overflow: auto;
  background: #fff;
  padding-bottom: 66px;
  box-sizing: border-box;
}

.copyright {
  color: rgba(black, 0.38);
  font-size: 13px;
  padding: 16px;
}
