<ng-container *ngIf="!(isLoading$ | async)">
  <ng-content></ng-content>

  <mat-divider></mat-divider>

  <mat-nav-list dense>
    <a routerLink="/intl/about" mat-list-item>CAMPについて</a>
    <a routerLink="/intl/help" mat-list-item>ヘルプ</a>
    <a routerLink="/intl/terms" mat-list-item>利用規約</a>
    <a routerLink="/intl/privacypolicy" mat-list-item>プライバシー</a>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <div class="footer">
    <p class="copyright">© {{ date | date: "yyyy" }} Deer, inc</p>
  </div>
</ng-container>
