<mat-card class="card">
  <div *ngIf="channel.coverURL" matCardImage class="header" [style.background-image]="'url(' + channel.coverURL + ')' | safe:'style'"></div>

  <div *ngIf="!channel.coverURL" matCardImage class="header header--no-cover">
    <img class="header__avatar" [src]="channel.avatarURL | safe: 'url'" alt="">
  </div>

  <div class="profile">
    <p class="profile__name">{{ channel.title }}</p>
    <!-- <p class="rate" (click)="openReviewDialog()">
      <span class="rate__star">
        <app-mat-star-rating
          [readonly]="true"
          [rating]="rate"
        ></app-mat-star-rating>
      </span>
      <span class="rate__review-count"
        >{{ (channel.statistics.reviewCount | number) || 0 }}件のレビュー</span
      >
    </p> -->

    <!-- <div class="profile__links">
      <a [href]="link" target="_blank" class="profile__link" *ngFor="let link of channel.links">
        <i [class]="link | linkIcon"></i>
      </a>
      <a (click)="openMailDialog(channel.email)" class="profile__link">
        <i class="far fa-envelope"></i>
      </a>
    </div> -->
    <p class="profile__description">{{ channel.description }}</p>
    <div class="camp">
      <button mat-raised-button color="primary" routerLink="/channel/{{channel.id}}">詳細を見る</button>
      <!-- <p class="camp__price">50,000円 / 月</p> -->
    </div>
  </div>

  <!-- <ng-container *ngIf="plans && plans.length">
    <mat-divider></mat-divider>
    <app-plan-list [isOwner]="isOwner" [channel]="channel" [plans]="plans"></app-plan-list>
  </ng-container>

  <ng-container *ngIf="jobs && jobs.length">
    <mat-divider></mat-divider>
    <app-job-list [isOwner]="isOwner" [channel]="channel" [jobs]="jobs"></app-job-list>
  </ng-container> -->
</mat-card>
