:host {
  display: block;
  padding: 24px;
}

mat-form-field {
  display: block;
  margin: 16px 0;
}

.feature-control {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px;
  align-items: center;
}
