<form [formGroup]="form" (submit)="save()">
  <mat-form-field>
    <mat-label>id</mat-label>
    <input
      type="text"
      formControlName="id"
      matInput
      required
      autocomplete="off"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>プロダクトID</mat-label>
    <mat-select formControlName="productId" required>
      <mat-option *ngFor="let prod of prods" [value]="prod.id">{{
        prod.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>メイン価格ID</mat-label>
    <mat-select formControlName="mainPriceId" required>
      <ng-container *ngFor="let price of prices">
        <mat-option
          *ngIf="price.product.id === form.get('productId').value"
          [value]="price.id"
          >{{ price.product.name }}({{ price.unit_amount | number }}円) -
          {{ price.recurring?.interval_count
          }}{{ price.recurring?.interval | interval }}</mat-option
        >
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>プラン名</mat-label>
    <input
      type="text"
      matInput
      formControlName="name"
      required
      autocomplete="off"
    />
  </mat-form-field>
  <h2>特徴</h2>
  <div formArrayName="features">
    <div
      class="feature-control"
      *ngFor="let ctrl of features.controls; index as i"
    >
      <mat-form-field>
        <mat-label>特徴</mat-label>
        <input
          type="text"
          [formControlName]="i"
          matInput
          required
          autocomplete="off"
        />
      </mat-form-field>
      <button type="button" mat-icon-button (click)="removeFeature(i)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </div>
  <button type="button" mat-icon-button (click)="addFeature()">
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="form.pristine || form.invalid"
  >
    保存
  </button>
</form>

<!-- <form [formGroup]="form" (ngSubmit)="save()">
  <ng-container formArrayName="plans">
    <ng-container *ngFor="let plan of plans.controls; index as planIndex">

    </ng-container>
    <button type="button" (click)="addPlan()" mat-button>プランを追加</button>
  </ng-container>

  <mat-form-field>
    <mat-label>クーポンID</mat-label>
    <mat-select formControlName="coupon">
      <mat-option [value]="null">なし</mat-option>
      <mat-option *ngFor="let coupon of coupons" [value]="coupon.id">{{
        coupon.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="form.pristine || form.invalid"
  >
    保存
  </button>
</form> -->
