@import "mixins";

:host {
  display: block;
  background: #fff;
  height: 100%;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  @include sp {
    grid-template-columns: 1fr;
  }
}

.title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 1;
}

.note {
  font-size: 24px;
  margin-bottom: 32px;
}

.btn {
  font-size: 18px;
  line-height: 64px;
  border-radius: 32px;
  padding: 0 40px
}

.update-man {
  height: 400px;
  display: block;
}

.clip {
  img {
    max-width: 100%;
  }
}
