.comment {
  display: flex;
  &__main {
    flex: 1;
  }
  &__avatar {
    margin-right: 16px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      vertical-align: bottom;
    }
  }
  &__profile {
    flex: 1;
  }
  &__name {
    line-height: 1;
    margin-right: 8px;
  }
  &__date {
    font-size: 13px;
    line-height: 1;
    color: rgba(black, .6);
  }
}

.edit {
  mat-form-field {
    display: block;
    margin-bottom: 8px;
  }
  textarea {
    height: 160px;
  }
  &__actions {
    button {
      margin-right: 16px;
    }
  }
}
