:host {
  display: block;
  margin-bottom: 40px;
}

h1 {
  font-weight: normal;
  margin: 40px 0;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 40px 0 24px;
}

ul {
  margin: 24px 0;
  list-style: disc;
  padding-left: 2em;
}
