<div class="container">
  <div class="logo">
    <a routerLink="/about"
      ><img src="assets/images/logo.png" alt="CAMP" /><span>ISA</span></a
    >
  </div>

  <mat-card class="wrap">
    <section>
      <h2>ISAとは</h2>

      <p>
        ISAは「Income（所得） Share（分配）
        Agreement（契約）」の略です。明確な定義はありませんが、一般的には<strong>無料で訓練を受ける代わりに、一定条件で就職した場合、一定範囲内で給与の一部を教育者にシェアする仕組み</strong>を指します。主に授業料を支払うことが困難な方（学生や歴の浅い社会人）を対象としており、一定条件で就職できなかった場合は一切の支払いが発生しません。
      </p>

      <h3>ISAは借金ではない</h3>

      <p>ISAは借金ではありません。</p>

      <ul>
        <li>就職できなかった</li>
        <li>就職したけど年収が基準より低かった</li>
        <li>まったく関係ない職種に就職した</li>
      </ul>

      <p>
        このような場合には一切費用負担が発生しません。
      </p>

      <h3>ISAはボランティアではない</h3>

      <p>
        ISAはボランティアではなく投資です。スクールは投資家としてあなたが就職して投資（教材やメンター）に見合うリターンをもたらしてくれることを期待しています。したがって、
      </p>

      <ul>
        <li>明らかにやる気がない人</li>
        <li>卒業後就職するつもりがない人（起業やマイサービス開発が目的）</li>
        <li>人として信用できなさそうな人</li>
        <li>ボランティアだと思っている人</li>
        <li>就職見込みが著しく低い人</li>
      </ul>

      <p>
        とは契約できません。そのため、事前に簡単な審査をさせていただきます。また、訓練参加後も
      </p>

      <ul>
        <li>訓練参加率が著しく低い</li>
        <li>努力の継続が見られない</li>
        <li>攻撃的な人間性</li>
        <li>社会人スキルの欠落、改善警告の無視</li>
      </ul>

      <p>といった場合は除名処分となります。</p>
    </section>

    <section>
      <h2>CAMP ISAの要件</h2>

      <p>
        CAMPではISAの分配にまつわる計算ロジックを極めて明快かつオープンにしています。利用者が煙に巻かれることなく、明確に自分の分配金額を把握できるよう最大限配慮しています。
      </p>

      <dl class="spec">
        <dt>分配開始条件</dt>
        <dd><strong>年収300万円以上</strong>でIT系企業に就職すること</dd>
        <dt>分配金額（毎月）</dt>
        <dd>月給（年収を12分割した金額）の<strong>15%</strong></dd>
        <dt>分配上限金額</dt>
        <dd>
          在籍日数 x {{ isaService.dayCost | number: '1.0-0' }}円（最大{{
            isaService.maxCost / 10000
          }}万円）
        </dd>
        <dt>分配終了条件</dt>
        <dd>
          36回の支払い完了 or 卒業から5年経過 or 支払い上限金額に到達
        </dd>
        <dt>トライアル期間</dt>
        <dd>1週間</dd>
        <dt>年収判断</dt>
        <dd>雇用契約書や源泉徴収票の提出</dd>
        <dt>罰則</dt>
        <dd>
          申告金額と年収証明の明らかな解離があった場合や、所得隠しなどの実態が発覚した場合はその時点で上限金額300万円（税別）を一括で支払っていただきます。
        </dd>
      </dl>

      <ul class="notice">
        <li>年収とは社会保険料等が天引きされる前の金額を指します</li>
        <li>年収はボーナスや残業代を含んだ金額を指します</li>
        <li>最終的には消費税が加算されます</li>
        <li>任意のタイミングで訓練終了することができます</li>
        <li>
          就職後退職するなどして無職期間が発生した場合、その間の分配は不要です
        </li>
      </ul>

      <button
        mat-raised-button
        color="primary"
        (click)="isaService.openIsaCalc(120)"
      >
        シミュレーション
      </button>
    </section>

    <section>
      <h2>参加条件</h2>

      <p>
        ISAでは確実に一定年収で就職してもらえるよう、本気でコミットすることを約束してもらいます。
      </p>

      <ul>
        <li>平日8時間以上稼働できること</li>
        <li>ビデオ通話ができる程度のネット回線と自分専用のPCがあること</li>
        <li>毎日夕方の進捗管理MTGに参加できること</li>
        <li>
          すべてを手取り足取り教えてもらおうとせず、積極的に自分で考えることができる人
        </li>
        <li>
          エンジニアとして就職する明確な意思があること
        </li>
        <li>
          卒業後5年間毎年収入証明書（源泉徴収票、もしくは確定申告の控え）を提出すること
        </li>
      </ul>
    </section>

    <section>
      <h2>訓練内容</h2>

      <p>
        CAMPの最上級有料プランである<a routerLink="/about#plan"
          >メンタープラン</a
        >の全サービスが受けられます。CAMPは完全オンラインスクールです。
      </p>

      <ul>
        <li>毎日の進捗管理</li>
        <li>無制限の質問、ソースレビュー</li>
        <li>サービス企画支援</li>
        <li>全教材の閲覧</li>
      </ul>
    </section>

    <section>
      <h2>訓練開始から就職までの流れ</h2>

      <ol>
        <li>事前テストに通過する</li>
        <li>オンライン面談を申し込む</li>
        <li>合格する</li>
        <li>チャット、レビューツールへ招待される</li>
        <li>訓練開始（毎日夕方の進捗管理MTGに参加する）</li>
        <li>自分のオリジナルサービスをメンターと企画する</li>
        <li>サービスを開発する</li>
        <li>サービスをリリース（完成）する</li>
        <li>レジュメ添削、就職先添削を受けながら就職活動</li>
        <li>就職</li>
        <li>給与分配開始</li>
      </ol>
    </section>

    <section>
      <h2>Q&A</h2>

      <p>よくある質問です。ご不明な点は気軽にお問い合わせください。</p>

      <dl class="qa">
        <dt>初年度は年収証明書が用意できませんが、自己申告ですか？</dt>
        <dd>
          雇用契約書記載の月収を申告（提出）してください。会社に頼んでも雇用契約がどうしても提供されない場合は自己申告となりますが、初年度末の源泉徴収票の金額と解離がある場合は悪質な虚偽の申告とみなし、その時点で上限300万円を一括で精算していただきます。基本的には雇用契約書の提出をお願いしています。不規則な賞与等で源泉徴収とのズレが生じた場合はペナルティ対象となりません。
        </dd>
        <dt>リリースするまで在籍義務がありますか？</dt>
        <dd>
          原則リリースのタイミングが卒業となりますが、就職に必要なスキルがついたと思うタイミングで訓練を終了してもらっても構いません。その時点までを在籍日数としてカウントします。トライアル期間（7日）以上在籍した時点で分配義務が発生します。
        </dd>
        <dt>就職後退職した場合分配はどうなりますか？</dt>
        <dd>
          無職期間は一切分配不要です。最終在籍日から5年以内に基準年収以上で再就職した場合、分配が再開します。
        </dd>
        <dt>
          途中で合わないと判断したり除名された場合も分配義務が発生しますか？
        </dt>
        <dd>
          はい。その判断のために7日の無料期間を設けています。意図的に長期欠席して除名扱いとすることで支払いを逃れることが可能になってしまうため、除名の場合でも支払い義務が発生する契約となっております。ご了承ください。
        </dd>
      </dl>
    </section>
  </mat-card>

  <mat-card class="wrap">
    <h2>事前テストと面談予約</h2>
    <p>
      CAMP及び実務では最低限の自己解決能力が必要です。基礎スキルと自己解決能力が備わっているかを事前にテストします。
    </p>

    <h3>事前テスト</h3>
    <p>
      テストの目的は主に「自己解決能力の確認」です。調べればすぐに分かることを自分で検索して理解し、解決することができるかどうかを確認します。以下の手順でURLを取得し、応募フォームに記載してください。
    </p>

    <div>
      <ol>
        <li>CodePenにオリジナルのWebページを実装してください</li>
        <li>
          最低1つの画像（なんでもいい）、文章、見出し(h2など）を含めてください
        </li>
        <li>fontawesomeを使って何かしらのアイコンを表示してください</li>
        <li>作成したPenのURLをフォームに貼り付けてください</li>
      </ol>
    </div>

    <p>
      以上です。Webページのクオリティは問いません。重要なのは要件を満たしていることと、その方法を自分で発見することです。以下の点がポイントです。
    </p>

    <ul>
      <li>CodePenとは何か？その使い方は？について調べる</li>
      <li>fontawesomeとは何か？その使い方は？について調べる</li>
      <li>HTMLで画像を実装する方法を調べる</li>
      <li>CodePenで画像を使う方法を調べる</li>
    </ul>

    <p>
      上記は調べればすぐに答えが見つかります。CAMPでは日常的にこのような作業を行っていくことになります。この時点で気持ち的、能力的に特に壁を感じなければCAMPにマッチするでしょう。
    </p>

    <figure class="test-image">
      <img src="assets/images/isa/test.png" alt="" />
      <figcaption>回答例</figcaption>
    </figure>

    <h3>応募</h3>

    <p>
      URLが取得できたら以下のフォームから面談予約を行ってください。フォームに含まれるビデオ面談URLを使ってビデオ面談の予約をお願いします。
    </p>

    <a
      href="https://forms.gle/y5mSLJPvX62P82Do7"
      target="_blank"
      mat-raised-button
      color="primary"
      >面談予約</a
    >
  </mat-card>
</div>

<app-footer></app-footer>
