<ng-container *ngIf="items$ | async as items">
  <mat-nav-list dense *ngIf="items.length; else blank">
    <a
      [routerLink]="[item.id]"
      routerLinkActive="active"
      mat-list-item
      queryParamsHandling="merge"
      *ngFor="let item of items"
    >
      <figure
        [matBadge]="item.unreadCount && item.unreadCount[uid]"
        [matBadgeHidden]="!item.unreadCount || !item.unreadCount[uid]"
        matBadgeSize="small"
        matListAvatar
      >
        <img [src]="item.user.avatarURL | safe: 'url'" />
      </figure>
      <span matLine>{{ item.data.title }}</span>
      <span matLine class="subline"
        >{{ item.user.title }}{{ item.isOwner ? 'へ' : 'から' }}の{{
          item.plan.type | planTitleLabel
        }}</span
      >
      <mat-icon class="mat-18" color="primary" *ngIf="item.isComplete"
        >check_circle_outline</mat-icon
      >
    </a>
  </mat-nav-list>
  <ng-template #blank>
    <p class="blank">スレッドはありません</p>
  </ng-template>
</ng-container>
