<div [class.wrap]="!isEmbed">
  <div [class.mat-card]="!isEmbed" [class.wrap-card]="!isEmbed">
    <h2 class="heading">プラン</h2>
    <p class="lead">自分に合ったプランを選択してください。</p>
    <ng-template #planLoading>
      <mat-spinner class="plan-loader" [diameter]="40"></mat-spinner>
    </ng-template>
    <div *ngIf="prices$ | async as prices; else planLoading">
      <div class="plans" *ngIf="prices.length">
        <div class="plan" *ngFor="let price of prices; index as i">
          <h3 class="plan__title">{{ price.name }}</h3>
          <p class="plan__sub-title">{{ price.description }}</p>
          <p class="plan__price-label">月額料金</p>
          <p class="plan__price">
            <small>¥</small><span>{{ price.unit_amount | number }}</span
            ><small>/月</small>
          </p>

          <button
            (click)="subscribe(price.id)"
            class="plan__action"
            mat-raised-button
            color="primary"
            [disabled]="loading"
          >
            はじめる
          </button>
        </div>
      </div>
    </div>

    <ul class="notice">
      <li>価格はすべて税込です。</li>
      <li>入会金、退会金はありません</li>
      <li>PC、ネット代は自己負担です。</li>
      <li>追加教材費等はありません。上記の金額がすべてです。</li>
    </ul>

    <div class="loan">
      <figure class="loan__image">
        <img src="assets/images/loan.svg" alt="" />
      </figure>
      <div>
        <h2 class="loan__title">毎月の出費を抑えたい方へ</h2>
        <p class="loan__description">
          Flockは割賦払いに対応していませんが、カード会社の割賦払いサービス（リボ払い等）をご利用いただくことで毎月の支出を抑えることができます。
        </p>
      </div>
    </div>

    <div class="price-up">
      <figure>
        <img src="assets/images/welcome/price-system.png" alt="" />
      </figure>
      <div>
        <h3 class="price-up__hdg">早期入会者特典</h3>
        <p class="price-up__detail">
          Flockは正しい知識をしっかりと教えるため、アルバイトではなく経験豊富なメンターが限られたリソースで運営しています。ユーザーの増加に伴いより多くの工数が発生するため、人数に比例して<strong>新規入会者に対する</strong>授業料が変動します。すでに入会された方については途中から月額料金が上がることはないのでご安心ください。つまり早期にご参加いただくほどお得なシステムとなっています。
        </p>
      </div>
    </div>
  </div>
</div>
