@import 'mixins';

.wrap {
  padding: 0 24px;
  max-width: 1200px;
  margin: 40px auto;
}

.wrap-card {
  padding: 80px 40px;
  @include sp {
    padding: 16px;
  }
}

.plans {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  @include sp {
    grid-template-columns: 1fr;
  }
}

.plan {
  text-align: center;
  padding: 40px 24px;
  border: 1px solid rgba(black, 0.12);
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  &__title {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 16px;
  }
  &__sub-title {
    color: rgba(black, 0.6);
  }
  &__price-label {
    margin: 40px 0 16px;
    font-weight: 500;
    @include sp {
      margin-top: 24px;
    }
  }
  &__points {
    margin: 24px 0 32px;
    color: rgba(black, 0.6);
    flex: 1;
  }
  &__campaign {
    margin-top: 24px;
    color: #3f51b5;
    span {
      display: block;
    }
  }
  &__price {
    font-size: 24px;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    @include tablet {
      font-size: 20px;
    }
    small {
      font-size: 14px;
      margin: 0 8px;
      @include tablet {
        font-size: 14px;
      }
      &:first-child {
        margin-left: 0;
        font-size: 20px;
        font-weight: normal;
        @include tablet {
          font-size: 20px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__fact-price {
    margin-top: 16px;
    font-size: 13px;
    text-decoration: line-through;
    color: rgba(black, 0.38);
  }
  &__action {
    @include sp {
      margin-top: 0;
    }
  }
  &__trial {
    font-size: 13px;
    margin-top: 8px;
    color: rgba(black, 0.6);
    @include tablet {
      font-size: 11px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  &--sm {
    gap: 40px 80px;
  }
  @include sp {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.price-up {
  background: #fafafa;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 400px 1fr;
  padding: 40px;
  gap: 80px;
  align-items: center;
  margin-bottom: 80px;
  @include tablet {
    grid-template-columns: 200px 1fr;
    grid-area: 40px;
  }
  @include sp {
    padding: 16px;
    display: block;
  }
  &__hdg {
    font-weight: 500;
  }
  &__detail {
    color: rgba(black, 0.6);
  }
  figure {
    text-align: center;
    height: 240px;
    @include sp {
      height: auto;
      margin-bottom: 16px;
    }
  }
}

.plan-loader {
  margin: 40px auto;
}

.heading {
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
  margin: 80px 0;
  &:first-child {
    margin-top: 0;
  }
  font-weight: 500;
  &.left {
    text-align: left;
  }
  @include sp {
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.lead {
  text-align: center;
  margin: -40px 0 80px;
  opacity: 0.6;
  font-size: 16px;
  &.left {
    text-align: left;
  }
  @include sp {
    margin: -16px 0 40px;
    font-size: 14px;
  }
}

.notice {
  margin: 24px 0 40px;
  li {
    &:before {
      content: '※';
      margin-right: 8px;
    }
    color: rgba(black, 0.38);
  }
}

.ticket {
  margin-bottom: 16px;
  &__amount {
    margin: 16px 0;
  }
  &__action {
    & + & {
      margin-left: 16px;
    }
  }
}

.loan {
  display: flex;
  gap: 40px;
  align-items: center;
  border-radius: 3px;
  text-align: left;
  padding: 40px;
  margin-bottom: 24px;
  border: 1px solid rgba(black, 0.12);
  @include sp {
    flex-flow: column;
    padding: 32px 24px 24px;
    gap: 24px;
  }
  &__image {
    text-align: center;
    img {
      display: block;
      width: 320px;
      @include sp {
        width: 160px;
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 16px;
    @include sp {
      font-size: 18px;
    }
  }
}
