<mat-toolbar class="header">
  <mat-toolbar-row>
    <div class="header__left">
      <button
        class="menu"
        mat-icon-button
        aria-label="メニューを開く"
        (click)="toggleSideNav()"
        *ngIf="sideNav"
      >
        <mat-icon class="mat-18">menu</mat-icon>
      </button>
      <a class="logo" routerLink="/">
        <img src="/assets/images/logo.png" alt="CAMP" />
      </a>
    </div>
    <ais-instantsearch
      *ngIf="!isMobile"
      [config]="algoliaConfig"
      class="search"
    >
      <ais-configure [searchParameters]="searchParameters"> </ais-configure>
      <app-search-kit></app-search-kit>
    </ais-instantsearch>
    <ng-container *ngIf="user$ | async as user; else loginButton">
      <div class="btns">
        <div class="toolbar">
          <button
            class="toolbar__item"
            mat-icon-button
            routerLink="/new"
            matTooltip="投稿"
            *ngIf="user.admin"
          >
            <mat-icon class="mat-18">video_call</mat-icon>
          </button>
        </div>
        <span class="plan">{{ user.plan | plan }}</span>
        <button
          class="avatar"
          mat-mini-fab
          [matMenuTriggerFor]="menu"
          [style.background-image]="
            'url(' + user.avatarURL + ')' | safe: 'style'
          "
        ></button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/mypage">
            <mat-icon>account_box</mat-icon>
            <span>マイページ</span>
          </a>
          <a *ngIf="isStudio" mat-menu-item routerLink="/">
            <mat-icon>compare_arrows</mat-icon>
            <span>{{ title }}</span>
          </a>
          <a
            *ngIf="!isStudio && !isMobile && user.admin"
            mat-menu-item
            routerLink="/studio/{{ user.id }}"
          >
            <mat-icon>compare_arrows</mat-icon>
            <span>チャンネル管理</span>
          </a>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>ログアウト</span>
          </button>
          <mat-divider></mat-divider>
          <a mat-menu-item routerLink="/setting">
            <mat-icon>settings</mat-icon>
            <span>設定</span>
          </a>
          <a mat-menu-item routerLink="/intl/help">
            <mat-icon>help</mat-icon>
            <span>ヘルプ</span>
          </a>
          <a
            href="https://forms.gle/D4cpNkyfq87xbL3H9"
            target="_blank"
            rel="noopener"
            mat-menu-item
          >
            <mat-icon>feedback</mat-icon>
            <span>フィードバックの送信</span>
          </a>
        </mat-menu>
      </div>
    </ng-container>
    <ng-template #loginButton>
      <button
        color="primary"
        *ngIf="!isLoading"
        mat-flat-button
        (click)="login()"
        [disabled]="loginWaiting"
      >
        {{ loginWaiting ? 'ログイン中' : 'ログイン' }}
      </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
