@import 'mixins';

:host {
  @media print {
    display: none;
  }
}

.header {
  background: #fff;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 0;
  border-bottom: 1px solid rgba(black, 0.12);
  .mat-toolbar-row {
    height: 56px;
    justify-content: space-between;
    @include sp {
      height: 48px;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
}

.avatar {
  background: center/cover;
  box-shadow: none;
}

.logo {
  display: block;
  img {
    display: block;
    height: 24px;
  }
}

.logo-image {
  height: 30px;
  margin-right: 8px;
}

.btns {
  display: flex;
  align-items: center;
}

.toolbar {
  display: flex;
  align-items: center;
  height: 56px;
  &__item {
    margin-left: 16px;
    color: #606060;
    &:first-child {
      margin-left: 0;
    }
  }
  @include sp {
    display: none;
  }
}

.alert {
  &__title {
    width: 400px;
  }
  &__new {
    background: #e91e63;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
  }
  &__date {
    color: rgba(black, 0.6);
  }
}

.mat-menu-content mat-menu {
  padding-top: 0;
}

.search {
  display: block;
  flex: 1;
  padding: 0 24px;
}

.menu {
  margin-right: 16px;
}

.plan {
  font-size: 13px;
  padding: 8px;
  color: rgba(black, 0.38);
  border-radius: 2px;
  border: 1px solid rgba(black, 0.12);
  line-height: 1;
  margin-right: 16px;
}

.point {
  margin: 0 16px;
  mat-icon {
    margin-right: 4px;
  }
}

.skill-button {
  margin-right: 16px;
  color: #606060;
}
