<section *ngIf="hotCamps$ | async as hotCamps">
  <h2>キャンプ</h2>
  <div class="camp-grid">
    <mat-card class="camp" *ngFor="let camp of hotCamps" routerLink="/channel/KkyCChATj4PmkWYD2Ut3S1zH7SI3">
      <!-- <div class="camp__cover" [style.background-image]="'url(' + camp.coverURL + ')' | safe:'style'"></div> -->
      <div class="camp__cover"></div>
      <div class="camp__footer">
        <figure>
          <img class="camp__avatar" [src]="camp.avatarURL | safe:'url'" alt="">
        </figure>
        <div class="camp__footer-body">
          <p class="camp__title">{{camp.title}}</p>
          <p class="camp__owner">{{camp.title}}</p>
        </div>
      </div>
    </mat-card>
    <mat-card class="invite">
      <a href="mailto:info@deer.co.jp?subject=CAMP:メンターについて&body=メンターに興味があります" target="_blank" class="invite__body"></a>
    </mat-card>
  </div>
</section>

<div class="wrap" [class.home-loading]="isLoading">
  <ais-instantsearch [config]="algoliaConfig" class="list">
    <ais-configure [searchParameters]="trendSearchParameters"> </ais-configure>
    <ais-hits>
      <ng-template let-hits="hits" let-results="results">
        <ng-container *ngIf="hits && hits.length">
          <h2>新着レッスン</h2>
          <div class="lesson-grid">
            <app-grid-lesson-item
              *ngFor="let hit of hits | attachmentUser | async"
              [lesson]="hit"
            ></app-grid-lesson-item>
          </div>
        </ng-container>
      </ng-template>
    </ais-hits>
  </ais-instantsearch>

  <ais-instantsearch [config]="algoliaConfig" class="list" *ngIf="!noFollow">
    <ais-configure [searchParameters]="searchParameters"> </ais-configure>
    <ais-hits>
      <ng-template let-hits="hits" let-results="results">
        <ng-container *ngIf="hits && hits.length">
          <h2>フォロー</h2>
          <div class="lesson-grid">
            <app-grid-lesson-item
              *ngFor="let hit of hits | attachmentUser | async"
              [lesson]="hit"
            ></app-grid-lesson-item>
          </div>
        </ng-container>
      </ng-template>
    </ais-hits>
  </ais-instantsearch>
</div>
