@import "mixins";

:host {
  display: block;
  padding: 24px 64px 80px;
  @include sp {
    padding: 0;
  }
}

h2 {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  @include sp {
    display: none;
  }
}

.list {
  margin-bottom: 40px;
  display: block;
}

.home-loading {
  opacity: 0;
}

.wrap {
  transition: 2s;
}
