@import 'mixins';

:host {
  display: block;
  padding: 24px 24px 80px;
  @include tablet {
    padding: 24px;
  }
  @include sp {
    padding: 16px;
  }
}

.lesson-grid {
  @include sp {
    margin: 0 -16px;
  }
}

section {
  margin-bottom: 40px;
  @include sp {
    margin-bottom: 24px;
  }
}

h2 {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  padding-left: 8px;
  line-height: 1;
  @include sp {
    margin: 40px 0 16px;
    font-size: 13px;
    color: rgba(black, 0.6);
  }
}

.home-loading {
  opacity: 0;
}

.camp-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  @include sp {
    grid-template-columns: 1fr;
  }
}

.cause {
  overflow: hidden;
  &__cover {
    background: center/cover;
    padding-bottom: 52.5%;
  }
  &__title {
    font-weight: 500;
  }
  &__description {
    font-size: 12px;
    color: rgba(black, 0.6);
    letter-spacing: 1px;
  }
}

.camp {
  overflow: hidden;
  padding: 0;
  cursor: pointer;
  &__cover {
    background: url(/assets/images/nino-camp.png) center/cover;
    padding-bottom: 52.5%;
  }
  &__footer {
    display: flex;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    background: white;
    display: none;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
  }
  &__footer-body {
    flex: 1;
  }
  &__owner {
    font-size: 12px;
    opacity: 0.6;
  }
}

.invite {
  padding: 0;
  background: url(/assets/images/invite-banner.png) center/cover;
  @include sp {
    display: none;
  }
  &__body {
    display: block;
    padding: 0 0 52.5%;
  }
}

.cause-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin: 0;
  @include tablet {
    padding: 0;
  }
  @include sp {
    grid-template-columns: 1fr;
  }
}

.swiper {
  margin: -8px -24px;
  overflow: hidden;
  padding: 0 120px 0 24px;
  @include sp {
    padding: 0 24px 0 8px;
    margin: -8px -16px;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    @include sp {
      display: none;
    }
    mat-icon {
      vertical-align: bottom;
    }
    &.swiper-button-disabled {
      display: none;
    }
    &--next {
      right: -12px;
    }
    &--prev {
      left: -12px;
    }
  }
}

.swiper-slide {
  padding: 8px;
  box-sizing: border-box;
  height: auto;
  @include sp {
    padding: 4px;
  }
}

.hero {
  height: 400px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  background: #111;
  color: white;
  margin: -24px -24px 40px;
  padding: 40px;
  @include sp {
    margin: -16px -16px 40px;
  }
  &__title {
    font-size: 24px;
    line-height: 38px;
  }
  &__lead {
    margin-bottom: 24px;
    max-width: 320px;
  }
}
