<div class="hero" style="background-image: url(assets/images/cover.png)">
  <div class="hero__body">
    <h1 class="hero__title">リニューアル</h1>
    <p class="hero__lead">
      Flockが大幅にリニューアルしました！ホーム画面の刷新、投稿機能、ポイント機能、新料金プランなど多くのアップデートを行いました！
    </p>
    <button
      mat-raised-button
      color="primary"
      routerLink="/lesson"
      [queryParams]="{ v: '2MyqhBJ88colzk27O2vB' }"
    >
      アップデート詳細
    </button>
  </div>
</div>

<section>
  <h2>人気</h2>
  <mat-spinner *ngIf="!(likedLessons$ | async)" [diameter]="40"></mat-spinner>
  <swiper
    class="swiper"
    [config]="swiperConfig"
    *ngIf="likedLessons$ | async as lessons"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let lesson of lessons">
        <app-grid-lesson-item [lesson]="lesson"></app-grid-lesson-item>
      </div>
    </div>
    <div class="swiper__arrow swiper__arrow--next">
      <button mat-mini-fab><mat-icon>navigate_next</mat-icon></button>
    </div>
    <div class="swiper__arrow swiper__arrow--prev">
      <button mat-mini-fab>
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>
  </swiper>
</section>

<section>
  <h2>新着</h2>
  <mat-spinner *ngIf="!(latestLessons$ | async)" [diameter]="40"></mat-spinner>
  <swiper
    class="swiper"
    [config]="swiperConfig"
    *ngIf="latestLessons$ | async as lessons"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let lesson of lessons">
        <app-grid-lesson-item [lesson]="lesson"></app-grid-lesson-item>
      </div>
    </div>
    <div class="swiper__arrow swiper__arrow--next">
      <button mat-mini-fab><mat-icon>navigate_next</mat-icon></button>
    </div>
    <div class="swiper__arrow swiper__arrow--prev">
      <button mat-mini-fab>
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>
  </swiper>
</section>

<section>
  <h2>アップデート</h2>
  <mat-spinner *ngIf="!(updatedLessons$ | async)" [diameter]="40"></mat-spinner>
  <swiper
    class="swiper"
    [config]="swiperConfig"
    *ngIf="updatedLessons$ | async as lessons"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let lesson of lessons">
        <app-grid-lesson-item
          [updated]="true"
          [lesson]="lesson"
        ></app-grid-lesson-item>
      </div>
    </div>
    <div class="swiper__arrow swiper__arrow--next">
      <button mat-mini-fab><mat-icon>navigate_next</mat-icon></button>
    </div>
    <div class="swiper__arrow swiper__arrow--prev">
      <button mat-mini-fab>
        <mat-icon>navigate_before</mat-icon>
      </button>
    </div>
  </swiper>
</section>
