<ng-container *ngIf="!isLoading; else loading">
  <h1>{{ data.planId | plan }}プランを解約しますか？</h1>

  <form [formGroup]="form" (ngSubmit)="unsubscribe()">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>理由</mat-label>
        <mat-select formControlName="type" multiple required>
          <mat-option
            [value]="reasonsType.value"
            *ngFor="let reasonsType of reasonsTypes"
            >{{ reasonsType.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>感想</mat-label>
        <textarea matInput formControlName="detail"></textarea>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-button type="button" matDialogClose>キャンセル</button>
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        解約
      </button>
    </mat-dialog-actions>
  </form>
</ng-container>

<ng-template #loading>
  <div class="is-loading">
    <mat-spinner [diameter]="40"></mat-spinner>
    <p>解約しています。</p>
  </div>
</ng-template>
