<h1 mat-dialog-title>
  <span>{{ plan.type | planTitleLabel }}</span>
  <span class="cost">{{ plan.amount | number }}円 / {{plan.per | planPerLabel}}</span>
</h1>
<div mat-dialog-content>
  <ng-container *ngIf="plan.type !== 'premium'; else premiumSection">
    <p>{{ plan.description }}</p>
    <ul class="notice">
      <li>重すぎたり対応に必要な情報が不足している場合リクエストは承認されません。</li>
      <li>リクエストが承認された時点で対応内容に関わらず費用が発生します。</li>
      <li>リクエストが承認されない場合料金は発生しません。</li>
      <li>リクエストに連ねて別の対応を求めることはできません。</li>
      <li>対応後は相互レビューを行います。</li>
    </ul>
  </ng-container>
  <ng-template #premiumSection>
    <ul class="list">
      <li>
        {{ channel.statistics.lessonCount }}
        本の有料ポストとコースが見放題になります。
      </li>
    </ul>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>キャンセル</button>
  <button mat-button color="primary" cdkFocusInitial>
    {{plan.type === 'premium' ? '登録' : 'リクエスト'}}
  </button>
</div>
