<h1 mat-dialog-header>ポストガイドライン</h1>

<mat-dialog-content>
  <h2>動画は3分を目安にする</h2>

  <p>人の集中力は何十分ももちません。要点をまとめて3分で知識をまとめましょう。3分単位でポストをまとめることで撮り直しのリスクや冗長化を避けることができます。</p>

  <h2>ハキハキと、落ち着いて話す</h2>

  <p>ボソボソ話すのはもちろんNGですが、あー、えー、えーっと、などが多いと聞き辛くなるので、ハキハキと要領よく話すことが大切です。慣れるまではトークスクリプト（台本）を用意しておきましょう。</p>

  <h2>エディターを拡大する</h2>

  <p>エディターの画面キャプチャをするときは事前にエディターの文字サイズを2段階ほどあげておきましょう。こうすることでスマートフォンユーザーにも見やすい文字になります。</p>

  <h2>Macの部分拡大機能を使う</h2>

  <p>Macの部分拡大機能を使えば説明中に該当箇所をピンポイントで拡大することができます。</p>

  <h2>動画を圧縮する</h2>

  <p>Vimeoの有料プランを使う場合容量制限があるため、事前に動画を圧縮しましょう。圧縮用の<a href="/assets/mov-minify.zip">Automatterを用意</a>しています。（Mac専用）</p>

  <h2>ヘッドセットを使う</h2>

  <p>PC内臓マイクだとキーボードの音も拾ってしまいます。また、iPhoneなどに付属するイヤホンタイプのヘッドセットは服ずれでノイズが発生しやすいので、できれば<a href="https://www.amazon.co.jp/Logicool-ロジクール-スマホ対応H111r-ステレオヘッドセット-3-5mmオーディオジャック/dp/B079QB3DS5/ref=zg_bs_2152016051_2?_encoding=UTF8&psc=1&refRID=SAKVJJY7ZPVV64FC1JYA" target="_blank">耳にかけるタイプのヘッドセット（千円弱）<mat-icon inline>open_in_new</mat-icon></a>を購入しましょう。</p>

  <h2>Quicktimeを使う</h2>

  <p>Macの場合もともと<a href="https://support.apple.com/ja-jp/HT201361" target="_blank">スクリーンキャプチャ（動画、画像）が可能<mat-icon inline>open_in_new</mat-icon></a>です。</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>閉じる</button>
</mat-dialog-actions>
