<footer class="footer">
  <div class="footer-navs">
    <a routerLink="/intl/about">ゴミ について</a>
    <a routerLink="/intl/guideline">ガイドライン</a>
    <a routerLink="/intl/help">ヘルプ</a>
    <a routerLink="/intl/press">プレスルーム</a>
    <a routerLink="/intl/legal">特定商取引法に基づく表示</a>
    <a routerLink="/intl/contact">お問い合わせ</a>
  </div>

  <div class="footer-navs">
    <a routerLink="/intl/terms">利用規約</a>
    <a routerLink="/intl/privacypolicy">プライバシー</a>
  </div>

  <p class="copyright">© {{ date | date: 'yyyy' }} Deer, inc</p>
</footer>
