@import "mixins";

.footer {
  padding: 24px;
  border-top: 1px solid rgba(black, .12);
  @include sp {
    padding-bottom: 90px;
  }
}

.footer-navs {
  margin-bottom: 16px;
  color: rgba(black, .6);
  font-size: 13px;
  a {
    display: inline-block;
    margin-right: 16px;
  }
}

.copyright {
  color: rgba(black, .38);
  font-size: 12px;
}
