@import "mixins";

.footer {
  padding: 24px;
  border-top: 1px solid rgba(black, 0.12);
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
  @include sp {
    padding-bottom: 90px;
  }
}

.footer-navs {
  margin-bottom: 16px;
  color: rgba(black, 0.6);
  font-size: 13px;
  a {
    display: inline-block;
    margin-right: 16px;
  }
}

.copyright {
  color: rgba(black, 0.38);
  font-size: 12px;
}
