h1 {
  font-size: 16px;
  font-weight: normal;
}

p {
  margin-bottom: 16px;
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 16px;
}

h2 {
  font-size: 16px;
  margin: 16px 0;
  font-weight: normal;
}

.wrap {
  display: flex;
  img {
    width: 50%;
    margin-right: 16px;
    border: 1px solid rgba(black, .12);
  }
  dl {
    flex: 1;
    margin: 0;
    dt:after {
      content: ':';
    }
    dd {
      margin-left: 0;
      margin-bottom: 16px;
      color: rgba(black, .6);
    }
  }
}
