<h1 matDialogHeader>ビデオをアップロードする</h1>

<mat-dialog-content>
  <h2>公開動画</h2>

  <p><a href="https://vimeo.com/jp/upload" target="_blank">Vimeo</a>
    <mat-icon inline>open_in_new</mat-icon>にアップロードした後、動画IDを入力してください。
  </p>

  <img src="/assets/images/vimeo-id.png" alt="">

  <h2>メンバー限定動画</h2>

  <p>Vimeoフリープランの場合どこからでも動画にアクセスすることができます。マイチャンネルのプレミアムメンバー限定で公開したい場合、VimeoをPlusプラン以上にアップグレードして以下の設定で動画をアップロードしてください。
  </p>

  <div class="wrap">
    <img src="/assets/images/vimeo-upload-setting.png" alt="">
    <dl>
      <dt>誰が視聴できるか</dt>
      <dd>この動画をVimeoで非表示</dd>
      <dt>特定のドメイン</dt>
      <dd>3ml.app</dd>
    </dl>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button matDialogClose>閉じる</button>
</mat-dialog-actions>
