.plan-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.plan-header {
  padding: 32px 24px;
  background: url(/assets/images/plan-bg.jpg) center;
  box-sizing: border-box;
  color: #ffffff;
  h3 {
    font-size: 18px;
    margin: 0;
    font-weight: normal;
    line-height: 1;
  }
}

.plan-card {
  p + p {
    margin-top: 1em;
  }
}

.features {
  margin: 24px 0;
  font-size: 13px;
  color: rgba(black, .6);
}
