<div class="plan-grid">
  <mat-card class="plan-card" *ngFor="let plan of items$ | async; let i = index;">
    <div class="plan-header" [style.background-image]="'url(/assets/images/plan-bg-' + (i + 1) + '.jpg)'" matCardImage>
      <h3>{{plan.nickname}}</h3>
    </div>
    <mat-card-content>
      <p>
        {{plan.description}}
      </p>
      <p>￥{{plan.amount | number}}（税別）/月</p>

      <ul class="features">
        <li *ngIf="plan.forum?.read">フォーラム閲覧</li>
        <li *ngIf="plan.forum?.write">フォーラム投稿（{{plan.forum.writeLimit | limit}}）</li>
        <li *ngIf="plan.review?.write">レビュー（{{plan.review.writeLimit | limit}}）</li>
        <li *ngIf="plan.coaching?.appointment">コーチング（{{plan.coaching.appointmentLimit | limit}}）</li>
      </ul>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <ng-container *ngIf="plan.subscription; else new">
        <button mat-button (click)="openUnsubscribeDialog(plan)">退会</button>
      </ng-container>
      <ng-template #new>
        <button *ngIf="plan.payment; else card" mat-button (click)="subscribePlan(
          plan.payment.customerId,
          plan
        )">はじめる</button>
        <ng-template #card>
          <button mat-button open="openCardDialog()">クレジットカードを登録する</button>
        </ng-template>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
