<div class="container">
  <h1>プレスルーム</h1>

  <h2>サービス説明</h2>
  <p>誰でも簡単にオンラインスクールをはじめることができるCtoCブートキャンプサービス。</p>

  <h2>ロゴ</h2>
  <p>ロゴは自由にご利用ください。</p>
  <p><a href="/assets/images/logos.zip" mat-flat-button color="primary">ダウンロード</a></p>
  <div class="logos">
    <mat-card>
      <img src="/assets/images/logo.png" alt="">
    </mat-card>
    <mat-card class="logos__dark">
      <img src="/assets/images/logo-white.png" alt="">
    </mat-card>
    <mat-card>
      <img src="/assets/images/logo-icon.png" alt="">
    </mat-card>
    <mat-card class="logos__dark">
      <img src="/assets/images/logo-icon-white.png" alt="">
    </mat-card>
  </div>
</div>
