<div class="container">
  <h1>プレスルーム</h1>

  <p>サービスのロゴ、説明文は各メディアで自由にご利用ください。</p>

  <h2>サービス説明</h2>

  <p>
    3MLは、日本・東京に本社(Deer, Inc)を置くレッスン共有サービス。3MLは「3 Minutes
    Lesson」の略で、3分程度のレッスンを気軽にシェアすることを目的としています。
  </p>

  <h2>ロゴ</h2>

  <p>400 x 400 の PNG、PNG（白）、SVGをご用意しています。</p>

  <div class="logos">
    <div class="logos__white">
      <img src="/assets/images/logos/logo.png" alt="3MLのロゴ">
    </div>
    <div class="logos__black">
      <img src="/assets/images/logos/logo-white.png" alt="3MLのロゴ">
    </div>
    <div class="logos__white">
      <img src="/assets/images/logos/logo.svg" alt="3MLのロゴ">
    </div>
  </div>

  <a href="/assets/logo.zip" target="_blank" color="primary" mat-flat-button
    >ダウンロード</a
  >
</div>
