.name-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

mat-radio-button {
  margin-right: 16px;
}

h3 {
  font-size: 14px;
  margin-top: 24px;
  font-weight: normal;
}

.dob-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

button {
  margin-top: 16px;
}
