h1 {
  font-size: 16px;
  margin: 24px 0;
  font-weight: normal;
}

dl {
  dt {
    font-size: 14px;
    margin-bottom: 8px;
  }

  dd {
    margin-left: 0;
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 200;
    color: rgba(black, .6);
  }
}
