<div class="container">
  <h1>特定商取引法に基づく表示</h1>

  <dl>
    <dt>販売業者の正式名称</dt>
    <dd>株式会社Deer</dd>
    <dt>所在地</dt>
    <dd>〒160-0022　東京都新宿区新宿1-36-2 新宿第七葉山ビル3F</dd>
    <dt>電話番号</dt>
    <dt>メールアドレス</dt>
    <dd>info@deer.co.jp</dd>
    <dt>運営責任者</dt>
    <dd>二宮 大地</dd>
    <dt>商品代金以外の必要料金</dt>
    <dd>利用料金は無料ですが、売上の中から15％の手数料がかかります。</dd>
    <dt>返品・交換の方法</dt>
    <dd>
      商品購入後のキャンセルはできません。ただし、記載の内容が販売者の都合によって提供されなかった場合事実関係を調査した上で返金いたします。
    </dd>
    <dt>引渡し時期</dt>
    <dd>即時</dd>
    <dt>支払い方法</dt>
    <dd>クレジットカードのみ</dd>
    <dt>支払い時期</dt>
    <dd>商品購入時（リクエストの場合、リクエスト承認時）</dd>
    <dt>販売価格</dt>
    <dd>
      販売者が提示するプランごとに表示された金額と致します（表示価格は消費税込みの金額です）。
    </dd>
  </dl>
</div>
